<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<head>
    <title>Home</title>

    <script th:src="@{sockjs.min.js}"></script>
    <script th:src="@{stomp.min.js}"></script>
    <script th:src="@{jquery.js}"></script>

</head>
<body>
<p>
    聊天室
</p>

<form id="wiselyForm">
    bankId：<textarea rows="2" cols="30" name="bankId"></textarea>
    userId：<textarea rows="2" cols="30" name="userId"></textarea>
    type：<textarea rows="2" cols="30" name="type"></textarea>
    <input type="submit"/>
</form>

<script th:inline="javascript">
    $('#wiselyForm').submit(function (e) {
        e.preventDefault();
        var bankId = $('#wiselyForm').find('textarea[name="bankId"]').val();
        var userId = $('#wiselyForm').find('textarea[name="userId"]').val();
        var type = $('#wiselyForm').find('textarea[name="type"]').val();
        sendSpittle(bankId, userId, type);
    });
    //链接endpoint名称为 "/endpointChat" 的endpoint。
    //    var sock = new SockJS("/endpointChat");
//    var sock = new SockJS("http://localhost:8001" + "/videoFace");
    var sock = new SockJS("/videoFace");
    var stomp = Stomp.over(sock);
    stomp.connect('guest', 'guest', function (frame) {

        /**  订阅了/user/queue/notifications 发送的消息,这里雨在控制器的 convertAndSendToUser 定义的地址保持一致, 
         *  这里多用了一个/user,并且这个user 是必须的,使用user 才会发送消息到指定的用户。 
         *  */
        stomp.subscribe("/user/topic/addQueue", handleNotification);
    });


    function handleNotification(message) {
        $('#output').append("<b>Received: " + message.body + "</b><br/>")
    }

    function sendSpittle(bankId, userId, type) {
        stomp.send("/ws/queue/wait", {}, JSON.stringify({'bankId': bankId, 'userId': userId, 'type': type}));//3
    }

    $('#stop').click(function () {
        sock.close()
    });
</script>

<div id="output"></div>
</body>
</html>