<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<head>
    <title>Home</title>

    <script th:src="@{sockjs.min.js}"></script>
    <script th:src="@{stomp.min.js}"></script>
    <script th:src="@{jquery.js}"></script>

</head>
<body>
<p>
    聊天室
</p>

<form id="wiselyForm">
    <textarea rows="4" cols="60" name="text"></textarea>
    <input type="submit"/>
</form>

<script th:inline="javascript">
    $('#wiselyForm').submit(function (e) {
        e.preventDefault();
        var text = $('#wiselyForm').find('textarea[name="text"]').val();
        sendSpittle(text);
    });

    // 建立websocket连接
    function openWs() {
        websocket = new SockJS("http://localhost:8001" + "/videoFace");

        var stompClient = Stomp.over(websocket);
        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/topic/hello', function (data) { // 订阅消息
                console.log("收到topic消息：" + data.body);          // body中为具体消息内容
            });
            stompClient.subscribe('/user/' + 123 + '/message', function (message) {
                console.log("收到session消息：" + message.body); // body中为具体消息内容
            });
        });

        document.getElementById("sendws").onclick = function () {
            stompClient.send("/app/message", {}, JSON.stringify({
                name: "name",
                msg: "发送的消息aaa"
            }));
        }
    }

    // 关闭连接
    function wsClose() {
        websocket.close();
    }
</script>

<div id="output"></div>
</body>
</html>