<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.dao.AuthDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.AuthDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="source_id" jdbcType="BIGINT" property="sourceId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, source_id, type, gmt_create, gmt_modify
  </sql>

    <!--getAllHasAuthByUserGroupId-->
    <select id="getAllHasAuthByUserGroupId" resultType="java.lang.Long">
        select a.source_id
        from auth AS a, user_group_rela_area_auth AS b
        where a.id = b.auth_id
        AND b.user_group_id = #{userGroupId}
        <if test="type != null">
            AND type = #{type}
        </if>
    </select>

    <!--convertToAuthId-->
    <select id="convertToAuthId" resultType="java.lang.Long">
        SELECT DISTINCT(id)
        FROM auth
        WHERE source_id IN
        <foreach collection="authEntityIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        <if test="type != null">
            AND type = #{type}
        </if>
    </select>

    <!--getAll-->
    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from auth
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from auth
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from auth
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.AuthDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into auth (id, source_id, type,
        gmt_create, gmt_modify)
        values (#{id,jdbcType=BIGINT}, #{sourceId,jdbcType=BIGINT}, #{type,jdbcType=TINYINT},
        #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.AuthDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sourceId != null">
                source_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="sourceId != null">
                #{sourceId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.AuthDO">
        update auth
        <set>
            <if test="sourceId != null">
                source_id = #{sourceId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.AuthDO">
    update auth
    set source_id = #{sourceId,jdbcType=BIGINT},
      type = #{type,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>