<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.BankLendRecordDOMapper" >
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.BankLendRecordDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="loan_order" property="loanOrder" jdbcType="BIGINT" />
    <result column="lend_date" property="lendDate" jdbcType="TIMESTAMP" />
    <result column="lend_amount" property="lendAmount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="record_status" property="recordStatus" jdbcType="TINYINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, loan_order, lend_date, lend_amount, status, record_status, gmt_create, feature
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bank_lend_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bank_lend_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunche.loan.domain.entity.BankLendRecordDO" >
    insert into bank_lend_record (id, loan_order, lend_date, 
      lend_amount, status, record_status, 
      gmt_create, feature)
    values (#{id,jdbcType=INTEGER}, #{loanOrder,jdbcType=BIGINT}, #{lendDate,jdbcType=TIMESTAMP}, 
      #{lendAmount,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{recordStatus,jdbcType=TINYINT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{feature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.BankLendRecordDO" >
    insert into bank_lend_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loanOrder != null" >
        loan_order,
      </if>
      <if test="lendDate != null" >
        lend_date,
      </if>
      <if test="lendAmount != null" >
        lend_amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="recordStatus != null" >
        record_status,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="feature != null" >
        feature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loanOrder != null" >
        #{loanOrder,jdbcType=BIGINT},
      </if>
      <if test="lendDate != null" >
        #{lendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lendAmount != null" >
        #{lendAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.BankLendRecordDO" >
    update bank_lend_record
    <set >
      <if test="loanOrder != null" >
        loan_order = #{loanOrder,jdbcType=BIGINT},
      </if>
      <if test="lendDate != null" >
        lend_date = #{lendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lendAmount != null" >
        lend_amount = #{lendAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="recordStatus != null" >
        record_status = #{recordStatus,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="feature != null" >
        feature = #{feature,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.BankLendRecordDO" >
    update bank_lend_record
    set loan_order = #{loanOrder,jdbcType=BIGINT},
      lend_date = #{lendDate,jdbcType=TIMESTAMP},
      lend_amount = #{lendAmount,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      record_status = #{recordStatus,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      feature = #{feature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByLoanOrder" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bank_lend_record
    where loan_order = #{loanOrder} and  record_status='1'
  </select>
</mapper>