<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.BankRepayQueryDOMapper" >

    <select id="selectByIdCardOrRepayCard" resultType="com.yunche.loan.domain.param.BankRepayParam">
        SELECT
        a.id AS orderId,
        c.id_card AS idCard,
        d.repay_card_id AS repayCard
        FROM
        loan_order a
        LEFT JOIN bank_card_record d ON a.id= d.order_id
        LEFT JOIN loan_process b ON a.id = b.order_id
        LEFT JOIN loan_customer c ON a.loan_customer_id = c.id
        WHERE
            1=1
        AND b.bank_lend_record = 1
        <if test="idCard != null ">
            AND c.id_card =#{idCard}
        </if>
        <if test="repayCard != null">
            AND d.repay_card_id =#{repayCard}
        </if>


    </select>

    <select id="selectRepayPlanListByOrderId" resultType="com.yunche.loan.domain.entity.LoanRepayPlanDO">
        select
            order_id        AS orderId,
            repay_date      AS repayDate,
            payable_amount  AS payableAmount,
            is_overdue      AS isOverdue,
            overdue_amount  AS overdueAmount,
            check_date      AS checkDate,
            status          AS status
        from
            loan_repay_plan
        where order_id=#{orderId}
    </select>

    <select id="selectOverdueRepayPlanList" resultType="com.yunche.loan.domain.entity.LoanRepayPlanDO">

        SELECT
            order_id        AS orderId,
            repay_date      AS repayDate,
            payable_amount  AS payableAmount,
            is_overdue      AS isOverdue,
            overdue_amount  AS overdueAmount,
            check_date      AS checkDate,
            status          AS status,
            nper            AS nper
        FROM
            loan_repay_plan
        WHERE
            order_id = #{orderId}
            AND TO_DAYS(repay_date) &lt;= TO_DAYS(#{batchDate})
            ORDER BY
            repay_date DESC
        <if test="overdueTimes !=null">
            LIMIT #{overdueTimes}
        </if>


    </select>

    <select id="selectBankRepayImpRecord" resultType="com.yunche.loan.domain.entity.BankRepayImpRecordDO">
        select
            id,
            bank_file_mark AS bankFileMark,
            gmt_create AS gmtCreate,
            operator
        from
            bank_repay_imp_record
        where
            1=1
        <if test="fileName != null and fileName != '' ">
            AND bank_file_mark LIKE CONCAT('%',#{fileName},'%')
        </if>
        <if test="startDate != null">
            AND TO_DAYS(gmt_create) &gt;= TO_DAYS(#{startDate})
        </if>
        <if test="endDate != null">
            AND TO_DAYS(gmt_create) &lt;= TO_DAYS(#{endDate})
        </if>
    </select>
    <select id="selectBankRepayRecordDetail" resultType="com.yunche.loan.domain.vo.BankRepayRecordVO">
        select
            user_name         AS userName ,
            id_card           AS idCard,
            repay_card        AS repayCard,
            card_balance      AS cardBalance,
            overdue_amount    AS overdueAmount,
            overdue_times     AS overdueTimes,
            max_overdue_times AS maxOverdueTimes,
            is_customer       AS isCustomer
        from bank_repay_record
        where
            bank_repay_imp_record_id=#{bankRepayImpRecordId}
            <if test="userName != null and userName != '' ">
                AND user_name LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="idCard != null">
                AND id_card=#{idCard}
            </if>
            <if test="isCustomer !=null">
                AND is_customer=#{isCustomer}
            </if>

    </select>

    <select id="selectRepayPlanByNper" resultType="com.yunche.loan.domain.entity.LoanRepayPlanDO">

        SELECT
            order_id             AS orderId,
            repay_date           AS repayDate,
            payable_amount       AS payableAmount,
            actual_repay_amount  AS actualRepayAmount,
            is_overdue           AS isOverdue,
            overdue_amount       AS overdueAmount,
            check_date           AS checkDate,
            `status`,
            nper
        FROM
            loan_repay_plan
        WHERE
            order_id = #{orderId}
            AND nper = #{nper}


    </select>

</mapper>