<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.BankUrgeRecordDOMapper" >
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.BankUrgeRecordDO" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="sendee" property="sendee" jdbcType="BIGINT" />
    <result column="urge_status" property="urgeStatus" jdbcType="TINYINT" />
    <result column="bank_repay_imp_record_id" property="bankRepayImpRecordId" jdbcType="BIGINT" />
    <result column="sendee_date" property="sendeeDate" jdbcType="TIMESTAMP" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, operator, sendee, urge_status, bank_repay_imp_record_id, sendee_date, gmt_create
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from bank_urge_record
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bank_urge_record
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunche.loan.domain.entity.BankUrgeRecordDO" >
    insert into bank_urge_record (order_id, operator, sendee,
      urge_status, bank_repay_imp_record_id, sendee_date,
      gmt_create)
    values (#{orderId,jdbcType=BIGINT}, #{operator,jdbcType=VARCHAR}, #{sendee,jdbcType=BIGINT},
      #{urgeStatus,jdbcType=TINYINT}, #{bankRepayImpRecordId,jdbcType=BIGINT}, #{sendeeDate,jdbcType=TIMESTAMP},
      #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"   parameterType="com.yunche.loan.domain.entity.BankUrgeRecordDO" >
    insert into bank_urge_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="sendee != null" >
        sendee,
      </if>
      <if test="urgeStatus != null" >
        urge_status,
      </if>
      <if test="bankRepayImpRecordId != null" >
        bank_repay_imp_record_id,
      </if>
      <if test="sendeeDate != null" >
        sendee_date,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="sendee != null" >
        #{sendee,jdbcType=BIGINT},
      </if>
      <if test="urgeStatus != null" >
        #{urgeStatus,jdbcType=TINYINT},
      </if>
      <if test="bankRepayImpRecordId != null" >
        #{bankRepayImpRecordId,jdbcType=BIGINT},
      </if>
      <if test="sendeeDate != null" >
        #{sendeeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.BankUrgeRecordDO" >
    update bank_urge_record
    <set >
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="sendee != null" >
        sendee = #{sendee,jdbcType=BIGINT},
      </if>
      <if test="urgeStatus != null" >
        urge_status = #{urgeStatus,jdbcType=TINYINT},
      </if>
      <if test="bankRepayImpRecordId != null" >
        bank_repay_imp_record_id = #{bankRepayImpRecordId,jdbcType=BIGINT},
      </if>
      <if test="sendeeDate != null" >
        sendee_date = #{sendeeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.BankUrgeRecordDO" >
    update bank_urge_record
    set operator = #{operator,jdbcType=VARCHAR},
      sendee = #{sendee,jdbcType=BIGINT},
      urge_status = #{urgeStatus,jdbcType=TINYINT},
      bank_repay_imp_record_id = #{bankRepayImpRecordId,jdbcType=BIGINT},
      sendee_date = #{sendeeDate,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>