<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.BankCarLicenseLocationDOMapper" >
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.BankCarLicenseLocationDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="bank_id" property="bankId" jdbcType="BIGINT" />
    <result column="area_id" property="areaId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bank_id, area_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bank_car_license_location
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bank_car_license_location
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.BankCarLicenseLocationDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id"
               order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bank_car_license_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <delete id="deleteByBankId">
    delete from bank_car_license_location
    where bank_id = #{bankId,jdbcType=BIGINT}
  </delete>
  <select id="listByBankId" resultType="com.yunche.loan.domain.entity.BankCarLicenseLocationDO">
    select
    <include refid="Base_Column_List" />
    from bank_car_license_location
    where bank_id = #{bankId,jdbcType=BIGINT}
  </select>
</mapper>