<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.BankRelaQuestionDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.BankRelaQuestionDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="bank_id" jdbcType="BIGINT" property="bankId"/>
        <result column="question" jdbcType="VARCHAR" property="question"/>
        <result column="required" jdbcType="TINYINT" property="required"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, bank_id, question, required, type, gmt_create, gmt_modify
  </sql>

    <!--deleteAllByBankId-->
    <delete id="deleteAllByBankId" parameterType="java.lang.Long">
    delete from bank_rela_question
    where bank_id = #{bankId,jdbcType=BIGINT}
  </delete>

    <!--listByBankIdAndType-->
    <select id="listByBankIdAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bank_rela_question
        <where>
            <if test="bankId != null">
                AND bank_id = #{bankId,jdbcType=BIGINT}
            </if>
            <if test="type != null">
                AND type = #{type,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bank_rela_question
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bank_rela_question
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.BankRelaQuestionDO">
    insert into bank_rela_question (id, bank_id, question, 
      required, type, gmt_create, 
      gmt_modify)
    values (#{id,jdbcType=BIGINT}, #{bankId,jdbcType=BIGINT}, #{question,jdbcType=VARCHAR}, 
      #{required,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.BankRelaQuestionDO">
        insert into bank_rela_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="bankId != null">
                bank_id,
            </if>
            <if test="question != null">
                question,
            </if>
            <if test="required != null">
                required,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="bankId != null">
                #{bankId,jdbcType=BIGINT},
            </if>
            <if test="question != null">
                #{question,jdbcType=VARCHAR},
            </if>
            <if test="required != null">
                #{required,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.BankRelaQuestionDO">
        update bank_rela_question
        <set>
            <if test="bankId != null">
                bank_id = #{bankId,jdbcType=BIGINT},
            </if>
            <if test="question != null">
                question = #{question,jdbcType=VARCHAR},
            </if>
            <if test="required != null">
                required = #{required,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.BankRelaQuestionDO">
    update bank_rela_question
    set bank_id = #{bankId,jdbcType=BIGINT},
      question = #{question,jdbcType=VARCHAR},
      required = #{required,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>