<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.configure.info.address.BaseAeraDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.obj.configure.info.address.BaseAreaDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="area_id" jdbcType="BIGINT" property="areaId"/>
        <result column="parent_area_id" jdbcType="BIGINT" property="parentAreaId"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="level" jdbcType="TINYINT" property="level"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, area_id, parent_area_id, area_name, level
  </sql>

    <sql id="Base_Query_List">
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="areaId != null">
            AND area_id = #{areaId}
        </if>
        <if test="parentAreaId != null">
            AND parent_area_id = #{parentAreaId}
        </if>
        <if test="areaName != null and areaName != '' ">
            AND area_name = #{areaName}
        </if>
        <if test="level != null">
            AND level = #{level}
        </if>
    </sql>

    <!-- query -->
    <select id="query" parameterType="com.yunche.loan.query.configure.info.address.BaseAreaQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_area
        <where>
            <include refid="Base_Query_List"/>
        </where>
        limit startRow, pageSize
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_area
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yunche.loan.obj.configure.info.address.BaseAreaDO">
    insert into base_area (id, area_id, parent_area_id, 
      area_name, level)
    values (#{id,jdbcType=INTEGER}, #{areaId,jdbcType=BIGINT}, #{parentAreaId,jdbcType=BIGINT}, 
      #{areaName,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.obj.configure.info.address.BaseAreaDO">
        insert into base_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="parentAreaId != null">
                parent_area_id,
            </if>
            <if test="areaName != null">
                area_name,
            </if>
            <if test="level != null">
                level,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=BIGINT},
            </if>
            <if test="parentAreaId != null">
                #{parentAreaId,jdbcType=BIGINT},
            </if>
            <if test="areaName != null">
                #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.obj.configure.info.address.BaseAreaDO">
        update base_area
        <set>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=BIGINT},
            </if>
            <if test="parentAreaId != null">
                parent_area_id = #{parentAreaId,jdbcType=BIGINT},
            </if>
            <if test="areaName != null">
                area_name = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.obj.configure.info.address.BaseAreaDO">
    update base_area
    set area_id = #{areaId,jdbcType=BIGINT},
      parent_area_id = #{parentAreaId,jdbcType=BIGINT},
      area_name = #{areaName,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>