<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.dao.mapper.BaseAeraDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.dataObj.BaseAreaDO">
        <id column="area_id" jdbcType="BIGINT" property="areaId"/>
        <result column="parent_area_id" jdbcType="BIGINT" property="parentAreaId"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="level" jdbcType="TINYINT" property="level"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    </resultMap>
    <sql id="Base_Column_List">
        area_id, parent_area_id, area_name, level, gmt_create, gmt_modify
    </sql>

    <sql id="Base_Query_List">
        <if test="areaId != null">
            AND area_id = #{areaId}
        </if>
        <if test="parentAreaId != null">
            AND parent_area_id = #{parentAreaId}
        </if>
        <if test="areaName != null and areaName != '' ">
            AND area_name = #{areaName}
        </if>
        <if test="level != null">
            AND level = #{level}
        </if>
    </sql>

    <!--  count -->
    <select id="count" parameterType="com.yunche.loan.domain.QueryObj.BaseAreaQuery"
            resultType="java.lang.Long">
        select COUNT(*)
        from base_area
        <where>
            <include refid="Base_Query_List"/>
        </where>
    </select>

    <!-- query -->
    <select id="query" parameterType="com.yunche.loan.domain.QueryObj.BaseAreaQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_area
        <where>
            <include refid="Base_Query_List"/>
        </where>
        limit startRow, pageSize
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_area
        where area_id = #{areaId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from base_area
        where area_id = #{areaId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yunche.loan.domain.dataObj.BaseAreaDO">
        insert into base_area (area_id, parent_area_id, area_name,
        level)
        values (#{areaId,jdbcType=BIGINT}, #{parentAreaId,jdbcType=BIGINT}, #{areaName,jdbcType=VARCHAR},
        #{level,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.domain.dataObj.BaseAreaDO">
        insert into base_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="areaId != null">
                area_id,
            </if>
            <if test="parentAreaId != null">
                parent_area_id,
            </if>
            <if test="areaName != null">
                area_name,
            </if>
            <if test="level != null">
                level,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="areaId != null">
                #{areaId,jdbcType=BIGINT},
            </if>
            <if test="parentAreaId != null">
                #{parentAreaId,jdbcType=BIGINT},
            </if>
            <if test="areaName != null">
                #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.dataObj.BaseAreaDO">
        update base_area
        <set>
            <if test="parentAreaId != null">
                parent_area_id = #{parentAreaId,jdbcType=BIGINT},
            </if>
            <if test="areaName != null">
                area_name = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=TINYINT},
            </if>
        </set>
        where area_id = #{areaId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.dataObj.BaseAreaDO">
    update base_area
    set parent_area_id = #{parentAreaId,jdbcType=BIGINT},
      area_name = #{areaName,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT}
    where area_id = #{areaId,jdbcType=BIGINT}
  </update>
</mapper>