<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.BizAreaRelaPartnerDOMapper" >
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.BizAreaRelaPartnerDO" >
    <id column="biz_area_id" property="bizAreaId" jdbcType="BIGINT" />
    <id column="partner_id" property="partnerId" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    biz_area_id, partner_id, gmt_create, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yunche.loan.domain.entity.BizAreaRelaPartnerDOKey" >
    select 
    <include refid="Base_Column_List" />
    from biz_area_rela_partner
    where biz_area_id = #{bizAreaId,jdbcType=BIGINT}
      and partner_id = #{partnerId,jdbcType=BIGINT}
  </select>

  <select id="selectByAreaId" resultType="com.yunche.loan.domain.vo.BizAreaPartnerVO">

    select
		partner.id as partner_id,partner.name as partner_name
    from biz_area_rela_partner biz_area_rela_partner
    left join partner partner on biz_area_rela_partner.partner_id = partner.id
    where biz_area_id = #{bizAreaId,jdbcType=BIGINT}

  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.yunche.loan.domain.entity.BizAreaRelaPartnerDOKey" >
    delete from biz_area_rela_partner
    where biz_area_id = #{bizAreaId,jdbcType=BIGINT}
      and partner_id = #{partnerId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByBizAreaId" >
    delete from biz_area_rela_partner
    where biz_area_id = #{bizAreaId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunche.loan.domain.entity.BizAreaRelaPartnerDO" >
    insert into biz_area_rela_partner (biz_area_id, partner_id, gmt_create, 
      gmt_modify)
    values (#{bizAreaId,jdbcType=BIGINT}, #{partnerId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.BizAreaRelaPartnerDO" >
    insert into biz_area_rela_partner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bizAreaId != null" >
        biz_area_id,
      </if>
      <if test="partnerId != null" >
        partner_id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bizAreaId != null" >
        #{bizAreaId,jdbcType=BIGINT},
      </if>
      <if test="partnerId != null" >
        #{partnerId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.BizAreaRelaPartnerDO" >
    update biz_area_rela_partner
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where biz_area_id = #{bizAreaId,jdbcType=BIGINT}
      and partner_id = #{partnerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.BizAreaRelaPartnerDO" >
    update biz_area_rela_partner
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where biz_area_id = #{bizAreaId,jdbcType=BIGINT}
      and partner_id = #{partnerId,jdbcType=BIGINT}
  </update>
</mapper>