<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.BizModelRelaAreaPartnersDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.BizModelRelaAreaPartnersDO">
        <id column="biz_id" jdbcType="BIGINT" property="bizId"/>
        <id column="area_id" jdbcType="BIGINT" property="areaId"/>
        <id column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>
    <sql id="Base_Column_List">
    biz_id, area_id, group_id, prov, city, gmt_create, gmt_modify
  </sql>

    <!--listQuery-->
    <select id="listQuery" parameterType="com.yunche.loan.domain.entity.BizModelRelaAreaPartnersDO"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_model_rela_area_partners
        <where>
            <if test="bizId != null">
                AND biz_id = #{bizId,jdbcType=BIGINT}
            </if>
            <if test="areaId != null">
                AND area_id = #{areaId,jdbcType=BIGINT}
            </if>
            <if test="groupId != null">
                AND group_id = #{groupId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <!-- getBizModelIdListByCondition -->
    <select id="getBizModelIdListByCondition" parameterType="com.yunche.loan.domain.query.BizModelQuery"
            resultType="java.lang.Long">
        SELECT DISTINCT(a.biz_id)
        FROM biz_model_rela_area_partners AS a
        JOIN biz_model AS b
        ON a.`biz_id` = b.`biz_id`
        <if test="id != null">
            AND a.group_id = #{id}
        </if>
        <if test="cascadeAreaIdList != null and cascadeAreaIdList.size() > 0">
            AND a.area_id IN
            <foreach collection="cascadeAreaIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="status != null">
            AND b.status = #{status}
        </if>
    </select>

    <select id="query" parameterType="com.yunche.loan.domain.entity.BizModelRelaAreaPartnersDO"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_model_rela_area_partners
        where biz_id = #{bizId,jdbcType=BIGINT}
        and area_id = #{areaId,jdbcType=BIGINT}
        and group_id = #{groupId,jdbcType=BIGINT}
    </select>

    <!--getAllAreaId-->
    <select id="getAllAreaId" resultType="java.lang.Long">
        select DISTINCT(area_id)
        from biz_model_rela_area_partners
    </select>

    <select id="queryById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_model_rela_area_partners
        where biz_id = #{bizId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey">
    delete from biz_model_rela_area_partners
    where biz_id = #{0, jdbcType=BIGINT}
      and area_id = #{1, jdbcType=BIGINT}
      and group_id = #{2, jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.yunche.loan.domain.entity.BizModelRelaAreaPartnersDO">
    insert into biz_model_rela_area_partners (biz_id, area_id, group_id, prov, city,
      gmt_create, gmt_modify)
    values (#{bizId,jdbcType=BIGINT}, #{areaId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, 
      prov, city, now(), now())
  </insert>
    <update id="update" parameterType="com.yunche.loan.domain.entity.BizModelRelaAreaPartnersDO">
    update biz_model_rela_area_partners
    set gmt_modify = now()
    where biz_id = #{bizId,jdbcType=BIGINT}
      and area_id = #{areaId,jdbcType=BIGINT}
      and group_id = #{groupId,jdbcType=BIGINT}
  </update>
</mapper>