<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.dao.mapper.CarDetailDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.dataObj.CarDetailDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="model_id" jdbcType="BIGINT" property="modelId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="initial" jdbcType="VARCHAR" property="initial"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="price" jdbcType="VARCHAR" property="price"/>
        <result column="sale_price" jdbcType="VARCHAR" property="salePrice"/>
        <result column="seat_num" jdbcType="INTEGER" property="seatNum"/>
        <result column="door_num" jdbcType="INTEGER" property="doorNum"/>
        <result column="year_type" jdbcType="VARCHAR" property="yearType"/>
        <result column="production_state" jdbcType="TINYINT" property="productionState"/>
        <result column="sale_state" jdbcType="TINYINT" property="saleState"/>
        <result column="size_type" jdbcType="VARCHAR" property="sizeType"/>
        <result column="fuel_type" jdbcType="TINYINT" property="fuelType"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="feature" jdbcType="VARCHAR" property="feature"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, model_id, name, initial, logo, price, sale_price, seat_num, door_num, year_type,
        production_state, sale_state, size_type, fuel_type, gmt_create, gmt_modify, feature,
        status
    </sql>

    <sql id="Base_Query_List">
        <if test="modelId != null">
            AND model_id = #{modelId}
        </if>
        <if test="name != null and name != '' ">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="initial != null and initial != '' ">
            AND initial = #{initial}
        </if>
        <if test="logo != null">
            AND logo = #{logo}
        </if>
        <if test="price != null">
            AND price = #{price}
        </if>
        <if test="salePrice != null">
            AND sale_price = #{salePrice}
        </if>
        <if test="seatNum != null and seatNum != '' ">
            AND seat_num LIKE CONCAT('%',#{seatNum},'%')
        </if>
        <if test="doorNum != null and doorNum != '' ">
            AND door_num LIKE CONCAT('%',#{doorNum},'%')
        </if>
        <if test="yearType != null">
            AND year_type = #{yearType}
        </if>
        <if test="productionState != null">
            AND production_state = #{productionState}
        </if>
        <if test="saleState != null">
            AND sale_state = #{saleState}
        </if>
        <if test="sizeType != null ">
            AND size_type = #{sizeType}
        </if>
        <if test="fuelType != null">
            AND fuel_type = #{fuelType}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </sql>

    <!--  count -->
    <select id="count" parameterType="com.yunche.loan.domain.queryObj.CarDetailQuery"
            resultType="java.lang.Integer">
        select COUNT(*)
        from car_detail
        <where>
            <include refid="Base_Query_List"/>
        </where>
    </select>

    <!-- query -->
    <select id="query" parameterType="com.yunche.loan.domain.queryObj.CarModelQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from car_detail
        <where>
            <include refid="Base_Query_List"/>
        </where>
        ORDER BY gmt_modify DESC
        limit #{startRow}, #{pageSize}
    </select>

    <!--getAllId-->
    <select id="getAllId" resultType="java.lang.Integer">
        select id from car_detail
        <if test="status != null">
            WHERE status = #{status}
        </if>
    </select>

    <!--getAllIdAndModelId-->
    <select id="getAllIdAndModelId" resultMap="BaseResultMap">
        select id,model_id from car_detail
        <if test="status != null">
            WHERE status = #{status}
        </if>
    </select>

    <!--getDetailListByModelId-->
    <select id="getDetailListByModelId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from car_detail
        where model_id = #{modelId,jdbcType=BIGINT}
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <!--getAll-->
    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from car_detail
        <if test="status != null">
            WHERE status = #{status}
        </if>
    </select>

    <!-- batchInsert -->
    <insert id="batchInsert" parameterType="java.util.List">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into car_detail (id, model_id, name,
        initial, logo, price,
        sale_price, seat_num, door_num,
        year_type, production_state, sale_state,
        size_type, fuel_type
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.id,jdbcType=BIGINT}, #{item.modelId,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR},
            #{item.initial,jdbcType=VARCHAR}, #{item.logo,jdbcType=VARCHAR}, #{item.price,jdbcType=VARCHAR},
            #{item.salePrice,jdbcType=VARCHAR}, #{item.seatNum,jdbcType=INTEGER}, #{item.doorNum,jdbcType=INTEGER},
            #{item.yearType,jdbcType=VARCHAR}, #{item.productionState,jdbcType=TINYINT},
            #{item.saleState,jdbcType=TINYINT},
            #{item.sizeType,jdbcType=VARCHAR}, #{item.fuelType,jdbcType=TINYINT}
            )
        </foreach>
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from car_detail
        where id = #{id,jdbcType=BIGINT}
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from car_detail
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.dataObj.CarDetailDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into car_detail (id, model_id, name,
        initial, logo, price,
        sale_price, seat_num, door_num,
        year_type, production_state, sale_state,
        size_type, fuel_type, gmt_create,
        gmt_modify, feature, status
        )
        values (#{id,jdbcType=BIGINT}, #{modelId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
        #{initial,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR},
        #{salePrice,jdbcType=VARCHAR}, #{seatNum,jdbcType=INTEGER}, #{doorNum,jdbcType=INTEGER},
        #{yearType,jdbcType=VARCHAR}, #{productionState,jdbcType=TINYINT}, #{saleState,jdbcType=TINYINT},
        #{sizeType,jdbcType=VARCHAR}, #{fuelType,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModify,jdbcType=TIMESTAMP}, #{feature,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.dataObj.CarDetailDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into car_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="modelId != null">
                model_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="initial != null">
                initial,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="salePrice != null">
                sale_price,
            </if>
            <if test="seatNum != null">
                seat_num,
            </if>
            <if test="doorNum != null">
                door_num,
            </if>
            <if test="yearType != null">
                year_type,
            </if>
            <if test="productionState != null">
                production_state,
            </if>
            <if test="saleState != null">
                sale_state,
            </if>
            <if test="sizeType != null">
                size_type,
            </if>
            <if test="fuelType != null">
                fuel_type,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="feature != null">
                feature,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="modelId != null">
                #{modelId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="initial != null">
                #{initial,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=VARCHAR},
            </if>
            <if test="salePrice != null">
                #{salePrice,jdbcType=VARCHAR},
            </if>
            <if test="seatNum != null">
                #{seatNum,jdbcType=INTEGER},
            </if>
            <if test="doorNum != null">
                #{doorNum,jdbcType=INTEGER},
            </if>
            <if test="yearType != null">
                #{yearType,jdbcType=VARCHAR},
            </if>
            <if test="productionState != null">
                #{productionState,jdbcType=TINYINT},
            </if>
            <if test="saleState != null">
                #{saleState,jdbcType=TINYINT},
            </if>
            <if test="sizeType != null">
                #{sizeType,jdbcType=VARCHAR},
            </if>
            <if test="fuelType != null">
                #{fuelType,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.dataObj.CarDetailDO">
        update car_detail
        <set>
            <if test="modelId != null">
                model_id = #{modelId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="initial != null">
                initial = #{initial,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=VARCHAR},
            </if>
            <if test="salePrice != null">
                sale_price = #{salePrice,jdbcType=VARCHAR},
            </if>
            <if test="seatNum != null">
                seat_num = #{seatNum,jdbcType=INTEGER},
            </if>
            <if test="doorNum != null">
                door_num = #{doorNum,jdbcType=INTEGER},
            </if>
            <if test="yearType != null">
                year_type = #{yearType,jdbcType=VARCHAR},
            </if>
            <if test="productionState != null">
                production_state = #{productionState,jdbcType=TINYINT},
            </if>
            <if test="saleState != null">
                sale_state = #{saleState,jdbcType=TINYINT},
            </if>
            <if test="sizeType != null">
                size_type = #{sizeType,jdbcType=VARCHAR},
            </if>
            <if test="fuelType != null">
                fuel_type = #{fuelType,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.dataObj.CarDetailDO">
        update car_detail
        set model_id = #{modelId,jdbcType=BIGINT},
        name = #{name,jdbcType=VARCHAR},
        initial = #{initial,jdbcType=VARCHAR},
        logo = #{logo,jdbcType=VARCHAR},
        price = #{price,jdbcType=VARCHAR},
        sale_price = #{salePrice,jdbcType=VARCHAR},
        seat_num = #{seatNum,jdbcType=INTEGER},
        door_num = #{doorNum,jdbcType=INTEGER},
        year_type = #{yearType,jdbcType=VARCHAR},
        production_state = #{productionState,jdbcType=TINYINT},
        sale_state = #{saleState,jdbcType=TINYINT},
        size_type = #{sizeType,jdbcType=VARCHAR},
        fuel_type = #{fuelType,jdbcType=TINYINT},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
        feature = #{feature,jdbcType=VARCHAR},
        status = #{status,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>