<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.dao.CarModelDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.CarModelDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="brand_id" jdbcType="BIGINT" property="brandId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="initial" jdbcType="VARCHAR" property="initial"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="price" jdbcType="VARCHAR" property="price"/>
        <result column="seat_num" jdbcType="VARCHAR" property="seatNum"/>
        <result column="sale_state" jdbcType="TINYINT" property="saleState"/>
        <result column="series_code" jdbcType="VARCHAR" property="seriesCode"/>
        <result column="mnemonic_code" jdbcType="VARCHAR" property="mnemonicCode"/>
        <result column="production_firm" jdbcType="VARCHAR" property="productionFirm"/>
        <result column="production_type" jdbcType="TINYINT" property="productionType"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="feature" jdbcType="VARCHAR" property="feature"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, brand_id, name, full_name, initial, logo, price, seat_num, sale_state, series_code,
        mnemonic_code, production_firm, production_type, gmt_create, gmt_modify, feature,
        status
    </sql>

    <sql id="Base_Query_List">
        <if test="brandId != null">
            AND brand_id = #{brandId}
        </if>
        <if test="name != null and name != '' ">
            AND name = #{name}
        </if>
        <if test="fullName != null and fullName != '' ">
            AND full_name LIKE CONCAT('%',#{fullName},'%')
        </if>
        <if test="initial != null and initial != '' ">
            AND initial = #{initial}
        </if>
        <if test="price != null">
            AND price = #{price}
        </if>
        <if test="seatNum != null and seatNum != '' ">
            AND seat_num LIKE CONCAT('%',#{seatNum},'%')
        </if>
        <if test="saleState != null">
            AND sale_state = #{saleState}
        </if>
        <if test="seriesCode != null">
            AND series_code = #{seriesCode}
        </if>
        <if test="mnemonicCode != null">
            AND mnemonic_code = #{mnemonicCode}
        </if>
        <if test="productionFirm != null ">
            AND production_firm = #{productionFirm}
        </if>
        <if test="productionType != null">
            AND production_type = #{productionType}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </sql>

    <!--  count -->
    <select id="count" parameterType="com.yunche.loan.domain.query.CarModelQuery"
            resultType="java.lang.Integer">
        select COUNT(*)
        from car_model
        <where>
            <include refid="Base_Query_List"/>
        </where>
    </select>

    <!-- query -->
    <select id="query" parameterType="com.yunche.loan.domain.query.CarModelQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from car_model
        <where>
            <include refid="Base_Query_List"/>
        </where>
        ORDER BY id ASC
        limit #{startRow}, #{pageSize}
    </select>

    <!--getAllId-->
    <select id="getAllId" resultType="java.lang.Long">
        select id from car_model
        <if test="status != null">
            WHERE status = #{status}
        </if>
    </select>

    <!--getNameListByBrandId-->
    <select id="getNameListByBrandId" resultType="java.lang.String">
        select name from car_model WHERE brand_id = #{brandId}
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <!--getModelListByBrandId-->
    <select id="getModelListByBrandId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from car_model
        where brand_id = #{brandId,jdbcType=BIGINT}
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <!--getAll-->
    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from car_model
        <if test="status != null">
            WHERE status = #{status}
        </if>
    </select>

    <!-- batchInsert -->
    <insert id="batchInsert" parameterType="java.util.List">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into car_model (id, brand_id, name,
        full_name, initial, logo,
        price, seat_num, sale_state,
        series_code, mnemonic_code, production_firm,
        production_type)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.brandId,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR},
            #{item.fullName,jdbcType=VARCHAR}, #{item.initial,jdbcType=VARCHAR}, #{item.logo,jdbcType=VARCHAR},
            #{item.price,jdbcType=VARCHAR}, #{item.seatNum,jdbcType=VARCHAR}, #{item.saleState,jdbcType=TINYINT},
            #{item.seriesCode,jdbcType=VARCHAR}, #{item.mnemonicCode,jdbcType=VARCHAR},
            #{item.productionFirm,jdbcType=VARCHAR},
            #{item.productionType,jdbcType=TINYINT},#{item.gmtCreate,jdbcType=TIMESTAMP},
            #{item.gmtModify,jdbcType=TIMESTAMP},
            #{item.feature,jdbcType=VARCHAR}, #{item.status,jdbcType=TINYINT})
        </foreach>
    </insert>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from car_model
        where id = #{id,jdbcType=BIGINT}
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from car_model
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.CarModelDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into car_model (id, brand_id, name,
        full_name, initial, logo,
        price, seat_num, sale_state,
        series_code, mnemonic_code, production_firm,
        production_type, gmt_create, gmt_modify,
        feature, status)
        values (#{id,jdbcType=BIGINT}, #{brandId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
        #{fullName,jdbcType=VARCHAR}, #{initial,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR},
        #{price,jdbcType=VARCHAR}, #{seatNum,jdbcType=VARCHAR}, #{saleState,jdbcType=TINYINT},
        #{seriesCode,jdbcType=VARCHAR}, #{mnemonicCode,jdbcType=VARCHAR}, #{productionFirm,jdbcType=VARCHAR},
        #{productionType,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP},
        #{feature,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT})
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.CarModelDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into car_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="fullName != null">
                full_name,
            </if>
            <if test="initial != null">
                initial,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="seatNum != null">
                seat_num,
            </if>
            <if test="saleState != null">
                sale_state,
            </if>
            <if test="seriesCode != null">
                series_code,
            </if>
            <if test="mnemonicCode != null">
                mnemonic_code,
            </if>
            <if test="productionFirm != null">
                production_firm,
            </if>
            <if test="productionType != null">
                production_type,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="feature != null">
                feature,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="initial != null">
                #{initial,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=VARCHAR},
            </if>
            <if test="seatNum != null">
                #{seatNum,jdbcType=VARCHAR},
            </if>
            <if test="saleState != null">
                #{saleState,jdbcType=TINYINT},
            </if>
            <if test="seriesCode != null">
                #{seriesCode,jdbcType=VARCHAR},
            </if>
            <if test="mnemonicCode != null">
                #{mnemonicCode,jdbcType=VARCHAR},
            </if>
            <if test="productionFirm != null">
                #{productionFirm,jdbcType=VARCHAR},
            </if>
            <if test="productionType != null">
                #{productionType,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.CarModelDO">
        update car_model
        <set>
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="initial != null">
                initial = #{initial,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=VARCHAR},
            </if>
            <if test="seatNum != null">
                seat_num = #{seatNum,jdbcType=VARCHAR},
            </if>
            <if test="saleState != null">
                sale_state = #{saleState,jdbcType=TINYINT},
            </if>
            <if test="seriesCode != null">
                series_code = #{seriesCode,jdbcType=VARCHAR},
            </if>
            <if test="mnemonicCode != null">
                mnemonic_code = #{mnemonicCode,jdbcType=VARCHAR},
            </if>
            <if test="productionFirm != null">
                production_firm = #{productionFirm,jdbcType=VARCHAR},
            </if>
            <if test="productionType != null">
                production_type = #{productionType,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.CarModelDO">
        update car_model
        set brand_id = #{brandId,jdbcType=BIGINT},
        name = #{name,jdbcType=VARCHAR},
        full_name = #{fullName,jdbcType=VARCHAR},
        initial = #{initial,jdbcType=VARCHAR},
        logo = #{logo,jdbcType=VARCHAR},
        price = #{price,jdbcType=VARCHAR},
        seat_num = #{seatNum,jdbcType=VARCHAR},
        sale_state = #{saleState,jdbcType=TINYINT},
        series_code = #{seriesCode,jdbcType=VARCHAR},
        mnemonic_code = #{mnemonicCode,jdbcType=VARCHAR},
        production_firm = #{productionFirm,jdbcType=VARCHAR},
        production_type = #{productionType,jdbcType=TINYINT},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
        feature = #{feature,jdbcType=VARCHAR},
        status = #{status,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>