<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.ConfVideoFaceBankDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.ConfVideoFaceBankDO">
        <id column="bank_id" property="bankId" jdbcType="BIGINT"/>
        <result column="need_location" property="needLocation" jdbcType="TINYINT"/>
        <result column="artificial_video_face" property="artificialVideoFace" jdbcType="TINYINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    bank_id, need_location, artificial_video_face, gmt_create, gmt_modify
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from conf_video_face_bank
        where bank_id = #{bankId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from conf_video_face_bank
    where bank_id = #{bankId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.yunche.loan.domain.entity.ConfVideoFaceBankDO">
    insert into conf_video_face_bank (bank_id, need_location, artificial_video_face, 
      gmt_create, gmt_modify)
    values (#{bankId,jdbcType=BIGINT}, #{needLocation,jdbcType=TINYINT}, #{artificialVideoFace,jdbcType=TINYINT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.ConfVideoFaceBankDO">
        insert into conf_video_face_bank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bankId != null">
                bank_id,
            </if>
            <if test="needLocation != null">
                need_location,
            </if>
            <if test="artificialVideoFace != null">
                artificial_video_face,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bankId != null">
                #{bankId,jdbcType=BIGINT},
            </if>
            <if test="needLocation != null">
                #{needLocation,jdbcType=TINYINT},
            </if>
            <if test="artificialVideoFace != null">
                #{artificialVideoFace,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.ConfVideoFaceBankDO">
        update conf_video_face_bank
        <set>
            <if test="needLocation != null">
                need_location = #{needLocation,jdbcType=TINYINT},
            </if>
            <if test="artificialVideoFace != null">
                artificial_video_face = #{artificialVideoFace,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </set>
        where bank_id = #{bankId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.ConfVideoFaceBankDO">
    update conf_video_face_bank
    set need_location = #{needLocation,jdbcType=TINYINT},
      artificial_video_face = #{artificialVideoFace,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where bank_id = #{bankId,jdbcType=BIGINT}
  </update>
</mapper>