<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.CreditStructTradeDetailDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.CreditStructTradeDetailDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="is_icbc_credit_card" jdbcType="TINYINT" property="isIcbcCreditCard"/>
        <result column="open_account_date" jdbcType="DATE" property="openAccountDate"/>
        <result column="credit_line" jdbcType="DECIMAL" property="creditLine"/>
        <result column="total_use_line" jdbcType="DECIMAL" property="totalUseLine"/>
        <result column="average_use_line_last_month_6" jdbcType="DECIMAL" property="averageUseLineLastMonth6"/>
        <result column="overdue_total_num_last_month_12" jdbcType="INTEGER" property="overdueTotalNumLastMonth12"/>
        <result column="overdue_max_num_last_month_12" jdbcType="INTEGER" property="overdueMaxNumLastMonth12"/>
        <result column="overdue_total_num_last_month_24" jdbcType="INTEGER" property="overdueTotalNumLastMonth24"/>
        <result column="overdue_max_num_last_month_24" jdbcType="INTEGER" property="overdueMaxNumLastMonth24"/>
        <result column="current_overdue_money" jdbcType="DECIMAL" property="currentOverdueMoney"/>
        <result column="account_status" jdbcType="TINYINT" property="accountStatus"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, customer_id, is_icbc_credit_card, open_account_date, credit_line, total_use_line, 
    average_use_line_last_month_6, overdue_total_num_last_month_12, overdue_max_num_last_month_12, 
    overdue_total_num_last_month_24, overdue_max_num_last_month_24, current_overdue_money, 
    account_status, gmt_create, gmt_modify
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from credit_struct_trade_detail
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from credit_struct_trade_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.yunche.loan.domain.entity.CreditStructTradeDetailDO">
    insert into credit_struct_trade_detail (id, customer_id, is_icbc_credit_card, 
      open_account_date, credit_line, total_use_line, 
      average_use_line_last_month_6, overdue_total_num_last_month_12, 
      overdue_max_num_last_month_12, overdue_total_num_last_month_24, 
      overdue_max_num_last_month_24, current_overdue_money, 
      account_status, gmt_create, gmt_modify
      )
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{isIcbcCreditCard,jdbcType=TINYINT}, 
      #{openAccountDate,jdbcType=DATE}, #{creditLine,jdbcType=DECIMAL}, #{totalUseLine,jdbcType=DECIMAL}, 
      #{averageUseLineLastMonth6,jdbcType=DECIMAL}, #{overdueTotalNumLastMonth12,jdbcType=INTEGER}, 
      #{overdueMaxNumLastMonth12,jdbcType=INTEGER}, #{overdueTotalNumLastMonth24,jdbcType=INTEGER}, 
      #{overdueMaxNumLastMonth24,jdbcType=INTEGER}, #{currentOverdueMoney,jdbcType=DECIMAL}, 
      #{accountStatus,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.CreditStructTradeDetailDO">
        insert into credit_struct_trade_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="isIcbcCreditCard != null">
                is_icbc_credit_card,
            </if>
            <if test="openAccountDate != null">
                open_account_date,
            </if>
            <if test="creditLine != null">
                credit_line,
            </if>
            <if test="totalUseLine != null">
                total_use_line,
            </if>
            <if test="averageUseLineLastMonth6 != null">
                average_use_line_last_month_6,
            </if>
            <if test="overdueTotalNumLastMonth12 != null">
                overdue_total_num_last_month_12,
            </if>
            <if test="overdueMaxNumLastMonth12 != null">
                overdue_max_num_last_month_12,
            </if>
            <if test="overdueTotalNumLastMonth24 != null">
                overdue_total_num_last_month_24,
            </if>
            <if test="overdueMaxNumLastMonth24 != null">
                overdue_max_num_last_month_24,
            </if>
            <if test="currentOverdueMoney != null">
                current_overdue_money,
            </if>
            <if test="accountStatus != null">
                account_status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="isIcbcCreditCard != null">
                #{isIcbcCreditCard,jdbcType=TINYINT},
            </if>
            <if test="openAccountDate != null">
                #{openAccountDate,jdbcType=DATE},
            </if>
            <if test="creditLine != null">
                #{creditLine,jdbcType=DECIMAL},
            </if>
            <if test="totalUseLine != null">
                #{totalUseLine,jdbcType=DECIMAL},
            </if>
            <if test="averageUseLineLastMonth6 != null">
                #{averageUseLineLastMonth6,jdbcType=DECIMAL},
            </if>
            <if test="overdueTotalNumLastMonth12 != null">
                #{overdueTotalNumLastMonth12,jdbcType=INTEGER},
            </if>
            <if test="overdueMaxNumLastMonth12 != null">
                #{overdueMaxNumLastMonth12,jdbcType=INTEGER},
            </if>
            <if test="overdueTotalNumLastMonth24 != null">
                #{overdueTotalNumLastMonth24,jdbcType=INTEGER},
            </if>
            <if test="overdueMaxNumLastMonth24 != null">
                #{overdueMaxNumLastMonth24,jdbcType=INTEGER},
            </if>
            <if test="currentOverdueMoney != null">
                #{currentOverdueMoney,jdbcType=DECIMAL},
            </if>
            <if test="accountStatus != null">
                #{accountStatus,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.CreditStructTradeDetailDO">
        update credit_struct_trade_detail
        <set>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="isIcbcCreditCard != null">
                is_icbc_credit_card = #{isIcbcCreditCard,jdbcType=TINYINT},
            </if>
            <if test="openAccountDate != null">
                open_account_date = #{openAccountDate,jdbcType=DATE},
            </if>
            <if test="creditLine != null">
                credit_line = #{creditLine,jdbcType=DECIMAL},
            </if>
            <if test="totalUseLine != null">
                total_use_line = #{totalUseLine,jdbcType=DECIMAL},
            </if>
            <if test="averageUseLineLastMonth6 != null">
                average_use_line_last_month_6 = #{averageUseLineLastMonth6,jdbcType=DECIMAL},
            </if>
            <if test="overdueTotalNumLastMonth12 != null">
                overdue_total_num_last_month_12 = #{overdueTotalNumLastMonth12,jdbcType=INTEGER},
            </if>
            <if test="overdueMaxNumLastMonth12 != null">
                overdue_max_num_last_month_12 = #{overdueMaxNumLastMonth12,jdbcType=INTEGER},
            </if>
            <if test="overdueTotalNumLastMonth24 != null">
                overdue_total_num_last_month_24 = #{overdueTotalNumLastMonth24,jdbcType=INTEGER},
            </if>
            <if test="overdueMaxNumLastMonth24 != null">
                overdue_max_num_last_month_24 = #{overdueMaxNumLastMonth24,jdbcType=INTEGER},
            </if>
            <if test="currentOverdueMoney != null">
                current_overdue_money = #{currentOverdueMoney,jdbcType=DECIMAL},
            </if>
            <if test="accountStatus != null">
                account_status = #{accountStatus,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.CreditStructTradeDetailDO">
    update credit_struct_trade_detail
    set customer_id = #{customerId,jdbcType=BIGINT},
      is_icbc_credit_card = #{isIcbcCreditCard,jdbcType=TINYINT},
      open_account_date = #{openAccountDate,jdbcType=DATE},
      credit_line = #{creditLine,jdbcType=DECIMAL},
      total_use_line = #{totalUseLine,jdbcType=DECIMAL},
      average_use_line_last_month_6 = #{averageUseLineLastMonth6,jdbcType=DECIMAL},
      overdue_total_num_last_month_12 = #{overdueTotalNumLastMonth12,jdbcType=INTEGER},
      overdue_max_num_last_month_12 = #{overdueMaxNumLastMonth12,jdbcType=INTEGER},
      overdue_total_num_last_month_24 = #{overdueTotalNumLastMonth24,jdbcType=INTEGER},
      overdue_max_num_last_month_24 = #{overdueMaxNumLastMonth24,jdbcType=INTEGER},
      current_overdue_money = #{currentOverdueMoney,jdbcType=DECIMAL},
      account_status = #{accountStatus,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!-- deleteByCustomerId -->
    <delete id="deleteByCustomerId" parameterType="java.lang.Long">
        delete from credit_struct_trade_detail
        where customer_id = #{customerId,jdbcType=BIGINT}
    </delete>

    <!-- listByCustomerId -->
    <select id="listByCustomerId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from credit_struct_trade_detail
        where customer_id = #{customerId,jdbcType=BIGINT}
    </select>

</mapper>