<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.CustomersLoanFinanceInfoByPartnerMapper" >
    <select id="selectBadBalance" parameterType="java.lang.Long" resultType="com.yunche.loan.domain.vo.BadBalanceByPartnerVO" >
          SELECT
          customer.NAME AS customerName,
                  customer.id_card as customerCardId,
          				customer.mobile as customerPhone,
          				 loan_financial_plan.bank_period_principal as financialBankPeriodPrincipal,
          base.total_compensation_amount as badBalance
          FROM
          (
          SELECT tab.order_id,sum(partner_compensation_amount) AS total_compensation_amount
          FROM
          (
          SELECT order_id,bank_repay_imp_record_id
          FROM loan_process_instead_pay
          WHERE partner_instead_pay = 1 AND partner_instead_pay_review = 2
          ) tab
          LEFT JOIN loan_apply_compensation lac ON lac.id = tab.bank_repay_imp_record_id AND lac.order_id = tab.order_id
          GROUP BY tab.order_id
          ) base
          LEFT JOIN loan_order orders ON base.order_id = orders.id
           LEFT JOIN loan_customer customer ON orders.loan_customer_id = customer.id
           LEFT JOIN loan_base_info ON orders.loan_base_info_id = loan_base_info.id
           LEFT JOIN loan_financial_plan ON orders.loan_financial_plan_id = loan_financial_plan.id
           WHERE loan_base_info.partner_id = #{partnerId}

    </select>

    <select id="selectOverdueBalance" parameterType="java.lang.Long" resultType="com.yunche.loan.domain.vo.OverdueBalanceByPartnerVO" >
          SELECT
          customer.NAME AS customerName,
                  customer.id_card as customerCardId,
          				customer.mobile as customerPhone,
          				 loan_financial_plan.bank_period_principal as financialBankPeriodPrincipal,
          bank_file_list_record.optimal_return as overdueBalance
          FROM
          (
          SELECT
          order_id,max(bank_file_list_id) AS bank_file_list_id
          FROM bank_file_list_record
          WHERE status = 0
          GROUP BY order_id
          ) tab
          LEFT JOIN bank_file_list_record ON tab.order_id = bank_file_list_record.order_id AND tab.bank_file_list_id = bank_file_list_record.bank_file_list_id
          LEFT JOIN loan_order orders ON tab.order_id = orders.id
           LEFT JOIN loan_customer customer ON orders.loan_customer_id = customer.id
           LEFT JOIN loan_base_info ON orders.loan_base_info_id = loan_base_info.id
           LEFT JOIN loan_financial_plan ON orders.loan_financial_plan_id = loan_financial_plan.id
           WHERE loan_base_info.partner_id = #{partnerId}


    </select>

    <select id="selectInGuaranteeBalance" parameterType="java.lang.Long" resultType="com.yunche.loan.domain.vo.InGuaranteeBalanceByPartnerVO" >
          SELECT
          customer.NAME AS customerName,
                  customer.id_card as customerCardId,
          				customer.mobile as customerPhone,
          				 loan_financial_plan.bank_period_principal as financialBankPeriodPrincipal,
           bank_file_list_record.in_guarantee_balance as inGuaranteeBalance
          FROM
          (
          SELECT
          order_id,max(bank_file_list_id) AS bank_file_list_id
          FROM bank_file_list_record
          WHERE status = 0
          GROUP BY order_id
          ) tab
          LEFT JOIN bank_file_list_record ON tab.order_id = bank_file_list_record.order_id AND tab.bank_file_list_id = bank_file_list_record.bank_file_list_id
          LEFT JOIN loan_order orders ON tab.order_id = orders.id
           LEFT JOIN loan_customer customer ON orders.loan_customer_id = customer.id
           LEFT JOIN loan_base_info ON orders.loan_base_info_id = loan_base_info.id
           LEFT JOIN loan_financial_plan ON orders.loan_financial_plan_id = loan_financial_plan.id
          WHERE tab.order_id NOT IN
          (
          SELECT DISTINCT order_id
          FROM loan_process_instead_pay
          WHERE partner_instead_pay = 1 AND partner_instead_pay_review = 2
          )
          AND loan_base_info.partner_id = #{partnerId}


    </select>

    <select id="selectLoanBalance" parameterType="java.lang.Long" resultType="com.yunche.loan.domain.vo.LoanBalanceByPartnerVO" >
           SELECT
        customer.NAME AS customerName,
                  customer.id_card as customerCardId,
          				customer.mobile as customerPhone,
          				 loan_financial_plan.bank_period_principal as financialBankPeriodPrincipal,
				lend.lend_date																		as lendDate
           FROM
        loan_order orders
        LEFT JOIN loan_customer customer ON orders.loan_customer_id = customer.id
        LEFT JOIN loan_base_info ON orders.loan_base_info_id = loan_base_info.id
        LEFT JOIN loan_financial_plan ON orders.loan_financial_plan_id = loan_financial_plan.id
		INNER JOIN bank_lend_record lend on lend.id = orders.bank_lend_record_id
       WHERE loan_base_info.partner_id = #{partnerId}


    </select>

    <select id="getOrderByCustomerId" parameterType="java.lang.Long" resultType="com.yunche.loan.domain.vo.OrderByCustomerIdVO" >
          SELECT
	main_order.id AS num,
	partner.leader_name as leaderName,
	partner.id as partnerId,
	son.optimal_return as overdueMoney,
	remit_details.remit_amount as remitAmount,

	customer.id_card AS cardId,
	customer.NAME AS customerName,
	customer.address AS address,
	customer.company_name AS company,
	customer.company_address AS customer_company_address,
	customer.mobile AS phone,
	customer.company_phone AS companyPhone,
	customer.identity_address AS cardAddress,
	customer.reserve_mobile AS alternatePhone,
	partner.NAME AS salesTeam,
	useGetAreaFullName ( partner.area_id ) AS businessArea,
	salesman.NAME AS salesman,
	car.business_source AS businessSource,
	loan.bank AS loanBank,
	loan_financial_plan.financial_product_name as  financialProductName,
	loan_financial_plan.loan_time as  loanPeriods,
	loan_financial_plan.sign_rate as  contractRate,
	loan_financial_plan.down_payment_money as  payments,
	loan_financial_plan.down_payment_ratio as  payProportion,
	loan_financial_plan.bank_period_principal as  bankInstallmentCapital,
	loan_financial_plan.bank_fee as  bankBoundage,
	loan_financial_plan.principal_interest_sum as  reimbursementAmount,
	loan_financial_plan.first_month_repay as firstPayment,
	loan_financial_plan.each_month_repay as monthlyPayments,
	v.now_driving_license_owner AS driverLicense,
	v.color AS carColor,
	CASE

		WHEN v.license_plate_type = 1 THEN
		'公牌'
		WHEN v.license_plate_type = 2 THEN
		'私牌' ELSE null
	END
	 AS registrationWay,
	b.area_name AS registration,
	v.engine_number AS engineNo,
	v.registration_certificate_number AS registrationCertificateNo,
	v.vehicle_identification_number AS vin,
	v.customize_brand AS carbrand,
	son.cumulative_breach_number as  overdueNumber,
	son.optimal_return as  overdueAmount,
CASE

		WHEN car.car_type = 0 THEN
		'新车'
		WHEN car.car_type = 1 THEN
		'二手车' ELSE '其他'
	END AS carModel,
	CASE
        WHEN car.vehicle_property = 1 THEN
        '国产'
        WHEN car.vehicle_property  = 2 THEN
        '进口'
        ELSE
        NULL END
	AS carPrpperty,
	car.car_category AS carType,
	loan_financial_plan.car_price AS carPrice,
	loan_financial_plan.loan_amount
FROM
	( SELECT * FROM loan_order where loan_customer_id = #{customerId}) main_order
	LEFT JOIN loan_process process ON main_order.id = process.order_id
	LEFT JOIN loan_customer customer ON main_order.loan_customer_id = customer.id
	LEFT JOIN loan_base_info loan ON main_order.loan_base_info_id = loan.id
	LEFT JOIN loan_car_info car ON main_order.loan_car_info_id = car.id
	LEFT JOIN employee salesman ON loan.salesman_id = salesman.id
	LEFT JOIN partner partner ON loan.partner_id = partner.id
	LEFT JOIN loan_financial_plan ON main_order.loan_financial_plan_id = loan_financial_plan.id
	LEFT JOIN vehicle_information v ON main_order.vehicle_information_id = v.id
	left join base_area b on v.apply_license_plate_area = b.area_id
	left join remit_details on main_order.remit_details_id = remit_details.id
	LEFT JOIN (
	SELECT
		tab.order_id,
		bank_file_list_record.cumulative_breach_number,
		bank_file_list_record.optimal_return
	FROM
		( SELECT order_id, max( bank_file_list_id ) AS bank_file_list_id FROM bank_file_list_record WHERE STATUS = 0 GROUP BY order_id ) tab
		LEFT JOIN bank_file_list_record ON tab.order_id = bank_file_list_record.order_id
	AND tab.bank_file_list_id = bank_file_list_record.bank_file_list_id
	) son ON son.order_id = main_order.id


    </select>

    <select id="getCustomerInfoByCustomerName" parameterType="com.yunche.loan.domain.param.CustomerInfoByCustomerNameParam" resultType="com.yunche.loan.domain.vo.CustomerInfoForFinanceSys" >
        SELECT
        o.id AS orderId,
        c.NAME AS customerName,
        c.id_card  AS customerIdCard,
        c.id AS customerId
        FROM
        loan_order o
        LEFT JOIN loan_customer c ON c.id = o.loan_customer_id
        LEFT JOIN loan_process p ON o.id = p.order_id
        LEFT JOIN loan_base_info b ON o.loan_base_info_id = b.id
        <where>
            <if test="customerName!=null">
                 c.name like concat(concat('%',#{customerName}),'%')
            </if>
        <if test="type == 1">
            and  p.remit_review = 1
        </if>
        <if test="type == 2">
            and p.bank_lend_record = 1
        </if>


        </where>


    </select>
</mapper>