<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.dao.mapper.CustBaseInfoDOMapper">
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.dataObj.CustBaseInfoDO">
    <id column="cust_id" jdbcType="BIGINT" property="custId" />
    <result column="cust_name" jdbcType="VARCHAR" property="custName" />
    <result column="identity_type" jdbcType="VARCHAR" property="identityType" />
    <result column="identity_number" jdbcType="VARCHAR" property="identityNumber" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="marry" jdbcType="VARCHAR" property="marry" />
    <result column="birth" jdbcType="DATE" property="birth" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="identity_address" jdbcType="VARCHAR" property="identityAddress" />
    <result column="identity_validity" jdbcType="DATE" property="identityValidity" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_phone" jdbcType="VARCHAR" property="companyPhone" />
    <result column="bank_credit_status" jdbcType="TINYINT" property="bankCreditStatus" />
    <result column="bank_credit_detail" jdbcType="VARCHAR" property="bankCreditDetail" />
    <result column="social_credit_status" jdbcType="TINYINT" property="socialCreditStatus" />
    <result column="social_credit_detail" jdbcType="VARCHAR" property="socialCreditDetail" />
    <result column="income" jdbcType="VARCHAR" property="income" />
    <result column="house_type" jdbcType="VARCHAR" property="houseType" />
    <result column="house_owner" jdbcType="VARCHAR" property="houseOwner" />
    <result column="house_feature" jdbcType="VARCHAR" property="houseFeature" />
    <result column="house_address" jdbcType="VARCHAR" property="houseAddress" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="contact_relation" jdbcType="VARCHAR" property="contactRelation" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    cust_id, cust_name, identity_type, identity_number, phone, marry, birth, age, education, 
    address, identity_address, identity_validity, company_name, company_phone, bank_credit_status, 
    bank_credit_detail, social_credit_status, social_credit_detail, income, house_type, 
    house_owner, house_feature, house_address, feature, contact_name, contact_phone, 
    contact_relation, gmt_create, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cust_base_info
    where cust_id = #{custId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cust_base_info
    where cust_id = #{custId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunche.loan.domain.dataObj.CustBaseInfoDO">
    <selectKey resultType="long" keyProperty="custId" order="AFTER">
      SELECT LAST_INSERT_ID() as custId
    </selectKey>
    insert into cust_base_info (cust_id, cust_name, identity_type, 
      identity_number, phone, marry, 
      birth, age, education, 
      address, identity_address, identity_validity, 
      company_name, company_phone, bank_credit_status, 
      bank_credit_detail, social_credit_status, social_credit_detail, 
      income, house_type, house_owner, 
      house_feature, house_address, feature, 
      contact_name, contact_phone, contact_relation, 
      gmt_create, gmt_modify)
    values (#{custId,jdbcType=BIGINT}, #{custName,jdbcType=VARCHAR}, #{identityType,jdbcType=VARCHAR}, 
      #{identityNumber,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{marry,jdbcType=VARCHAR}, 
      #{birth,jdbcType=DATE}, #{age,jdbcType=TINYINT}, #{education,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{identityAddress,jdbcType=VARCHAR}, #{identityValidity,jdbcType=DATE}, 
      #{companyName,jdbcType=VARCHAR}, #{companyPhone,jdbcType=VARCHAR}, #{bankCreditStatus,jdbcType=TINYINT}, 
      #{bankCreditDetail,jdbcType=VARCHAR}, #{socialCreditStatus,jdbcType=TINYINT}, #{socialCreditDetail,jdbcType=VARCHAR}, 
      #{income,jdbcType=VARCHAR}, #{houseType,jdbcType=VARCHAR}, #{houseOwner,jdbcType=VARCHAR}, 
      #{houseFeature,jdbcType=VARCHAR}, #{houseAddress,jdbcType=VARCHAR}, #{feature,jdbcType=VARCHAR}, 
      #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{contactRelation,jdbcType=VARCHAR}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.yunche.loan.domain.dataObj.CustBaseInfoDO">
    insert into cust_base_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        cust_id,
      </if>
      <if test="custName != null">
        cust_name,
      </if>
      <if test="identityType != null">
        identity_type,
      </if>
      <if test="identityNumber != null">
        identity_number,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="marry != null">
        marry,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="identityAddress != null">
        identity_address,
      </if>
      <if test="identityValidity != null">
        identity_validity,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyPhone != null">
        company_phone,
      </if>
      <if test="bankCreditStatus != null">
        bank_credit_status,
      </if>
      <if test="bankCreditDetail != null">
        bank_credit_detail,
      </if>
      <if test="socialCreditStatus != null">
        social_credit_status,
      </if>
      <if test="socialCreditDetail != null">
        social_credit_detail,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="houseType != null">
        house_type,
      </if>
      <if test="houseOwner != null">
        house_owner,
      </if>
      <if test="houseFeature != null">
        house_feature,
      </if>
      <if test="houseAddress != null">
        house_address,
      </if>
      <if test="feature != null">
        feature,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="contactRelation != null">
        contact_relation,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="identityType != null">
        #{identityType,jdbcType=VARCHAR},
      </if>
      <if test="identityNumber != null">
        #{identityNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="marry != null">
        #{marry,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=DATE},
      </if>
      <if test="age != null">
        #{age,jdbcType=TINYINT},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="identityAddress != null">
        #{identityAddress,jdbcType=VARCHAR},
      </if>
      <if test="identityValidity != null">
        #{identityValidity,jdbcType=DATE},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyPhone != null">
        #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="bankCreditStatus != null">
        #{bankCreditStatus,jdbcType=TINYINT},
      </if>
      <if test="bankCreditDetail != null">
        #{bankCreditDetail,jdbcType=VARCHAR},
      </if>
      <if test="socialCreditStatus != null">
        #{socialCreditStatus,jdbcType=TINYINT},
      </if>
      <if test="socialCreditDetail != null">
        #{socialCreditDetail,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        #{income,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="houseOwner != null">
        #{houseOwner,jdbcType=VARCHAR},
      </if>
      <if test="houseFeature != null">
        #{houseFeature,jdbcType=VARCHAR},
      </if>
      <if test="houseAddress != null">
        #{houseAddress,jdbcType=VARCHAR},
      </if>
      <if test="feature != null">
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactRelation != null">
        #{contactRelation,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.dataObj.CustBaseInfoDO">
    update cust_base_info
    <set>
      <if test="custName != null">
        cust_name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="identityType != null">
        identity_type = #{identityType,jdbcType=VARCHAR},
      </if>
      <if test="identityNumber != null">
        identity_number = #{identityNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="marry != null">
        marry = #{marry,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=DATE},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=TINYINT},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="identityAddress != null">
        identity_address = #{identityAddress,jdbcType=VARCHAR},
      </if>
      <if test="identityValidity != null">
        identity_validity = #{identityValidity,jdbcType=DATE},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyPhone != null">
        company_phone = #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="bankCreditStatus != null">
        bank_credit_status = #{bankCreditStatus,jdbcType=TINYINT},
      </if>
      <if test="bankCreditDetail != null">
        bank_credit_detail = #{bankCreditDetail,jdbcType=VARCHAR},
      </if>
      <if test="socialCreditStatus != null">
        social_credit_status = #{socialCreditStatus,jdbcType=TINYINT},
      </if>
      <if test="socialCreditDetail != null">
        social_credit_detail = #{socialCreditDetail,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        income = #{income,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="houseOwner != null">
        house_owner = #{houseOwner,jdbcType=VARCHAR},
      </if>
      <if test="houseFeature != null">
        house_feature = #{houseFeature,jdbcType=VARCHAR},
      </if>
      <if test="houseAddress != null">
        house_address = #{houseAddress,jdbcType=VARCHAR},
      </if>
      <if test="feature != null">
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactRelation != null">
        contact_relation = #{contactRelation,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
        gmt_modify = now()
    </set>
    where cust_id = #{custId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.dataObj.CustBaseInfoDO">
    update cust_base_info
    set cust_name = #{custName,jdbcType=VARCHAR},
      identity_type = #{identityType,jdbcType=VARCHAR},
      identity_number = #{identityNumber,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      marry = #{marry,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=DATE},
      age = #{age,jdbcType=TINYINT},
      education = #{education,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      identity_address = #{identityAddress,jdbcType=VARCHAR},
      identity_validity = #{identityValidity,jdbcType=DATE},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_phone = #{companyPhone,jdbcType=VARCHAR},
      bank_credit_status = #{bankCreditStatus,jdbcType=TINYINT},
      bank_credit_detail = #{bankCreditDetail,jdbcType=VARCHAR},
      social_credit_status = #{socialCreditStatus,jdbcType=TINYINT},
      social_credit_detail = #{socialCreditDetail,jdbcType=VARCHAR},
      income = #{income,jdbcType=VARCHAR},
      house_type = #{houseType,jdbcType=VARCHAR},
      house_owner = #{houseOwner,jdbcType=VARCHAR},
      house_feature = #{houseFeature,jdbcType=VARCHAR},
      house_address = #{houseAddress,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      contact_relation = #{contactRelation,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = now()
    where cust_id = #{custId,jdbcType=BIGINT}
  </update>
</mapper>