<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.DepartmentRelaUserGroupDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.DepartmentRelaUserGroupDO">
        <id column="department_id" jdbcType="BIGINT" property="departmentId"/>
        <id column="user_group_id" jdbcType="BIGINT" property="userGroupId"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <sql id="Base_Column_List">
    department_id, user_group_id, gmt_create, gmt_modify
  </sql>

    <!--  count -->
    <select id="count" parameterType="com.yunche.loan.domain.query.BaseQuery"
            resultType="java.lang.Integer">
        select COUNT(*)
        from department_rela_user_group
        WHERE  department_id = #{id}
    </select>

    <!-- query -->
    <select id="query" parameterType="com.yunche.loan.domain.query.BaseQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from department_rela_user_group
        WHERE department_id = #{id}
        ORDER BY gmt_modify DESC
        limit #{startRow}, #{pageSize}
    </select>

    <!-- batchInsert -->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into department_rela_user_group (department_id, user_group_id, gmt_create,
        gmt_modify)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.departmentId,jdbcType=BIGINT}, #{item.userGroupId,jdbcType=BIGINT},
            #{item.gmtCreate,jdbcType=TIMESTAMP},
            #{item.gmtModify,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <!--getUserGroupIdListByDepartmentId-->
    <select id="getUserGroupIdListByDepartmentId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select  user_group_id
        from department_rela_user_group
        where department_id = #{departmentId,jdbcType=BIGINT}
    </select>

    <!--getDepartmentIdListByUserGroupId-->
    <select id="getDepartmentIdListByUserGroupId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select  department_id
        from department_rela_user_group
        where user_group_id = #{userGroupId,jdbcType=BIGINT}
    </select>

    <!--getByUserGroupId-->
    <select id="getByUserGroupId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from department_rela_user_group
        where user_group_id = #{userGroupId,jdbcType=BIGINT}
    </select>

    <!--updateByUserGroupId-->
    <update id="updateByUserGroupId" parameterType="com.yunche.loan.domain.entity.DepartmentRelaUserGroupDO">
        update department_rela_user_group
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="department_id != null">
                department_id = #{departmentId,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_group_id = #{userGroupId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="com.yunche.loan.domain.entity.DepartmentRelaUserGroupDOKey"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from department_rela_user_group
        where department_id = #{departmentId,jdbcType=BIGINT}
        and user_group_id = #{userGroupId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.yunche.loan.domain.entity.DepartmentRelaUserGroupDOKey">
    delete from department_rela_user_group
    where department_id = #{departmentId,jdbcType=BIGINT}
      and user_group_id = #{userGroupId,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.DepartmentRelaUserGroupDO">
    insert into department_rela_user_group (department_id, user_group_id, gmt_create, 
      gmt_modify)
    values (#{departmentId,jdbcType=BIGINT}, #{userGroupId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP})
  </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.DepartmentRelaUserGroupDO">
        insert into department_rela_user_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="userGroupId != null">
                user_group_id,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="departmentId != null">
                #{departmentId,jdbcType=BIGINT},
            </if>
            <if test="userGroupId != null">
                #{userGroupId,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.DepartmentRelaUserGroupDO">
        update department_rela_user_group
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </set>
        where department_id = #{departmentId,jdbcType=BIGINT}
        and user_group_id = #{userGroupId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.DepartmentRelaUserGroupDO">
    update department_rela_user_group
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where department_id = #{departmentId,jdbcType=BIGINT}
      and user_group_id = #{userGroupId,jdbcType=BIGINT}
  </update>

</mapper>