<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunche.loan.mapper.ExtractionCarMaterialDOMapper">

    <!-- query -->
    <select id="selectMaterialCard" parameterType="com.yunche.loan.domain.query.ExtractionCarMaterialCardQuery"
            resultType="com.yunche.loan.domain.vo.ExtractionCarMaterialCardVO">


    </select>
</mapper>