<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.dao.mapper.FinancialProductDOMapper">
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.dataObj.FinancialProductDO">
    <id column="prod_id" jdbcType="BIGINT" property="prodId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="mnemonic_code" jdbcType="VARCHAR" property="mnemonicCode" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="sign_phone" jdbcType="VARCHAR" property="signPhone" />
    <result column="sign_bank_code" jdbcType="VARCHAR" property="signBankCode" />
    <result column="biz_type" jdbcType="TINYINT" property="bizType" />
    <result column="category_superior" jdbcType="VARCHAR" property="categorySuperior" />
    <result column="category_junior" jdbcType="VARCHAR" property="categoryJunior" />
    <result column="rate" jdbcType="VARCHAR" property="rate" />
    <result column="mortgage_term" jdbcType="TINYINT" property="mortgageTerm" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    prod_id, bank_name, mnemonic_code, account, sign_phone, sign_bank_code, biz_type, 
    category_superior, category_junior, rate, mortgage_term, area_id, gmt_create, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from financial_product
    where prod_id = #{prodId,jdbcType=BIGINT}
  </select>
  <select id="selectByCondition" parameterType="com.yunche.loan.domain.QueryObj.FinancialQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from financial_product
    where
    <if test="bankName != null">
      bank_name = #{bankName,jdbcType=VARCHAR}
      AND
    </if>
    <if test="bizType != null">
      biz_type = #{bizType,jdbcType=TINYINT}
      AND
    </if>
    <if test="categorySuperior != null">
      category_superior = #{category_superior,jdbcType=VARCHAR}
      AND
    </if>
    <if test="categoryJunior != null">
      category_junior = #{category_junior,jdbcType=VARCHAR}
      AND
    </if>
    <if test="rate != null">
      rate = #{rate,jdbcType=VARCHAR}
      AND
    </if>
    <if test="areaId != null">
      area_id = #{area_id,jdbcType=BIGINT}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from financial_product
    where prod_id = #{prodId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunche.loan.domain.dataObj.FinancialProductDO">
    insert into financial_product (prod_id, bank_name, mnemonic_code, 
      account, sign_phone, sign_bank_code, 
      biz_type, category_superior, category_junior, 
      rate, mortgage_term, area_id,
      gmt_create, gmt_modify)
    values (#{prodId,jdbcType=BIGINT}, #{bankName,jdbcType=VARCHAR}, #{mnemonicCode,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{signPhone,jdbcType=VARCHAR}, #{signBankCode,jdbcType=VARCHAR}, 
      #{bizType,jdbcType=TINYINT}, #{categorySuperior,jdbcType=VARCHAR}, #{categoryJunior,jdbcType=VARCHAR}, 
      #{rate,jdbcType=VARCHAR}, #{mortgageTerm,jdbcType=TINYINT}, #{areaId,jdbcType=BIGINT},
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.yunche.loan.domain.dataObj.FinancialProductDO">
    insert into financial_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodId != null">
        prod_id,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="mnemonicCode != null">
        mnemonic_code,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="signPhone != null">
        sign_phone,
      </if>
      <if test="signBankCode != null">
        sign_bank_code,
      </if>
      <if test="bizType != null">
        biz_type,
      </if>
      <if test="categorySuperior != null">
        category_superior,
      </if>
      <if test="categoryJunior != null">
        category_junior,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="mortgageTerm != null">
        mortgage_term,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodId != null">
        #{prodId,jdbcType=BIGINT},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="mnemonicCode != null">
        #{mnemonicCode,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="signPhone != null">
        #{signPhone,jdbcType=VARCHAR},
      </if>
      <if test="signBankCode != null">
        #{signBankCode,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null">
        #{bizType,jdbcType=TINYINT},
      </if>
      <if test="categorySuperior != null">
        #{categorySuperior,jdbcType=VARCHAR},
      </if>
      <if test="categoryJunior != null">
        #{categoryJunior,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="mortgageTerm != null">
        #{mortgageTerm,jdbcType=TINYINT},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.dataObj.FinancialProductDO">
    update financial_product
    <set>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="mnemonicCode != null">
        mnemonic_code = #{mnemonicCode,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="signPhone != null">
        sign_phone = #{signPhone,jdbcType=VARCHAR},
      </if>
      <if test="signBankCode != null">
        sign_bank_code = #{signBankCode,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null">
        biz_type = #{bizType,jdbcType=TINYINT},
      </if>
      <if test="categorySuperior != null">
        category_superior = #{categorySuperior,jdbcType=VARCHAR},
      </if>
      <if test="categoryJunior != null">
        category_junior = #{categoryJunior,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="mortgageTerm != null">
        mortgage_term = #{mortgageTerm,jdbcType=TINYINT},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where prod_id = #{prodId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.dataObj.FinancialProductDO">
    update financial_product
    set bank_name = #{bankName,jdbcType=VARCHAR},
      mnemonic_code = #{mnemonicCode,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      sign_phone = #{signPhone,jdbcType=VARCHAR},
      sign_bank_code = #{signBankCode,jdbcType=VARCHAR},
      biz_type = #{bizType,jdbcType=TINYINT},
      category_superior = #{categorySuperior,jdbcType=VARCHAR},
      category_junior = #{categoryJunior,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=VARCHAR},
      mortgage_term = #{mortgageTerm,jdbcType=TINYINT},
      area_id = #{areaId,jdbcType=BIGINT},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where prod_id = #{prodId,jdbcType=BIGINT}
  </update>
</mapper>