<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.dao.mapper.InstProcessNodeDOMapper">
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.dataObj.InstProcessNodeDO">
    <id column="node_id" jdbcType="BIGINT" property="nodeId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="process_inst_id" jdbcType="VARCHAR" property="processInstId" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="node_code" jdbcType="VARCHAR" property="nodeCode" />
    <result column="next_node_code" jdbcType="VARCHAR" property="nextNodeCode" />
    <result column="previous_node_code" jdbcType="VARCHAR" property="previousNodeCode" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operator_role" jdbcType="VARCHAR" property="operatorRole" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    node_id, order_id, process_inst_id, node_name, node_code, next_node_code, previous_node_code, 
    feature, operator_id, operator_name, operator_role, status, gmt_create, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from inst_process_node
    where node_id = #{nodeId,jdbcType=BIGINT}
  </select>
  <select id="selectByOrderIdAndNodeCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from inst_process_node
    where order_id = #{orderId,jdbcType=BIGINT}
    AND node_code = #{nodeCode,jdbcType=VARCHAR}
    ORDER BY gmt_create DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from inst_process_node
    where node_id = #{nodeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunche.loan.domain.dataObj.InstProcessNodeDO">
    <selectKey resultType="long" keyProperty="nodeId" order="AFTER">
      SELECT LAST_INSERT_ID() as nodeId
    </selectKey>
    insert into inst_process_node (node_id, order_id, process_inst_id, node_name, 
      node_code, next_node_code, previous_node_code, 
      feature, operator_id, operator_name, 
      operator_role, status, gmt_create, 
      gmt_modify)
    values (#{nodeId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{processInstId,jdbcType=VARCHAR}, #{nodeName,jdbcType=VARCHAR}, 
      #{nodeCode,jdbcType=VARCHAR}, #{nextNodeCode,jdbcType=VARCHAR}, #{previousNodeCode,jdbcType=VARCHAR}, 
      #{feature,jdbcType=VARCHAR}, #{operatorId,jdbcType=BIGINT}, #{operatorName,jdbcType=VARCHAR}, 
      #{operatorRole,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.yunche.loan.domain.dataObj.InstProcessNodeDO">
    insert into inst_process_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="processInstId != null">
        process_inst_id,
      </if>
      <if test="nodeName != null">
        node_name,
      </if>
      <if test="nodeCode != null">
        node_code,
      </if>
      <if test="nextNodeCode != null">
        next_node_code,
      </if>
      <if test="previousNodeCode != null">
        previous_node_code,
      </if>
      <if test="feature != null">
        feature,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="operatorRole != null">
        operator_role,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="processInstId != null">
        #{processInstId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeCode != null">
        #{nodeCode,jdbcType=VARCHAR},
      </if>
      <if test="nextNodeCode != null">
        #{nextNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="previousNodeCode != null">
        #{previousNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="feature != null">
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorRole != null">
        #{operatorRole,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.dataObj.InstProcessNodeDO">
    update inst_process_node
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="processInstId != null">
        process_inst_id = #{processInstId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeCode != null">
        node_code = #{nodeCode,jdbcType=VARCHAR},
      </if>
      <if test="nextNodeCode != null">
        next_node_code = #{nextNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="previousNodeCode != null">
        previous_node_code = #{previousNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="feature != null">
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorRole != null">
        operator_role = #{operatorRole,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where node_id = #{nodeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.dataObj.InstProcessNodeDO">
    update inst_process_node
    set order_id = #{orderId,jdbcType=BIGINT},
      process_inst_id = #{processInstId,jdbcType=VARCHAR},
      node_name = #{nodeName,jdbcType=VARCHAR},
      node_code = #{nodeCode,jdbcType=VARCHAR},
      next_node_code = #{nextNodeCode,jdbcType=VARCHAR},
      previous_node_code = #{previousNodeCode,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=BIGINT},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      operator_role = #{operatorRole,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where node_id = #{nodeId,jdbcType=BIGINT}
  </update>
</mapper>