<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.InsuranceInfoDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.InsuranceInfoDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="order_id" property="order_id" jdbcType="BIGINT"/>
        <result column="issue_bills_date" property="issue_bills_date" jdbcType="DATE"/>
        <result column="insurance_year" property="insurance_year" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="feature" property="feature" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_id, issue_bills_date, insurance_year, status, feature
  </sql>

    <select id="listByOrderId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from insurance_info
        where order_id = #{orderId,jdbcType=BIGINT}
    </select>

    <select id="selectByInsuranceYear" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from insurance_info
        where order_id = #{orderId,jdbcType=BIGINT} and insurance_year = #{insuranceYear,jdbcType=TINYINT}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from insurance_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from insurance_info
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.yunche.loan.domain.entity.InsuranceInfoDO">
        insert into insurance_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="order_id != null">
                order_id,
            </if>
            <if test="issue_bills_date != null">
                issue_bills_date,
            </if>
            <if test="insurance_year != null">
                insurance_year,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="feature != null">
                feature,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="order_id != null">
                #{order_id,jdbcType=BIGINT},
            </if>
            <if test="issue_bills_date != null">
                #{issue_bills_date,jdbcType=DATE},
            </if>
            <if test="insurance_year != null">
                #{insurance_year,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.InsuranceInfoDO">
        update insurance_info
        <set>
            <if test="order_id != null">
                order_id = #{order_id,jdbcType=BIGINT},
            </if>
            <if test="issue_bills_date != null">
                issue_bills_date = #{issue_bills_date,jdbcType=DATE},
            </if>
            <if test="insurance_year != null">
                insurance_year = #{insurance_year,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>