<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.LoanOrderDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanOrderDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="process_inst_id" property="processInstId" jdbcType="VARCHAR"/>
        <result column="loan_base_info_id" property="loanBaseInfoId" jdbcType="BIGINT"/>
        <result column="loan_customer_id" property="loanCustomerId" jdbcType="BIGINT"/>
        <result column="loan_car_info_id" property="loanCarInfoId" jdbcType="BIGINT"/>
        <result column="loan_financial_plan_id" property="loanFinancialPlanId" jdbcType="BIGINT"/>
        <result column="loan_home_visit_id" property="loanHomeVisitId" jdbcType="BIGINT"/>
        <result column="material_audit_id" property="materialAuditId" jdbcType="BIGINT"/>
        <result column="cost_details_id" property="costDetailsId" jdbcType="BIGINT"/>
        <result column="remit_details_id" property="remitDetailsId" jdbcType="BIGINT"/>
        <result column="vehicle_information_id" property="vehicleInformationId" jdbcType="BIGINT"/>
        <result column="apply_license_plate_deposit_info_id" property="applyLicensePlateDepositInfoId" jdbcType="BIGINT"/>
        <result column="bank_card_record_id" property="bankCardRecordId" jdbcType="BIGINT"/>
        <result column="bank_lend_record_id" property="bankLendRecordId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP"/>
        <result column="feature" property="feature" jdbcType="VARCHAR"/>
        <result column="rebate_entry" jdbcType="TINYINT" property="rebateEntry" />
        <result column="rebate_periods" jdbcType="INTEGER" property="rebatePeriods" />
        <result column="second_hand_car_evaluate_id" jdbcType="BIGINT" property="second_hand_car_evaluate_id" />
        <result column="second_hand_car_first_site_id" jdbcType="BIGINT" property="second_hand_car_first_site_id" />
        <result column="key_collected" jdbcType="TINYINT" property="keyCollected" />
        <result column="key_special_commit" jdbcType="TINYINT" property="keySpecialCommit" />
    </resultMap>

    <sql id="Base_Column_List">
        id, process_inst_id, loan_base_info_id, loan_customer_id, loan_car_info_id, loan_financial_plan_id,
        loan_home_visit_id, material_audit_id, cost_details_id, remit_details_id, vehicle_information_id,
        apply_license_plate_deposit_info_id, bank_card_record_id, bank_lend_record_id, status,
        gmt_create, gmt_modify, feature, rebate_entry,rebate_periods,
        second_hand_car_evaluate_id,second_hand_car_first_site_id, key_collected,key_special_commit
    </sql>

    <!--getCustIdById-->
    <select id="getCustIdById" parameterType="java.lang.Long" resultType="java.lang.Long">
        select loan_customer_id
        from loan_order
        WHERE id = #{id}
    </select>

    <!--getLoanCarInfoIdById-->
    <select id="getVehicleInformationIdById" parameterType="java.lang.Long" resultType="java.lang.Long">
        select vehicle_information_id
        from loan_order
        WHERE id = #{id}
    </select>

    <!--getLoanCarInfoIdById-->
    <select id="getLoanCarInfoIdById" parameterType="java.lang.Long" resultType="java.lang.Long">
        select loan_car_info_id
        from loan_order
        WHERE id = #{id}
    </select>

    <!--getrelevanceLoanOrderIdByCustomerId-->
    <select id="selectRelevanceLoanOrderIdByCustomerId" parameterType="java.lang.Long" resultType="java.lang.Long">
            select o.id from loan_order o
              inner join
            (select distinct id from loan_customer where principal_cust_id = #{customerId}) t
            on t.id = o.loan_customer_id
    </select>


    <!--getLoanFinancialPlanIdById-->
    <select id="getLoanFinancialPlanIdById" parameterType="java.lang.Long" resultType="java.lang.Long">
        select loan_financial_plan_id
        from loan_order
        WHERE id = #{id}
    </select>


    <!--getByProcessInstId-->
    <select id="getByProcessInstId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_order
        WHERE process_inst_id = #{processInstId}
    </select>

    <!--selectByCustomerId-->
    <select id="selectByCustomerId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_order
        where loan_customer_id = #{customerId,jdbcType=BIGINT}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_order
        where id = #{id,jdbcType=BIGINT}
    </select>


    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanOrderDO">
        insert into loan_order (id, process_inst_id, loan_base_info_id,
        loan_customer_id, loan_car_info_id, loan_financial_plan_id,
        loan_home_visit_id, material_audit_id, cost_details_id,
        remit_details_id, vehicle_information_id, apply_license_plate_deposit_info_id,
        bank_card_record_id, bank_lend_record_id, status,
        gmt_create, gmt_modify, feature, rebate_entry,rebate_periods,
        second_hand_car_evaluate_id,second_hand_car_first_site_id, key_collected,key_special_commit
        )
        values (#{id,jdbcType=BIGINT}, #{processInstId,jdbcType=VARCHAR}, #{loanBaseInfoId,jdbcType=BIGINT},
        #{loanCustomerId,jdbcType=BIGINT}, #{loanCarInfoId,jdbcType=BIGINT}, #{loanFinancialPlanId,jdbcType=BIGINT},
        #{loanHomeVisitId,jdbcType=BIGINT}, #{materialAuditId,jdbcType=BIGINT}, #{costDetailsId,jdbcType=BIGINT},
        #{remitDetailsId,jdbcType=BIGINT}, #{vehicleInformationId,jdbcType=BIGINT}, #{applyLicensePlateDepositInfoId,jdbcType=BIGINT},
        #{bankCardRecordId,jdbcType=BIGINT}, #{bankLendRecordId,jdbcType=BIGINT}, #{status,jdbcType=TINYINT},
        #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{feature,jdbcType=VARCHAR},
        #{rebateEntry,jdbcType=TINYINT},#{rebatePeriods,jdbcType=INTEGER},
        #{second_hand_car_evaluate_id,jdbcType=BIGINT}, #{second_hand_car_first_site_id,jdbcType=BIGINT}, #{keyCollected,jdbcType=TINYINT}, #{keySpecialCommit,jdbcType=TINYINT}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanOrderDO">
        insert into loan_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="processInstId != null">
                process_inst_id,
            </if>
            <if test="loanBaseInfoId != null">
                loan_base_info_id,
            </if>
            <if test="loanCustomerId != null">
                loan_customer_id,
            </if>
            <if test="loanCarInfoId != null">
                loan_car_info_id,
            </if>
            <if test="loanFinancialPlanId != null">
                loan_financial_plan_id,
            </if>
            <if test="loanHomeVisitId != null">
                loan_home_visit_id,
            </if>
            <if test="materialAuditId != null">
                material_audit_id,
            </if>
            <if test="costDetailsId != null">
                cost_details_id,
            </if>
            <if test="remitDetailsId != null">
                remit_details_id,
            </if>
            <if test="vehicleInformationId != null">
                vehicle_information_id,
            </if>
            <if test="applyLicensePlateDepositInfoId != null">
                apply_license_plate_deposit_info_id,
            </if>
            <if test="bankCardRecordId != null">
                bank_card_record_id,
            </if>
            <if test="bankLendRecordId != null">
                bank_lend_record_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="feature != null">
                feature,
            </if>
            <if test="second_hand_car_evaluate_id != null">
                second_hand_car_evaluate_id,
            </if>
            <if test="second_hand_car_first_site_id != null">
                second_hand_car_first_site_id,
            </if>
            <if test="rebateEntry != null">
                rebate_entry,
            </if>
            <if test="rebatePeriods != null">
                rebate_periods,
            </if>
            <if test="keyCollected != null">
                key_collected,
            </if>
            <if test="keySpecialCommit != null">
                key_special_commit,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="processInstId != null">
                #{processInstId,jdbcType=VARCHAR},
            </if>
            <if test="loanBaseInfoId != null">
                #{loanBaseInfoId,jdbcType=BIGINT},
            </if>
            <if test="loanCustomerId != null">
                #{loanCustomerId,jdbcType=BIGINT},
            </if>
            <if test="loanCarInfoId != null">
                #{loanCarInfoId,jdbcType=BIGINT},
            </if>
            <if test="loanFinancialPlanId != null">
                #{loanFinancialPlanId,jdbcType=BIGINT},
            </if>
            <if test="loanHomeVisitId != null">
                #{loanHomeVisitId,jdbcType=BIGINT},
            </if>
            <if test="materialAuditId != null">
                #{materialAuditId,jdbcType=BIGINT},
            </if>
            <if test="costDetailsId != null">
                #{costDetailsId,jdbcType=BIGINT},
            </if>
            <if test="remitDetailsId != null">
                #{remitDetailsId,jdbcType=BIGINT},
            </if>
            <if test="vehicleInformationId != null">
                #{vehicleInformationId,jdbcType=BIGINT},
            </if>
            <if test="applyLicensePlateDepositInfoId != null">
                #{applyLicensePlateDepositInfoId,jdbcType=BIGINT},
            </if>
            <if test="bankCardRecordId != null">
                #{bankCardRecordId,jdbcType=BIGINT},
            </if>
            <if test="bankLendRecordId != null">
                #{bankLendRecordId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
            <if test="second_hand_car_evaluate_id != null">
                #{second_hand_car_evaluate_id,jdbcType=BIGINT},
            </if>
            <if test="second_hand_car_first_site_id != null">
                #{second_hand_car_first_site_id,jdbcType=BIGINT},
            </if>
            <if test="rebateEntry != null">
                #{rebateEntry,jdbcType=TINYINT},
            </if>
            <if test="rebatePeriods != null">
                #{rebatePeriods,jdbcType=INTEGER},
            </if>
            <if test="keyCollected != null">
                #{keyCollected,jdbcType=TINYINT},
            </if>
            <if test="keySpecialCommit != null">
                #{key_special_commit,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanOrderDO">
        update loan_order
        <set>
            <if test="processInstId != null">
                process_inst_id = #{processInstId,jdbcType=VARCHAR},
            </if>
            <if test="loanBaseInfoId != null">
                loan_base_info_id = #{loanBaseInfoId,jdbcType=BIGINT},
            </if>
            <if test="loanCustomerId != null">
                loan_customer_id = #{loanCustomerId,jdbcType=BIGINT},
            </if>
            <if test="loanCarInfoId != null">
                loan_car_info_id = #{loanCarInfoId,jdbcType=BIGINT},
            </if>
            <if test="loanFinancialPlanId != null">
                loan_financial_plan_id = #{loanFinancialPlanId,jdbcType=BIGINT},
            </if>
            <if test="loanHomeVisitId != null">
                loan_home_visit_id = #{loanHomeVisitId,jdbcType=BIGINT},
            </if>
            <if test="materialAuditId != null">
                material_audit_id = #{materialAuditId,jdbcType=BIGINT},
            </if>
            <if test="costDetailsId != null">
                cost_details_id = #{costDetailsId,jdbcType=BIGINT},
            </if>
            <if test="remitDetailsId != null">
                remit_details_id = #{remitDetailsId,jdbcType=BIGINT},
            </if>
            <if test="vehicleInformationId != null">
                vehicle_information_id = #{vehicleInformationId,jdbcType=BIGINT},
            </if>
            <if test="applyLicensePlateDepositInfoId != null">
                apply_license_plate_deposit_info_id = #{applyLicensePlateDepositInfoId,jdbcType=BIGINT},
            </if>
            <if test="bankCardRecordId != null">
                bank_card_record_id = #{bankCardRecordId,jdbcType=BIGINT},
            </if>
            <if test="bankLendRecordId != null">
                bank_lend_record_id = #{bankLendRecordId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
            <if test="rebateEntry != null">
                rebate_entry = #{rebateEntry,jdbcType=TINYINT},
            </if>
            <if test="rebatePeriods != null">
                rebate_periods = #{rebatePeriods,jdbcType=INTEGER},
            </if>

            <if test="second_hand_car_evaluate_id != null">
                second_hand_car_evaluate_id = #{second_hand_car_evaluate_id,jdbcType=BIGINT},
            </if>
            <if test="second_hand_car_first_site_id != null">
                second_hand_car_first_site_id = #{second_hand_car_first_site_id,jdbcType=BIGINT},
            </if>
            <if test="keyCollected != null">
                key_collected = #{keyCollected,jdbcType=TINYINT},
            </if>
            <if test="keySpecialCommit != null">
                key_special_commit = #{keySpecialCommit,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanOrderDO">
        update loan_order
        set process_inst_id = #{processInstId,jdbcType=VARCHAR},
        loan_base_info_id = #{loanBaseInfoId,jdbcType=BIGINT},
        loan_customer_id = #{loanCustomerId,jdbcType=BIGINT},
        loan_car_info_id = #{loanCarInfoId,jdbcType=BIGINT},
        loan_financial_plan_id = #{loanFinancialPlanId,jdbcType=BIGINT},
        loan_home_visit_id = #{loanHomeVisitId,jdbcType=BIGINT},
        material_audit_id = #{materialAuditId,jdbcType=BIGINT},
        cost_details_id = #{costDetailsId,jdbcType=BIGINT},
        remit_details_id = #{remitDetailsId,jdbcType=BIGINT},
        vehicle_information_id = #{vehicleInformationId,jdbcType=BIGINT},
        apply_license_plate_deposit_info_id = #{applyLicensePlateDepositInfoId,jdbcType=BIGINT},
        bank_card_record_id = #{bankCardRecordId,jdbcType=BIGINT},
        bank_lend_record_id = #{bankLendRecordId,jdbcType=BIGINT},
        status = #{status,jdbcType=TINYINT},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
        feature = #{feature,jdbcType=VARCHAR},
        rebate_entry = #{rebateEntry,jdbcType=TINYINT},
        rebate_periods = #{rebatePeriods,jdbcType=INTEGER},
        second_hand_car_evaluate_id = #{second_hand_car_evaluate_id,jdbcType=BIGINT},
        second_hand_car_first_site_id = #{second_hand_car_first_site_id,jdbcType=BIGINT},
        key_collected = #{keyCollected,jdbcType=TINYINT},
        key_special_commit = #{keySpecialCommit,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>