<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.LoanStatementDOMapper">
 <select id="statisticsTelephoneVerifyNodeOrders" parameterType="com.yunche.loan.domain.param.TelephoneVerifyParam" resultType="com.yunche.loan.domain.vo.TelephoneVerifyNodeOrdersVO">
     SELECT
     tab.*
     FROM
     (
     SELECT
     process.gmt_create AS ct,
     process.gmt_modify AS mt,
     process.telephone_verify,
     CASE

     WHEN process.telephone_verify = 2 THEN
     '待处理'
     WHEN process.telephone_verify = 12 THEN
     '弃单'
     WHEN process.telephone_verify = 4 THEN
     '电审专员提交'
     WHEN process.telephone_verify = 5 THEN
     '电审组长提交'
     WHEN process.telephone_verify = 6 THEN
     '电审主管提交'
     WHEN process.telephone_verify = 7 THEN
     '电审总监提交'
     WHEN process.telephone_verify = 1 THEN
     CASE

     WHEN (
     SELECT
     max( g.telephone_verify_level )
     FROM
     employee_rela_user_group ug
     LEFT JOIN user_group g ON ug.user_group_id = g.id
     WHERE
     ug.employee_id = ( SELECT user_id FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 )
     ) = 7 THEN
     '电审总监过单'
     WHEN (
     SELECT
     max( g.telephone_verify_level )
     FROM
     employee_rela_user_group ug
     LEFT JOIN user_group g ON ug.user_group_id = g.id
     WHERE
     ug.employee_id = ( SELECT user_id FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 )
     ) = 6 THEN
     '电审主管过单'
     WHEN (
     SELECT
     max( g.telephone_verify_level )
     FROM
     employee_rela_user_group ug
     LEFT JOIN user_group g ON ug.user_group_id = g.id
     WHERE
     ug.employee_id = ( SELECT user_id FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 )
     ) = 5 THEN
     '电审组长过单'
     WHEN (
     SELECT
     max( g.telephone_verify_level )
     FROM
     employee_rela_user_group ug
     LEFT JOIN user_group g ON ug.user_group_id = g.id
     WHERE
     ug.employee_id = ( SELECT user_id FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 )
     ) = 4 THEN
     '电审专员过单' ELSE '异常提交'
     END ELSE '待处理'
     END AS commit_status,
     orders.id AS order_id,
     customer.NAME AS customer_name,
     '身份证' AS customer_card_type,
     customer.id_card AS customer_id_card,
     saleman.NAME AS saleman_name,
     partner.NAME AS partner_name,
     department.NAME AS saleman_department_name,
     plan.loan_amount AS loan_amount,
     CASE

     WHEN ( SELECT count( order_id ) FROM install_gps GROUP BY order_id HAVING order_id = orders.id ) IS NULL THEN
     0 ELSE ( SELECT count( order_id ) FROM install_gps GROUP BY order_id HAVING order_id = orders.id )
     END AS gps_number,
     ( SELECT NAME FROM employee WHERE id = ( SELECT user_id FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 ) ) AS op_user_name,
     ( SELECT create_time FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 ) op_time,
     CASE

     WHEN ( SELECT credit_result FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 ) = 1 THEN
     '通过'
     WHEN ( SELECT credit_result FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 ) = 1 THEN
     '通融通过' ELSE '待审核'
     END AS result,
     ( SELECT info FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 ) op_info,
     CASE
     WHEN process.telephone_verify = 2 then '待处理'

     WHEN ( SELECT action FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 ) = 3 THEN
     '资料增补'
     WHEN ( SELECT action FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 ) = 2 THEN
     '弃单'
     WHEN ( SELECT action FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 ) = 1 THEN
     '通过'
     WHEN ( SELECT action FROM loan_process_log WHERE task_definition_key = 'usertask_telephone_verify' AND order_id = orders.id ORDER BY create_time DESC LIMIT 1 ) = 0 THEN
     CASE

     WHEN process.telephone_verify IN ( 2, 4, 5, 6, 7 ) THEN
     '待审核' ELSE
     CASE

     WHEN ( SELECT count( 1 ) FROM loan_reject_log WHERE reject_origin_task = 'usertask_telephone_verify' AND order_id = process.order_id AND gmt_create BETWEEN process.gmt_create AND process.gmt_modify ) = 0 THEN
     '待审核' ELSE '已打回'
     END
     END ELSE '未知'
     END AS action
     FROM
     loan_order orders
     LEFT JOIN loan_process process ON orders.id = process.order_id
     LEFT JOIN loan_base_info baseinfo ON orders.loan_base_info_id = baseinfo.id
     LEFT JOIN loan_customer customer ON customer.id = orders.loan_customer_id
     LEFT JOIN loan_financial_plan plan ON plan.id = orders.loan_financial_plan_id
     LEFT JOIN partner partner ON baseinfo.partner_id = partner.id
     LEFT JOIN employee saleman ON baseinfo.salesman_id = saleman.id
     LEFT JOIN department department ON saleman.department_id = department.id
     WHERE
     telephone_verify IN ( 0, 1, 2, 4, 5, 6, 7, 12 )
     ) tab
     WHERE
     CASE

     WHEN tab.telephone_verify = 0 THEN
     CASE

     WHEN (
     SELECT
     count( 1 )
     FROM
     loan_reject_log rej
     WHERE
     rej.reject_origin_task = 'usertask_telephone_verify'
     AND rej.order_id = tab.order_id
     AND rej.gmt_create BETWEEN tab.ct
     AND tab.mt
     ) = 0 THEN
     FALSE ELSE TRUE
     END ELSE TRUE
     END
     AND
     CASE

     WHEN telephone_verify IN ( 2, 4, 5, 6, 7 ) THEN
     TRUE ELSE
     CASE

     WHEN tab.op_time IS NULL THEN
     TRUE ELSE tab.op_time between #{startDate} and #{endDate}
     END
     END
	 <if test="actionList != null and actionList.size() > 0">
		 and
		 action in
		 <foreach item="item" index="index" collection="actionList" open="(" separator="," close=")">
			 #{item}
		 </foreach>
	 </if>
	 <if test="partnerList != null and partnerList.size() > 0">
		 and
		 partner_id in
		 <foreach item="item" index="index" collection="partnerList" open="(" separator="," close=")">
			 #{item}
		 </foreach>
	 </if>
	 <if test="bankList != null and bankList.size() > 0">
		 and
		 bank in
		 <foreach item="item" index="index" collection="bankList" open="(" separator="," close=")">
			 #{item}
		 </foreach>
	 </if>
    order by op_time asc
 </select>
</mapper>