<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.dao.mapper.LoanBaseInfoDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.dataObj.LoanBaseInfoDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="partner_id" jdbcType="BIGINT" property="partnerId"/>
        <result column="salesman_id" jdbcType="BIGINT" property="salesmanId"/>
        <result column="area_id" jdbcType="BIGINT" property="areaId"/>
        <result column="car_type" jdbcType="TINYINT" property="carType"/>
        <result column="bank" jdbcType="VARCHAR" property="bank"/>
        <result column="loan_amount" jdbcType="TINYINT" property="loanAmount"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="feature" jdbcType="VARCHAR" property="feature"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, partner_id, salesman_id, area_id, car_type, bank, loan_amount, status, gmt_create, 
    gmt_modify, feature
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_base_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from loan_base_info
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.dataObj.LoanBaseInfoDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into loan_base_info (id, partner_id, salesman_id,
        area_id, car_type, bank,
        loan_amount, status, gmt_create,
        gmt_modify, feature)
        values (#{id,jdbcType=BIGINT}, #{partnerId,jdbcType=BIGINT}, #{salesmanId,jdbcType=BIGINT},
        #{areaId,jdbcType=BIGINT}, #{carType,jdbcType=TINYINT}, #{bank,jdbcType=VARCHAR},
        #{loanAmount,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModify,jdbcType=TIMESTAMP}, #{feature,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.dataObj.LoanBaseInfoDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into loan_base_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="partnerId != null">
                partner_id,
            </if>
            <if test="salesmanId != null">
                salesman_id,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="carType != null">
                car_type,
            </if>
            <if test="bank != null">
                bank,
            </if>
            <if test="loanAmount != null">
                loan_amount,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="feature != null">
                feature,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="partnerId != null">
                #{partnerId,jdbcType=BIGINT},
            </if>
            <if test="salesmanId != null">
                #{salesmanId,jdbcType=BIGINT},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=BIGINT},
            </if>
            <if test="carType != null">
                #{carType,jdbcType=TINYINT},
            </if>
            <if test="bank != null">
                #{bank,jdbcType=VARCHAR},
            </if>
            <if test="loanAmount != null">
                #{loanAmount,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.dataObj.LoanBaseInfoDO">
        update loan_base_info
        <set>
            <if test="partnerId != null">
                partner_id = #{partnerId,jdbcType=BIGINT},
            </if>
            <if test="salesmanId != null">
                salesman_id = #{salesmanId,jdbcType=BIGINT},
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=BIGINT},
            </if>
            <if test="carType != null">
                car_type = #{carType,jdbcType=TINYINT},
            </if>
            <if test="bank != null">
                bank = #{bank,jdbcType=VARCHAR},
            </if>
            <if test="loanAmount != null">
                loan_amount = #{loanAmount,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.dataObj.LoanBaseInfoDO">
    update loan_base_info
    set partner_id = #{partnerId,jdbcType=BIGINT},
      salesman_id = #{salesmanId,jdbcType=BIGINT},
      area_id = #{areaId,jdbcType=BIGINT},
      car_type = #{carType,jdbcType=TINYINT},
      bank = #{bank,jdbcType=VARCHAR},
      loan_amount = #{loanAmount,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      feature = #{feature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>