<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.LoanQueryDOMapper" >

  <!--上牌抵押-->
  <select id="selectApplyLicensePlateDepositInfo" resultType="com.yunche.loan.domain.vo.ApplyLicensePlateDepositInfoVO" parameterType="java.lang.Long" >

    select
         o.id as order_id,
             c.id as customer_id,
             c.name as cname,
             c.id_card,
             (select name from employee where id = b.salesman_id) as ename,
             (select name from partner where id = b.partner_id) as pname,
             i.car_type,
             l.license_plate_number,
             b.bank,
             a.apply_license_plate_deposit_date,
             a.registration_certificate_number


    from (select * from loan_order where id = #{orderId,jdbcType=BIGINT}) o

    left join loan_customer c on o.loan_customer_id= c.id

    left join loan_base_info b on o.loan_base_info_id = b.id

    left join loan_car_info i on o.loan_car_info_id = i.id

    left join loan_financial_plan f on o.loan_financial_plan_id = f.id

    left join cost_details d on o.cost_details_id = d.id

    left join remit_details r on o.remit_details_id = r.id

    left join apply_license_plate_record l on o.apply_license_plate_record_id = l.id

    left join apply_license_plate_deposit_info a on o.apply_license_plate_deposit_info_id = a.id

  </select>

  <!--上牌记录-->
  <select id="selectApplyLicensePlateRecord" resultType="com.yunche.loan.domain.vo.ApplyLicensePlateRecordVO" parameterType="java.lang.Long" >
    select
         o.id as order_id,
             c.id as customer_id,
             c.name as cname,
             c.id_card,
             (select name from employee where id = b.salesman_id) as ename,
             (select name from partner where id = b.partner_id) as pname,
             i.car_type,
             l.vehicle_identification_number,
             l.license_plate_number,
             l.apply_license_plate_date,
             l.engine_number,
             l.license_plate_type,
             (select area_id from base_area where area_id = l.apply_license_plate_area_id) as apply_license_plate_area_id,
             (select parent_area_id from base_area where area_id = l.apply_license_plate_area_id) as  apply_license_plate_parent_area_id,
             l.registration_certificate_number,
             l.qualified_certificate_number,
             l.car_model,
             l.transfer_ownership_date,
             l.license_plate_readiness_date

    from (select * from loan_order where id = #{orderId,jdbcType=BIGINT}) o

    left join loan_customer c on o.loan_customer_id= c.id

    left join loan_base_info b on o.loan_base_info_id = b.id

    left join loan_car_info i on o.loan_car_info_id = i.id

    left join loan_financial_plan f on o.loan_financial_plan_id = f.id

    left join cost_details d on o.cost_details_id = d.id

    left join remit_details r on o.remit_details_id = r.id

    left join apply_license_plate_record l on o.apply_license_plate_record_id = l.id


  </select>

  <!--业务审批单-->
  <select id="selectBusinessReview" resultType="com.yunche.loan.domain.vo.BusinessReviewVO" parameterType="java.lang.Long" >
    select
         o.id as order_id,
             c.id as customer_id,
             (select id from partner where id = b.partner_id) as pid,
             c.name as cname,
             (select name from employee where id = b.salesman_id) as ename,
             c.id_card,
             (select name from partner where id = b.partner_id) as pname,
             f.loan_amount,
             f.sign_rate,
             f.bank_period_principal,
             f.bank_fee,
             p.pay_month,
             d.service_fee,
             d.apply_license_plate_deposit_fee,
             d.performance_fee,
             d.install_gps_fee,
             d.risk_fee,
             d.fair_assess_fee,
             d.apply_license_plate_out_province_fee,
             d.based_margin_fee,
             d.service_fee_type,
             d.apply_license_plate_deposit_fee_type,
             d.performance_fee_type,
             d.install_gps_fee_type,
             d.risk_fee_type,
             d.fair_assess_fee_type,
             d.apply_license_plate_out_province_fee_type,
             d.based_margin_fee_type,
             (d.service_fee+d.apply_license_plate_deposit_fee+d.performance_fee+d.install_gps_fee+d.risk_fee+d.fair_assess_fee+d.apply_license_plate_out_province_fee+d.based_margin_fee) as total_cost,
             r.beneficiary_bank,
             r.beneficiary_account,
             r.beneficiary_account_number,
             r.return_rate_amount,
             r.remit_amount

    from (select * from loan_order where id = #{orderId,jdbcType=BIGINT}) o

    left join loan_customer c on o.loan_customer_id= c.id

    left join loan_base_info b on o.loan_base_info_id = b.id

    left join loan_car_info i on o.loan_car_info_id = i.id

    left join loan_financial_plan f on o.loan_financial_plan_id = f.id

    left join cost_details d on o.cost_details_id = d.id

    left join remit_details r on o.remit_details_id = r.id

    left join partner p       on p.id = b.partner_id


  </select>

  <!--财务-->
  <select id="selectFinance" resultType="com.yunche.loan.domain.vo.FinanceVO" parameterType="java.lang.Long" >
    select
         o.id as order_id,
             c.id as customer_id,
             c.name as cname,
             c.id_card,
             (select name from employee where id = b.salesman_id) as ename,
             c.mobile,
             f.loan_amount,
             (select name from partner where id = b.partner_id) as pname,
             p.pay_month,
             r.return_rate_amount,
             r.beneficiary_bank,
             r.beneficiary_account,
             r.beneficiary_account_number,
             r.remit_amount,
             d.service_fee,
             d.apply_license_plate_deposit_fee,
             d.performance_fee,
             d.install_gps_fee,
             d.risk_fee,
             d.fair_assess_fee,
             d.apply_license_plate_out_province_fee,
             d.based_margin_fee,
             d.service_fee_type,
             d.apply_license_plate_deposit_fee_type,
             d.performance_fee_type,
             d.install_gps_fee_type,
             d.risk_fee_type,
             d.fair_assess_fee_type,
             d.apply_license_plate_out_province_fee_type,
             d.based_margin_fee_type,
             (d.service_fee+d.apply_license_plate_deposit_fee+d.performance_fee+d.install_gps_fee+d.risk_fee+d.fair_assess_fee+d.apply_license_plate_out_province_fee+d.based_margin_fee) as total_cost,
             m.complete_material_date,
             m.rate_type,
             m.is_pledge,
             m.is_guarantee,
             (select CONCAT(case when parent_area_name = '' or parent_area_name is null then '' else parent_area_name end,case when area_name = '' or area_name is null then '' else area_name end ) from base_area where area_id = b.area_id) as biz_area,
             f.financial_product_name,
             f.loan_time,
             f.bank,
             f.bank_period_principal,
	         (useCalculateStagingRatio((select formula_id from financial_product where prod_id = f.financial_product_id),f.loan_amount,f.sign_rate,(select bank_rate from product_rate where prod_id = f.financial_product_id and loan_time = f.loan_time),f.car_price)) AS bank_per_rate,
             f.bank_fee,
             f.down_payment_money,
             f.down_payment_ratio,
             f.sign_rate,
             f.first_month_repay,
             f.each_month_repay,
             (select count(id) from install_gps where order_id = o.id) as gps_num,
             i.car_key,
             useGetCarName(i.car_detail_id) as car_name,
             useGetSmallCarName(i.car_detail_id) as small_car_name,
             (f.car_price) as sale_price,
             (select price from car_detail where id = i.car_detail_id) as assess_price,
             (select production_type from car_model where id = (select model_id from car_detail where id = i.car_detail_id) ) as production_type,
             l.license_plate_type,
             i.car_type,
             (select area_id from base_area where area_id = l.apply_license_plate_area_id) as apply_license_plate_area_id,
             (select parent_area_id from base_area where area_id = l.apply_license_plate_area_id) as  apply_license_plate_parent_area_id,
             v.visit_date,
             (select name from employee where id = v.visit_salesman_id) as vname,
             v.visit_address,
             v.survey_report,
             c.address,
             l.engine_number,
             c.birth,
             c.postcode,
             c.company_name,
             c.company_address,
             c.working_years,
             c.duty,
             c.sex,
             l.vehicle_identification_number,
             c.education,
             c.month_income,
             c.age

    from (select * from loan_order where id = #{orderId,jdbcType=BIGINT}) o

    left join loan_customer c on o.loan_customer_id= c.id

    left join loan_base_info b on o.loan_base_info_id = b.id

    left join loan_car_info i on o.loan_car_info_id = i.id

    left join loan_financial_plan f on o.loan_financial_plan_id = f.id

    left join cost_details d on o.cost_details_id = d.id

    left join remit_details r on o.remit_details_id = r.id

    left join apply_license_plate_record l on o.apply_license_plate_record_id = l.id

    left join apply_license_plate_deposit_info a on o.apply_license_plate_deposit_info_id = a.id

    left join material_audit m on o.material_audit_id = m.id

    left join loan_home_visit v on o.loan_home_visit_id = v.id

    left join partner p       on p.id = b.partner_id



  </select>

  <!--资料-->
  <select id="selectMaterial" resultType="com.yunche.loan.domain.vo.MaterialVO" parameterType="java.lang.Long" >
        select
         o.id as order_id,
             c.id as customer_id,
             c.name as cname,
             c.id_card,
             (select name from employee where id = b.salesman_id) as ename,
             c.mobile,
             f.loan_amount,
             (select name from partner where id = b.partner_id) as pname,
             m.complete_material_date,
             m.rate_type,
             m.is_pledge,
             m.is_guarantee,
             (select CONCAT(case when parent_area_name = '' or parent_area_name is null then '' else parent_area_name end,case when area_name = '' or area_name is null then '' else area_name end ) from base_area where area_id = b.area_id) as biz_area,
             f.financial_product_name,
             f.loan_time,
             f.bank,
             f.bank_period_principal,
	         (useCalculateStagingRatio((select formula_id from financial_product where prod_id = f.financial_product_id),f.loan_amount,f.sign_rate,(select bank_rate from product_rate where prod_id = f.financial_product_id and loan_time = f.loan_time),f.car_price)) AS bank_per_rate,
             f.bank_fee,
             f.down_payment_money,
             f.down_payment_ratio,
             d.performance_fee,
             f.sign_rate,
             f.first_month_repay,
             f.each_month_repay,
             (select count(id) from install_gps where order_id = o.id) as gps_num,
             i.car_key,
             useGetCarName(i.car_detail_id) as car_name,
             useGetSmallCarName(i.car_detail_id) as small_car_name,
             (f.car_price) as sale_price,
             (select price from car_detail where id = i.car_detail_id) as assess_price,
             (select production_type from car_model where id = (select model_id from car_detail where id = i.car_detail_id) ) as production_type,
             l.license_plate_type,
             i.car_type,
             (select area_id from base_area where area_id = l.apply_license_plate_area_id) as apply_license_plate_area_id,
             (select parent_area_id from base_area where area_id = l.apply_license_plate_area_id) as  apply_license_plate_parent_area_id,
             v.visit_date,
             (select name from employee where id = v.visit_salesman_id) as vname,
             v.visit_address,
             v.survey_report,
             c.address,
             l.engine_number,
             c.birth,
             c.postcode,
             c.company_name,
             c.company_address,
             c.working_years,
             c.duty,
             c.sex,
             l.vehicle_identification_number,
             c.education,
             c.month_income,
             c.age

    from (select * from loan_order where id = #{orderId,jdbcType=BIGINT}) o

    left join loan_customer c on o.loan_customer_id= c.id

    left join loan_base_info b on o.loan_base_info_id = b.id

    left join loan_car_info i on o.loan_car_info_id = i.id

    left join loan_financial_plan f on o.loan_financial_plan_id = f.id

    left join cost_details d on o.cost_details_id = d.id

    left join remit_details r on o.remit_details_id = r.id

    left join apply_license_plate_record l on o.apply_license_plate_record_id = l.id

    left join apply_license_plate_deposit_info a on o.apply_license_plate_deposit_info_id = a.id

    left join material_audit m on o.material_audit_id = m.id

    left join loan_home_visit v on o.loan_home_visit_id = v.id


  </select>

  <!--保险客户信息-->
  <select id="selectInsuranceCustomer" resultType="com.yunche.loan.domain.vo.InsuranceCustomerVO" parameterType="java.lang.Long" >
      select
              o.id as order_id,
              i.id as insurance_info_id,
              c.id as customer_id,
              c.name as cname,
              c.id_card as id_card,
              e.name as ename,
              p.name as pname,
              i.insurance_year,
              i.issue_bills_date,
              c.address as residential_address,
              (select sum(insurance_amount) from insurance_relevance where insurance_info_id = id )as total_insurance_amount

      from
            (select * from loan_order where id = #{orderId,jdbcType=BIGINT}) o
                left join insurance_info i on i.order_id = o.id
                left join loan_customer c on c.id = o.loan_customer_id
                left join loan_base_info b on b.id = o.loan_base_info_id
                left join employee e on e.id = b.salesman_id
                left join partner p on p.id = b.partner_id

    ORDER BY i.issue_bills_date asc


  </select>

    <!--保险客户信息-->
    <select id="selectInsuranceCustomerNormalizeInsuranceYear" resultType="com.yunche.loan.domain.vo.InsuranceCustomerVO" parameterType="java.lang.Long" >
     select
              o.id as order_id,
              i.id as insurance_info_id,
              c.id as customer_id,
              c.name as cname,
              c.id_card as id_card,
              e.name as ename,
              p.name as pname,
              i.insurance_year,
              i.issue_bills_date,
              c.address as residential_address,
              (select sum(insurance_amount) from insurance_relevance where insurance_info_id = id )as total_insurance_amount

      from
            (select * from loan_order where id = #{orderId,jdbcType=BIGINT}) o
                left join insurance_info i on i.order_id = o.id and i.insurance_year = 1
                left join loan_customer c on c.id = o.loan_customer_id
                left join loan_base_info b on b.id = o.loan_base_info_id
                left join employee e on e.id = b.salesman_id
                left join partner p on p.id = b.partner_id
    ORDER BY i.issue_bills_date asc

  </select>

  <!--保险相关信息-->
  <select id="selectInsuranceRelevance" resultType="com.yunche.loan.domain.vo.InsuranceRelevanceVO" parameterType="java.lang.Long" >

    select
             insurance_info_id,
             insurance_company_name,
             insurance_number,
             insurance_amount,
             start_date,
             end_date,
             insurance_type
    from insurance_relevance where insurance_info_id = #{insuranceInfoId,jdbcType=BIGINT}

  </select>

  <!--金融方案-->
  <select id="selectFinancialScheme" resultType="com.yunche.loan.domain.vo.FinancialSchemeVO" parameterType="java.lang.Long" >
    select
         o.id as order_id,
             c.id as customer_id,
             c.name as cname,
             c.id_card,
             f.financial_product_name,
             l.license_plate_number,
             l.registration_certificate_number,
             l.apply_license_plate_date,
             a.apply_license_plate_deposit_date,
             f.loan_time,
             f.car_price,
             b.bank,
             f.sign_rate,
             f.down_payment_money,
             f.loan_amount,
             f.down_payment_ratio,
             f.bank_period_principal,
             f.bank_fee,
             f.principal_interest_sum,
             f.first_month_repay,
             f.each_month_repay

    from (select * from loan_order where id = #{orderId,jdbcType=BIGINT}) o

    left join loan_customer c on o.loan_customer_id= c.id

    left join loan_base_info b on o.loan_base_info_id = b.id

    left join loan_car_info i on o.loan_car_info_id = i.id

    left join loan_financial_plan f on o.loan_financial_plan_id = f.id

    left join cost_details d on o.cost_details_id = d.id

    left join remit_details r on o.remit_details_id = r.id

    left join apply_license_plate_record l on o.apply_license_plate_record_id = l.id

    left join apply_license_plate_deposit_info a on o.apply_license_plate_deposit_info_id = a.id

    left join material_audit m on o.material_audit_id = m.id

    left join loan_home_visit v on o.loan_home_visit_id = v.id


  </select>

  <!--客户信息-->
  <select id="selectUniversalCustomer" resultType="com.yunche.loan.domain.vo.UniversalCustomerVO" parameterType="java.lang.Long" >
    select
        o.id as order_id,
        c.id as customer_id,
        c.cust_type,
        c.name,
        c.id_card,
        c.mobile,
        c.cust_relation,
        c.sex,
        c.company_name,
        c.company_address,
        c.education,
        c.month_income,
        c.address,
        c.postcode,
        c.working_years,
        c.duty,
        case when
            (select result from loan_credit_info where customer_id = 128 and type = 1)  is null
        then
            (select result from loan_credit_info where customer_id = c.id and type = 1) else 1 end as bank_result,
		case when
            (select result from loan_credit_info where customer_id = 128 and type = 2)  is null
        then
            (select result from loan_credit_info where customer_id = c.id and type = 2) else 2 end as society_result


    from (select * from loan_order where id = #{orderId,jdbcType=BIGINT}) o

    left join loan_customer c on o.loan_customer_id= c.id or o.loan_customer_id = c.principal_cust_id


  </select>

    <!--客户信息-->
    <select id="selectUniversalCustomerDetail" resultType="com.yunche.loan.domain.vo.UniversalCustomerDetailVO" parameterType="java.lang.Long" >
              select
                id as customer_id,
                cust_type,
                name,
                id_card,
                mobile,
                age,
                sex,
                apply_date,
                address,
                marry,
                identity_address,
                mobile_area,
                education,
                company_name,
                company_address,
                company_phone,
                month_income,
                house_type,
                house_owner,
                house_feature,
                house_address,
                postcode,
                working_years,
                duty,
                (select gmt_create from loan_credit_info where customer_id = loan_customer.id and type = 1) as bank_gmt_create,
                (select result from loan_credit_info where customer_id = loan_customer.id and type = 1) as bank_result,
                (select info from loan_credit_info where customer_id = loan_customer.id and type = 1) as bank_result_info,

                (select gmt_create from loan_credit_info where customer_id = loan_customer.id and type = 2) as society_gmt_create,
                (select result from loan_credit_info where customer_id = loan_customer.id and type = 2) as society_result,
                (select info from loan_credit_info where customer_id = loan_customer.id and type = 2) as society_result_info
        from loan_customer where id = #{customerId,jdbcType=BIGINT}
    </select>

  <!--客户附件信息-->
  <select id="selectUniversalCustomerFile" resultType="com.yunche.loan.domain.vo.UniversalCustomerFileVO" parameterType="java.lang.Long" >
    select path as urls,type,useFileTypeCastName(type) as name from  loan_file  where customer_id = #{customerId,jdbcType=BIGINT}
  </select>

  <!--资料增补-->
  <select id="selectUniversalMaterialRecord" resultType="com.yunche.loan.domain.vo.UniversalMaterialRecordVO" parameterType="java.lang.Long" >
    select path as urls,type,useFileTypeCastName(type) as name from loan_file where customer_id = (select loan_customer_id from loan_order where id = #{orderId,jdbcType=BIGINT}) and upload_type = 2
  </select>

    <!--计算明细的信息-->
    <select id="selectCostCalculateInfo" resultType="com.yunche.loan.domain.vo.CostCalculateInfoVO" parameterType="java.lang.Long" >
        select

                 f.bank_period_principal,
                 p.pay_month

        from (select * from loan_order where id = #{orderId,jdbcType=BIGINT}) o

        left join loan_base_info b on o.loan_base_info_id = b.id

        left join loan_car_info i on o.loan_car_info_id = i.id

        left join loan_financial_plan f on o.loan_financial_plan_id = f.id

        left join partner p       on p.id = b.partner_id
    </select>

    <select id="selectGpsByOrderId" resultType="com.yunche.loan.domain.vo.GpsVO" parameterType="java.lang.Long" >
        select
        order_id,gps_number
        from install_gps
        where order_id = #{orderId,jdbcType=BIGINT}
    </select>

    <select id="selectVehicleInformation" resultType="com.yunche.loan.domain.vo.VehicleInfoVO"  parameterType="java.lang.Long">
        SELECT
        a.id AS orderId,
        b.id_card AS idCard,
        b.name AS principalLenderName,
        (
        SELECT
        name
        FROM
        employee
        WHERE
        id = c.salesman_id
        ) AS salesman,
        e. NAME AS partnerName,
        a.loan_customer_id AS customerId,
        a.gmt_create AS gmtCreate
        FROM
        loan_order a
        LEFT JOIN loan_customer b ON a.loan_customer_id = b.id
        LEFT JOIN loan_base_info c ON a.loan_base_info_id = c.id
        LEFT JOIN partner d ON c.partner_id = d.id
        LEFT JOIN department e ON d.department_id = e.id
        WHERE
        a.id = #{orderId};
    </select>
</mapper>