<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.LoanFinancialPlanDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanFinancialPlanDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="car_price" jdbcType="DECIMAL" property="carPrice"/>
        <result column="financial_product_id" jdbcType="BIGINT" property="financialProductId"/>
        <result column="bank" jdbcType="VARCHAR" property="bank"/>
        <result column="sign_rate" jdbcType="DECIMAL" property="signRate"/>
        <result column="loan_amount" jdbcType="VARCHAR" property="loanAmount"/>
        <result column="loan_time" jdbcType="INTEGER" property="loanTime"/>
        <result column="down_payment_ratio" jdbcType="DECIMAL" property="downPaymentRatio"/>
        <result column="down_payment_money" jdbcType="DECIMAL" property="downPaymentMoney"/>
        <result column="bank_period_principal" jdbcType="DECIMAL" property="bankPeriodPrincipal"/>
        <result column="bank_fee" jdbcType="DECIMAL" property="bankFee"/>
        <result column="principal_interest_sum" jdbcType="DECIMAL" property="principalInterestSum"/>
        <result column="first_month_repay" jdbcType="DECIMAL" property="firstMonthRepay"/>
        <result column="each_month_repay" jdbcType="DECIMAL" property="eachMonthRepay"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="feature" jdbcType="VARCHAR" property="feature"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, car_price, financial_product_id, bank, sign_rate, loan_amount, loan_time, down_payment_ratio, 
    down_payment_money, bank_period_principal, bank_fee, principal_interest_sum, first_month_repay, 
    each_month_repay, status, gmt_create, gmt_modify, feature
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_financial_plan
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from loan_financial_plan
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanFinancialPlanDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into loan_financial_plan (id, car_price, financial_product_id,
        bank, sign_rate, loan_amount,
        loan_time, down_payment_ratio, down_payment_money,
        bank_period_principal, bank_fee, principal_interest_sum,
        first_month_repay, each_month_repay, status,
        gmt_create, gmt_modify, feature
        )
        values (#{id,jdbcType=BIGINT}, #{carPrice,jdbcType=DECIMAL}, #{financialProductId,jdbcType=BIGINT},
        #{bank,jdbcType=VARCHAR}, #{signRate,jdbcType=DECIMAL}, #{loanAmount,jdbcType=VARCHAR},
        #{loanTime,jdbcType=INTEGER}, #{downPaymentRatio,jdbcType=DECIMAL}, #{downPaymentMoney,jdbcType=DECIMAL},
        #{bankPeriodPrincipal,jdbcType=DECIMAL}, #{bankFee,jdbcType=DECIMAL}, #{principalInterestSum,jdbcType=DECIMAL},
        #{firstMonthRepay,jdbcType=DECIMAL}, #{eachMonthRepay,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT},
        #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{feature,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanFinancialPlanDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into loan_financial_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="carPrice != null">
                car_price,
            </if>
            <if test="financialProductId != null">
                financial_product_id,
            </if>
            <if test="bank != null">
                bank,
            </if>
            <if test="signRate != null">
                sign_rate,
            </if>
            <if test="loanAmount != null">
                loan_amount,
            </if>
            <if test="loanTime != null">
                loan_time,
            </if>
            <if test="downPaymentRatio != null">
                down_payment_ratio,
            </if>
            <if test="downPaymentMoney != null">
                down_payment_money,
            </if>
            <if test="bankPeriodPrincipal != null">
                bank_period_principal,
            </if>
            <if test="bankFee != null">
                bank_fee,
            </if>
            <if test="principalInterestSum != null">
                principal_interest_sum,
            </if>
            <if test="firstMonthRepay != null">
                first_month_repay,
            </if>
            <if test="eachMonthRepay != null">
                each_month_repay,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="feature != null">
                feature,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="carPrice != null">
                #{carPrice,jdbcType=DECIMAL},
            </if>
            <if test="financialProductId != null">
                #{financialProductId,jdbcType=BIGINT},
            </if>
            <if test="bank != null">
                #{bank,jdbcType=VARCHAR},
            </if>
            <if test="signRate != null">
                #{signRate,jdbcType=DECIMAL},
            </if>
            <if test="loanAmount != null">
                #{loanAmount,jdbcType=VARCHAR},
            </if>
            <if test="loanTime != null">
                #{loanTime,jdbcType=INTEGER},
            </if>
            <if test="downPaymentRatio != null">
                #{downPaymentRatio,jdbcType=DECIMAL},
            </if>
            <if test="downPaymentMoney != null">
                #{downPaymentMoney,jdbcType=DECIMAL},
            </if>
            <if test="bankPeriodPrincipal != null">
                #{bankPeriodPrincipal,jdbcType=DECIMAL},
            </if>
            <if test="bankFee != null">
                #{bankFee,jdbcType=DECIMAL},
            </if>
            <if test="principalInterestSum != null">
                #{principalInterestSum,jdbcType=DECIMAL},
            </if>
            <if test="firstMonthRepay != null">
                #{firstMonthRepay,jdbcType=DECIMAL},
            </if>
            <if test="eachMonthRepay != null">
                #{eachMonthRepay,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanFinancialPlanDO">
        update loan_financial_plan
        <set>
            <if test="carPrice != null">
                car_price = #{carPrice,jdbcType=DECIMAL},
            </if>
            <if test="financialProductId != null">
                financial_product_id = #{financialProductId,jdbcType=BIGINT},
            </if>
            <if test="bank != null">
                bank = #{bank,jdbcType=VARCHAR},
            </if>
            <if test="signRate != null">
                sign_rate = #{signRate,jdbcType=DECIMAL},
            </if>
            <if test="loanAmount != null">
                loan_amount = #{loanAmount,jdbcType=VARCHAR},
            </if>
            <if test="loanTime != null">
                loan_time = #{loanTime,jdbcType=INTEGER},
            </if>
            <if test="downPaymentRatio != null">
                down_payment_ratio = #{downPaymentRatio,jdbcType=DECIMAL},
            </if>
            <if test="downPaymentMoney != null">
                down_payment_money = #{downPaymentMoney,jdbcType=DECIMAL},
            </if>
            <if test="bankPeriodPrincipal != null">
                bank_period_principal = #{bankPeriodPrincipal,jdbcType=DECIMAL},
            </if>
            <if test="bankFee != null">
                bank_fee = #{bankFee,jdbcType=DECIMAL},
            </if>
            <if test="principalInterestSum != null">
                principal_interest_sum = #{principalInterestSum,jdbcType=DECIMAL},
            </if>
            <if test="firstMonthRepay != null">
                first_month_repay = #{firstMonthRepay,jdbcType=DECIMAL},
            </if>
            <if test="eachMonthRepay != null">
                each_month_repay = #{eachMonthRepay,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanFinancialPlanDO">
    update loan_financial_plan
    set car_price = #{carPrice,jdbcType=DECIMAL},
      financial_product_id = #{financialProductId,jdbcType=BIGINT},
      bank = #{bank,jdbcType=VARCHAR},
      sign_rate = #{signRate,jdbcType=DECIMAL},
      loan_amount = #{loanAmount,jdbcType=VARCHAR},
      loan_time = #{loanTime,jdbcType=INTEGER},
      down_payment_ratio = #{downPaymentRatio,jdbcType=DECIMAL},
      down_payment_money = #{downPaymentMoney,jdbcType=DECIMAL},
      bank_period_principal = #{bankPeriodPrincipal,jdbcType=DECIMAL},
      bank_fee = #{bankFee,jdbcType=DECIMAL},
      principal_interest_sum = #{principalInterestSum,jdbcType=DECIMAL},
      first_month_repay = #{firstMonthRepay,jdbcType=DECIMAL},
      each_month_repay = #{eachMonthRepay,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      feature = #{feature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>