<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.LoanCarInfoDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanCarInfoDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="car_detail_id" jdbcType="BIGINT" property="carDetailId" />
        <result column="car_detail_name" jdbcType="VARCHAR" property="carDetailName" />
        <result column="evaluation_type" jdbcType="TINYINT" property="evaluationType" />
        <result column="car_type" jdbcType="TINYINT" property="carType" />
        <result column="gps_num" jdbcType="INTEGER" property="gpsNum" />
        <result column="car_key" jdbcType="TINYINT" property="carKey" />
        <result column="partner_id" jdbcType="BIGINT" property="partnerId" />
        <result column="partner_name" jdbcType="VARCHAR" property="partnerName" />
        <result column="open_bank" jdbcType="VARCHAR" property="openBank" />
        <result column="account_name" jdbcType="VARCHAR" property="accountName" />
        <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
        <result column="pay_month" jdbcType="TINYINT" property="payMonth" />
        <result column="info" jdbcType="VARCHAR" property="info" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
        <result column="feature" jdbcType="VARCHAR" property="feature" />
        <result column="first_register_date" jdbcType="DATE" property="firstRegisterDate" />
        <result column="business_source" jdbcType="TINYINT" property="businessSource" />
        <result column="cooperation_dealer" jdbcType="TINYINT" property="cooperationDealer" />
        <result column="vehicle_property" jdbcType="TINYINT" property="vehicleProperty" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="car_category" jdbcType="VARCHAR" property="carCategory" />
        <result column="distributor_name" jdbcType="VARCHAR" property="distributorName" />
        <result column="mileage" jdbcType="VARCHAR" property="mileage" />
        <result column="city_id" jdbcType="BIGINT" property="cityId" />
        <result column="vin" jdbcType="VARCHAR" property="vin" />
        <result column="distributor_id" jdbcType="VARCHAR" property="distributorId" />
    </resultMap>
    <sql id="Base_Column_List">
        id, car_detail_id, car_detail_name, evaluation_type, car_type, gps_num, car_key,
        partner_id, partner_name, open_bank, account_name, bank_account, pay_month, info,
        status, gmt_create, gmt_modify, feature, first_register_date, business_source, cooperation_dealer,
        vehicle_property, order_id, car_category, distributor_name, mileage, city_id,vin,distributor_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from loan_car_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from loan_car_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanCarInfoDO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into loan_car_info (id, car_detail_id, car_detail_name,
        evaluation_type, car_type, gps_num,
        car_key, partner_id, partner_name,
        open_bank, account_name, bank_account,
        pay_month, info, status,
        gmt_create, gmt_modify, feature,
        first_register_date, business_source, cooperation_dealer,
        vehicle_property, order_id, car_category,
        distributor_name, mileage, city_id,vin,distributor_id
        )
        values (#{id,jdbcType=BIGINT}, #{carDetailId,jdbcType=BIGINT}, #{carDetailName,jdbcType=VARCHAR},
        #{evaluationType,jdbcType=TINYINT}, #{carType,jdbcType=TINYINT}, #{gpsNum,jdbcType=INTEGER},
        #{carKey,jdbcType=TINYINT}, #{partnerId,jdbcType=BIGINT}, #{partnerName,jdbcType=VARCHAR},
        #{openBank,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR},
        #{payMonth,jdbcType=TINYINT}, #{info,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
        #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{feature,jdbcType=VARCHAR},
        #{firstRegisterDate,jdbcType=DATE}, #{businessSource,jdbcType=TINYINT}, #{cooperationDealer,jdbcType=TINYINT},
        #{vehicleProperty,jdbcType=TINYINT}, #{orderId,jdbcType=BIGINT}, #{carCategory,jdbcType=VARCHAR},
        #{distributorName,jdbcType=VARCHAR}, #{mileage,jdbcType=VARCHAR}, #{cityId,jdbcType=BIGINT}, #{vin,jdbcType=VARCHAR},#{distributorId,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanCarInfoDO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into loan_car_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="carDetailId != null">
                car_detail_id,
            </if>
            <if test="carDetailName != null">
                car_detail_name,
            </if>
            <if test="evaluationType != null">
                evaluation_type,
            </if>
            <if test="carType != null">
                car_type,
            </if>
            <if test="gpsNum != null">
                gps_num,
            </if>
            <if test="carKey != null">
                car_key,
            </if>
            <if test="partnerId != null">
                partner_id,
            </if>
            <if test="partnerName != null">
                partner_name,
            </if>
            <if test="openBank != null">
                open_bank,
            </if>
            <if test="accountName != null">
                account_name,
            </if>
            <if test="bankAccount != null">
                bank_account,
            </if>
            <if test="payMonth != null">
                pay_month,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="feature != null">
                feature,
            </if>
            <if test="firstRegisterDate != null">
                first_register_date,
            </if>
            <if test="businessSource != null">
                business_source,
            </if>
            <if test="cooperationDealer != null">
                cooperation_dealer,
            </if>
            <if test="vehicleProperty != null">
                vehicle_property,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="carCategory != null">
                car_category,
            </if>
            <if test="distributorName != null">
                distributor_name,
            </if>
            <if test="mileage != null">
                mileage,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="vin != null">
                vin,
            </if>
            <if test="distributorId != null">
                distributor_id,
            </if>


        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="carDetailId != null">
                #{carDetailId,jdbcType=BIGINT},
            </if>
            <if test="carDetailName != null">
                #{carDetailName,jdbcType=VARCHAR},
            </if>
            <if test="evaluationType != null">
                #{evaluationType,jdbcType=TINYINT},
            </if>
            <if test="carType != null">
                #{carType,jdbcType=TINYINT},
            </if>
            <if test="gpsNum != null">
                #{gpsNum,jdbcType=INTEGER},
            </if>
            <if test="carKey != null">
                #{carKey,jdbcType=TINYINT},
            </if>
            <if test="partnerId != null">
                #{partnerId,jdbcType=BIGINT},
            </if>
            <if test="partnerName != null">
                #{partnerName,jdbcType=VARCHAR},
            </if>
            <if test="openBank != null">
                #{openBank,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null">
                #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="payMonth != null">
                #{payMonth,jdbcType=TINYINT},
            </if>
            <if test="info != null">
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
            <if test="firstRegisterDate != null">
                #{firstRegisterDate,jdbcType=DATE},
            </if>
            <if test="businessSource != null">
                #{businessSource,jdbcType=TINYINT},
            </if>
            <if test="cooperationDealer != null">
                #{cooperationDealer,jdbcType=TINYINT},
            </if>
            <if test="vehicleProperty != null">
                #{vehicleProperty,jdbcType=TINYINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="carCategory != null">
                #{carCategory,jdbcType=VARCHAR},
            </if>
            <if test="distributorName != null">
                #{distributorName,jdbcType=VARCHAR},
            </if>
            <if test="mileage != null">
                #{mileage,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=BIGINT},
            </if>
            <if test="vin != null">
                #{vin,jdbcType=VARCHAR},
            </if>
            <if test="distributorId != null">
                #{distributorId,jdbcType=VARCHAR},
            </if>


        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanCarInfoDO">
        update loan_car_info
        <set>
            <if test="carDetailId != null">
                car_detail_id = #{carDetailId,jdbcType=BIGINT},
            </if>
            <if test="carDetailName != null">
                car_detail_name = #{carDetailName,jdbcType=VARCHAR},
            </if>
            <if test="evaluationType != null">
                evaluation_type = #{evaluationType,jdbcType=TINYINT},
            </if>
            <if test="carType != null">
                car_type = #{carType,jdbcType=TINYINT},
            </if>
            <if test="gpsNum != null">
                gps_num = #{gpsNum,jdbcType=INTEGER},
            </if>
            <if test="carKey != null">
                car_key = #{carKey,jdbcType=TINYINT},
            </if>
            <if test="partnerId != null">
                partner_id = #{partnerId,jdbcType=BIGINT},
            </if>
            <if test="partnerName != null">
                partner_name = #{partnerName,jdbcType=VARCHAR},
            </if>
            <if test="openBank != null">
                open_bank = #{openBank,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null">
                account_name = #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                bank_account = #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="payMonth != null">
                pay_month = #{payMonth,jdbcType=TINYINT},
            </if>
            <if test="info != null">
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
            <if test="firstRegisterDate != null">
                first_register_date = #{firstRegisterDate,jdbcType=DATE},
            </if>
            <if test="businessSource != null">
                business_source = #{businessSource,jdbcType=TINYINT},
            </if>
            <if test="cooperationDealer != null">
                cooperation_dealer = #{cooperationDealer,jdbcType=TINYINT},
            </if>
            <if test="vehicleProperty != null">
                vehicle_property = #{vehicleProperty,jdbcType=TINYINT},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="carCategory != null">
                car_category = #{carCategory,jdbcType=VARCHAR},
            </if>
            <if test="distributorName != null">
                distributor_name = #{distributorName,jdbcType=VARCHAR},
            </if>
            <if test="mileage != null">
                mileage = #{mileage,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=BIGINT},
            </if>
            <if test="vin != null">
                vin = #{vin,jdbcType=VARCHAR},
            </if>
            <if test="distributorId != null">
                distributor_id = #{distributorId,jdbcType=VARCHAR},
            </if>


        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanCarInfoDO">
        update loan_car_info
        set car_detail_id = #{carDetailId,jdbcType=BIGINT},
        car_detail_name = #{carDetailName,jdbcType=VARCHAR},
        evaluation_type = #{evaluationType,jdbcType=TINYINT},
        car_type = #{carType,jdbcType=TINYINT},
        gps_num = #{gpsNum,jdbcType=INTEGER},
        car_key = #{carKey,jdbcType=TINYINT},
        partner_id = #{partnerId,jdbcType=BIGINT},
        partner_name = #{partnerName,jdbcType=VARCHAR},
        open_bank = #{openBank,jdbcType=VARCHAR},
        account_name = #{accountName,jdbcType=VARCHAR},
        bank_account = #{bankAccount,jdbcType=VARCHAR},
        pay_month = #{payMonth,jdbcType=TINYINT},
        info = #{info,jdbcType=VARCHAR},
        status = #{status,jdbcType=TINYINT},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
        feature = #{feature,jdbcType=VARCHAR},
        first_register_date = #{firstRegisterDate,jdbcType=DATE},
        business_source = #{businessSource,jdbcType=TINYINT},
        cooperation_dealer = #{cooperationDealer,jdbcType=TINYINT},
        vehicle_property = #{vehicleProperty,jdbcType=TINYINT},
        order_id = #{orderId,jdbcType=BIGINT},
        car_category = #{carCategory,jdbcType=VARCHAR},
        distributor_name = #{distributorName,jdbcType=VARCHAR},
        mileage = #{mileage,jdbcType=VARCHAR},
        city_id = #{cityId,jdbcType=BIGINT},
        vin = #{vin,jdbcType=VARCHAR}，
        distributor_id = #{distributord,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>


    <select id="selectNeedCollectKey" resultType="com.yunche.loan.domain.entity.LoanProcessLogDO" parameterType="java.lang.Long">
        select
        *
        from loan_process_log
        where order_id =  #{orderId,jdbcType=BIGINT} and task_definition_key = '"usertask_commit_key"' order by create_time desc LIMIT 1
    </select>

    <select id="selectFullNameById" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT
        concat( brand.`name`, model.`name` ) AS carName
        FROM
        loan_car_info car left join car_detail detail on detail.id = car.car_detail_id
        LEFT JOIN car_model model ON model.id = detail.model_id
        LEFT JOIN car_brand brand ON brand.id = model.brand_id
        WHERE car.id = #{loanCarId}
    </select>
</mapper>