<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.LoanCustomerDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanCustomerDO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="nation" property="nation" jdbcType="VARCHAR" />
        <result column="birth" property="birth" jdbcType="DATE" />
        <result column="identity_validity" property="identityValidity" jdbcType="VARCHAR" />
        <result column="lend_card" property="lendCard" jdbcType="VARCHAR" />
        <result column="id_card" property="idCard" jdbcType="CHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="TINYINT" />
        <result column="sex" property="sex" jdbcType="TINYINT" />
        <result column="apply_date" property="applyDate" jdbcType="DATE" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="marry" property="marry" jdbcType="TINYINT" />
        <result column="identity_address" property="identityAddress" jdbcType="VARCHAR" />
        <result column="mobile_area" property="mobileArea" jdbcType="VARCHAR" />
        <result column="education" property="education" jdbcType="TINYINT" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="company_phone" property="companyPhone" jdbcType="VARCHAR" />
        <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
        <result column="month_income" property="monthIncome" jdbcType="DECIMAL" />
        <result column="house_type" property="houseType" jdbcType="TINYINT" />
        <result column="house_owner" property="houseOwner" jdbcType="TINYINT" />
        <result column="house_feature" property="houseFeature" jdbcType="TINYINT" />
        <result column="house_address" property="houseAddress" jdbcType="VARCHAR" />
        <result column="info" property="info" jdbcType="VARCHAR" />
        <result column="cust_type" property="custType" jdbcType="TINYINT" />
        <result column="principal_cust_id" property="principalCustId" jdbcType="BIGINT" />
        <result column="cust_relation" property="custRelation" jdbcType="TINYINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
        <result column="feature" property="feature" jdbcType="VARCHAR" />
        <result column="postcode" property="postcode" jdbcType="VARCHAR" />
        <result column="working_years" property="workingYears" jdbcType="BIGINT" />
        <result column="duty" property="duty" jdbcType="VARCHAR" />
        <result column="household_nature" property="householdNature" jdbcType="TINYINT" />
        <result column="children_num" property="childrenNum" jdbcType="VARCHAR" />
        <result column="reserve_mobile" property="reserveMobile" jdbcType="VARCHAR" />
        <result column="company_nature" property="companyNature" jdbcType="TINYINT" />
        <result column="industry_category" property="industryCategory" jdbcType="TINYINT" />
        <result column="income_certificate_company_name" property="incomeCertificateCompanyName" jdbcType="VARCHAR" />
        <result column="income_certificate_company_address" property="incomeCertificateCompanyAddress" jdbcType="VARCHAR" />
        <result column="family_address" property="familyAddress" jdbcType="VARCHAR" />
        <result column="family_mobile" property="familyMobile" jdbcType="BIGINT" />
        <result column="family_monthly_income" property="familyMonthlyIncome" jdbcType="DECIMAL" />
        <result column="feeding_num" property="feedingNum" jdbcType="BIGINT" />
        <result column="floor_space" property="floorSpace" jdbcType="BIGINT" />
        <result column="house_owner_relation" property="houseOwnerRelation" jdbcType="TINYINT" />
        <result column="bank_card_transmit_address" property="bankCardTransmitAddress" jdbcType="VARCHAR" />
        <result column="bank_card_transmit_postcode" property="bankCardTransmitPostcode" jdbcType="VARCHAR" />
        <result column="house_certificate_type" property="houseCertificateType" jdbcType="TINYINT" />
        <result column="bank_card_transmit_address_type" property="bankCardTransmitAddressType" jdbcType="TINYINT" />
        <result column="company_postcode" property="companyPostcode" jdbcType="VARCHAR" />
        <result column="elementary_school" property="elementarySchool" jdbcType="VARCHAR" />
        <result column="professional" property="professional" jdbcType="VARCHAR" />
        <result column="family_person_num" property="familyPersonNum" jdbcType="BIGINT" />
        <result column="debt_ratio" property="debtRatio" jdbcType="DECIMAL" />
        <result column="guarantee_type" property="guaranteeType" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
    id, name, nation, birth, identity_validity, lend_card, id_card, mobile, age, sex,
    apply_date, address, marry, identity_address, mobile_area, education, company_name,
    company_phone, company_address, month_income, house_type, house_owner, house_feature,
    house_address, info, cust_type, principal_cust_id, cust_relation, status, gmt_create,
    gmt_modify, feature, postcode, working_years, duty, household_nature, children_num,
    reserve_mobile, company_nature, industry_category, income_certificate_company_name,
    income_certificate_company_address, family_address, family_mobile, family_monthly_income,
    feeding_num, floor_space, house_owner_relation, bank_card_transmit_address, bank_card_transmit_postcode,
    house_certificate_type, bank_card_transmit_address_type, company_postcode, elementary_school,
    professional, family_person_num, debt_ratio, guarantee_type
  </sql>

    <!--listPrincipalCustIdByIdCard-->
    <select id="listPrincipalCustIdByIdCard" resultType="java.lang.Long">
        SELECT id
        FROM loan_customer
        WHERE id_card = #{idCard,jdbcType=CHAR}
    </select>

    <!--listByPrincipalCustIdAndType-->
    <select id="listByPrincipalCustIdAndType" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM loan_customer
        WHERE principal_cust_id = #{principalCustId,jdbcType=BIGINT}
        <if test="custType != null">
            AND cust_type = #{custType}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <!--getFilesById-->
    <select id="getFilesById" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT files
        FROM loan_customer
        WHERE id = #{principalLenderId,jdbcType=BIGINT}
    </select>

    <!--updatePrincipalCustId-->
    <update id="updatePrincipalCustId">
        UPDATE loan_customer
        SET principal_cust_id = #{newPrincipalLenderId,jdbcType=BIGINT}
        WHERE principal_cust_id = #{oldPrincipalLenderId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_customer
        where id = #{id,jdbcType=BIGINT}
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from loan_customer
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanCustomerDO" >
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

    insert into loan_customer (id, name, nation,
      birth, identity_validity, lend_card,
      id_card, mobile, age, sex,
      apply_date, address, marry,
      identity_address, mobile_area, education,
      company_name, company_phone, company_address,
      month_income, house_type, house_owner,
      house_feature, house_address, info,
      cust_type, principal_cust_id, cust_relation,
      status, gmt_create, gmt_modify,
      feature, postcode, working_years,
      duty, household_nature, children_num,
      reserve_mobile, company_nature, industry_category,
      income_certificate_company_name, income_certificate_company_address,
      family_address, family_mobile, family_monthly_income,
      feeding_num, floor_space, house_owner_relation,
      bank_card_transmit_address, bank_card_transmit_postcode,
      house_certificate_type, bank_card_transmit_address_type,
      company_postcode, elementary_school, professional,
      family_person_num, debt_ratio, guarantee_type
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR},
      #{birth,jdbcType=DATE}, #{identityValidity,jdbcType=VARCHAR}, #{lendCard,jdbcType=VARCHAR},
      #{idCard,jdbcType=CHAR}, #{mobile,jdbcType=VARCHAR}, #{age,jdbcType=TINYINT}, #{sex,jdbcType=TINYINT},
      #{applyDate,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, #{marry,jdbcType=TINYINT},
      #{identityAddress,jdbcType=VARCHAR}, #{mobileArea,jdbcType=VARCHAR}, #{education,jdbcType=TINYINT},
      #{companyName,jdbcType=VARCHAR}, #{companyPhone,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR},
      #{monthIncome,jdbcType=DECIMAL}, #{houseType,jdbcType=TINYINT}, #{houseOwner,jdbcType=TINYINT},
      #{houseFeature,jdbcType=TINYINT}, #{houseAddress,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR},
      #{custType,jdbcType=TINYINT}, #{principalCustId,jdbcType=BIGINT}, #{custRelation,jdbcType=TINYINT},
      #{status,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP},
      #{feature,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{workingYears,jdbcType=BIGINT},
      #{duty,jdbcType=VARCHAR}, #{householdNature,jdbcType=TINYINT}, #{childrenNum,jdbcType=VARCHAR},
      #{reserveMobile,jdbcType=VARCHAR}, #{companyNature,jdbcType=TINYINT}, #{industryCategory,jdbcType=TINYINT},
      #{incomeCertificateCompanyName,jdbcType=VARCHAR}, #{incomeCertificateCompanyAddress,jdbcType=VARCHAR},
      #{familyAddress,jdbcType=VARCHAR}, #{familyMobile,jdbcType=BIGINT}, #{familyMonthlyIncome,jdbcType=DECIMAL},
      #{feedingNum,jdbcType=BIGINT}, #{floorSpace,jdbcType=BIGINT}, #{houseOwnerRelation,jdbcType=TINYINT},
      #{bankCardTransmitAddress,jdbcType=VARCHAR}, #{bankCardTransmitPostcode,jdbcType=VARCHAR},
      #{houseCertificateType,jdbcType=TINYINT}, #{bankCardTransmitAddressType,jdbcType=TINYINT},
      #{companyPostcode,jdbcType=VARCHAR}, #{elementarySchool,jdbcType=VARCHAR}, #{professional,jdbcType=VARCHAR},
      #{familyPersonNum,jdbcType=BIGINT}, #{debtRatio,jdbcType=DECIMAL}, #{guaranteeType,jdbcType=TINYINT}
      )
  </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanCustomerDO" >
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into loan_customer
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="nation != null" >
                nation,
            </if>
            <if test="birth != null" >
                birth,
            </if>
            <if test="identityValidity != null" >
                identity_validity,
            </if>
            <if test="lendCard != null" >
                lend_card,
            </if>
            <if test="idCard != null" >
                id_card,
            </if>
            <if test="mobile != null" >
                mobile,
            </if>
            <if test="age != null" >
                age,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="applyDate != null" >
                apply_date,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="marry != null" >
                marry,
            </if>
            <if test="identityAddress != null" >
                identity_address,
            </if>
            <if test="mobileArea != null" >
                mobile_area,
            </if>
            <if test="education != null" >
                education,
            </if>
            <if test="companyName != null" >
                company_name,
            </if>
            <if test="companyPhone != null" >
                company_phone,
            </if>
            <if test="companyAddress != null" >
                company_address,
            </if>
            <if test="monthIncome != null" >
                month_income,
            </if>
            <if test="houseType != null" >
                house_type,
            </if>
            <if test="houseOwner != null" >
                house_owner,
            </if>
            <if test="houseFeature != null" >
                house_feature,
            </if>
            <if test="houseAddress != null" >
                house_address,
            </if>
            <if test="info != null" >
                info,
            </if>
            <if test="custType != null" >
                cust_type,
            </if>
            <if test="principalCustId != null" >
                principal_cust_id,
            </if>
            <if test="custRelation != null" >
                cust_relation,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="gmtCreate != null" >
                gmt_create,
            </if>
            <if test="gmtModify != null" >
                gmt_modify,
            </if>
            <if test="feature != null" >
                feature,
            </if>
            <if test="postcode != null" >
                postcode,
            </if>
            <if test="workingYears != null" >
                working_years,
            </if>
            <if test="duty != null" >
                duty,
            </if>
            <if test="householdNature != null" >
                household_nature,
            </if>
            <if test="childrenNum != null" >
                children_num,
            </if>
            <if test="reserveMobile != null" >
                reserve_mobile,
            </if>
            <if test="companyNature != null" >
                company_nature,
            </if>
            <if test="industryCategory != null" >
                industry_category,
            </if>
            <if test="incomeCertificateCompanyName != null" >
                income_certificate_company_name,
            </if>
            <if test="incomeCertificateCompanyAddress != null" >
                income_certificate_company_address,
            </if>
            <if test="familyAddress != null" >
                family_address,
            </if>
            <if test="familyMobile != null" >
                family_mobile,
            </if>
            <if test="familyMonthlyIncome != null" >
                family_monthly_income,
            </if>
            <if test="feedingNum != null" >
                feeding_num,
            </if>
            <if test="floorSpace != null" >
                floor_space,
            </if>
            <if test="houseOwnerRelation != null" >
                house_owner_relation,
            </if>
            <if test="bankCardTransmitAddress != null" >
                bank_card_transmit_address,
            </if>
            <if test="bankCardTransmitPostcode != null" >
                bank_card_transmit_postcode,
            </if>
            <if test="houseCertificateType != null" >
                house_certificate_type,
            </if>
            <if test="bankCardTransmitAddressType != null" >
                bank_card_transmit_address_type,
            </if>
            <if test="companyPostcode != null" >
                company_postcode,
            </if>
            <if test="elementarySchool != null" >
                elementary_school,
            </if>
            <if test="professional != null" >
                professional,
            </if>
            <if test="familyPersonNum != null" >
                family_person_num,
            </if>
            <if test="debtRatio != null" >
                debt_ratio,
            </if>
            <if test="guaranteeType != null" >
                guarantee_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="nation != null" >
                #{nation,jdbcType=VARCHAR},
            </if>
            <if test="birth != null" >
                #{birth,jdbcType=DATE},
            </if>
            <if test="identityValidity != null" >
                #{identityValidity,jdbcType=VARCHAR},
            </if>
            <if test="lendCard != null" >
                #{lendCard,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null" >
                #{idCard,jdbcType=CHAR},
            </if>
            <if test="mobile != null" >
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                #{age,jdbcType=TINYINT},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=TINYINT},
            </if>
            <if test="applyDate != null" >
                #{applyDate,jdbcType=DATE},
            </if>
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="marry != null" >
                #{marry,jdbcType=TINYINT},
            </if>
            <if test="identityAddress != null" >
                #{identityAddress,jdbcType=VARCHAR},
            </if>
            <if test="mobileArea != null" >
                #{mobileArea,jdbcType=VARCHAR},
            </if>
            <if test="education != null" >
                #{education,jdbcType=TINYINT},
            </if>
            <if test="companyName != null" >
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyPhone != null" >
                #{companyPhone,jdbcType=VARCHAR},
            </if>
            <if test="companyAddress != null" >
                #{companyAddress,jdbcType=VARCHAR},
            </if>
            <if test="monthIncome != null" >
                #{monthIncome,jdbcType=DECIMAL},
            </if>
            <if test="houseType != null" >
                #{houseType,jdbcType=TINYINT},
            </if>
            <if test="houseOwner != null" >
                #{houseOwner,jdbcType=TINYINT},
            </if>
            <if test="houseFeature != null" >
                #{houseFeature,jdbcType=TINYINT},
            </if>
            <if test="houseAddress != null" >
                #{houseAddress,jdbcType=VARCHAR},
            </if>
            <if test="info != null" >
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="custType != null" >
                #{custType,jdbcType=TINYINT},
            </if>
            <if test="principalCustId != null" >
                #{principalCustId,jdbcType=BIGINT},
            </if>
            <if test="custRelation != null" >
                #{custRelation,jdbcType=TINYINT},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null" >
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null" >
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null" >
                #{feature,jdbcType=VARCHAR},
            </if>
            <if test="postcode != null" >
                #{postcode,jdbcType=VARCHAR},
            </if>
            <if test="workingYears != null" >
                #{workingYears,jdbcType=BIGINT},
            </if>
            <if test="duty != null" >
                #{duty,jdbcType=VARCHAR},
            </if>
            <if test="householdNature != null" >
                #{householdNature,jdbcType=TINYINT},
            </if>
            <if test="childrenNum != null" >
                #{childrenNum,jdbcType=VARCHAR},
            </if>
            <if test="reserveMobile != null" >
                #{reserveMobile,jdbcType=VARCHAR},
            </if>
            <if test="companyNature != null" >
                #{companyNature,jdbcType=TINYINT},
            </if>
            <if test="industryCategory != null" >
                #{industryCategory,jdbcType=TINYINT},
            </if>
            <if test="incomeCertificateCompanyName != null" >
                #{incomeCertificateCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="incomeCertificateCompanyAddress != null" >
                #{incomeCertificateCompanyAddress,jdbcType=VARCHAR},
            </if>
            <if test="familyAddress != null" >
                #{familyAddress,jdbcType=VARCHAR},
            </if>
            <if test="familyMobile != null" >
                #{familyMobile,jdbcType=BIGINT},
            </if>
            <if test="familyMonthlyIncome != null" >
                #{familyMonthlyIncome,jdbcType=DECIMAL},
            </if>
            <if test="feedingNum != null" >
                #{feedingNum,jdbcType=BIGINT},
            </if>
            <if test="floorSpace != null" >
                #{floorSpace,jdbcType=BIGINT},
            </if>
            <if test="houseOwnerRelation != null" >
                #{houseOwnerRelation,jdbcType=TINYINT},
            </if>
            <if test="bankCardTransmitAddress != null" >
                #{bankCardTransmitAddress,jdbcType=VARCHAR},
            </if>
            <if test="bankCardTransmitPostcode != null" >
                #{bankCardTransmitPostcode,jdbcType=VARCHAR},
            </if>
            <if test="houseCertificateType != null" >
                #{houseCertificateType,jdbcType=TINYINT},
            </if>
            <if test="bankCardTransmitAddressType != null" >
                #{bankCardTransmitAddressType,jdbcType=TINYINT},
            </if>
            <if test="companyPostcode != null" >
                #{companyPostcode,jdbcType=VARCHAR},
            </if>
            <if test="elementarySchool != null" >
                #{elementarySchool,jdbcType=VARCHAR},
            </if>
            <if test="professional != null" >
                #{professional,jdbcType=VARCHAR},
            </if>
            <if test="familyPersonNum != null" >
                #{familyPersonNum,jdbcType=BIGINT},
            </if>
            <if test="debtRatio != null" >
                #{debtRatio,jdbcType=DECIMAL},
            </if>
            <if test="guaranteeType != null" >
                #{guaranteeType,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanCustomerDO" >
        update loan_customer
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="nation != null" >
                nation = #{nation,jdbcType=VARCHAR},
            </if>
            <if test="birth != null" >
                birth = #{birth,jdbcType=DATE},
            </if>
            <if test="identityValidity != null" >
                identity_validity = #{identityValidity,jdbcType=VARCHAR},
            </if>
            <if test="lendCard != null" >
                lend_card = #{lendCard,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null" >
                id_card = #{idCard,jdbcType=CHAR},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                age = #{age,jdbcType=TINYINT},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="applyDate != null" >
                apply_date = #{applyDate,jdbcType=DATE},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="marry != null" >
                marry = #{marry,jdbcType=TINYINT},
            </if>
            <if test="identityAddress != null" >
                identity_address = #{identityAddress,jdbcType=VARCHAR},
            </if>
            <if test="mobileArea != null" >
                mobile_area = #{mobileArea,jdbcType=VARCHAR},
            </if>
            <if test="education != null" >
                education = #{education,jdbcType=TINYINT},
            </if>
            <if test="companyName != null" >
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyPhone != null" >
                company_phone = #{companyPhone,jdbcType=VARCHAR},
            </if>
            <if test="companyAddress != null" >
                company_address = #{companyAddress,jdbcType=VARCHAR},
            </if>
            <if test="monthIncome != null" >
                month_income = #{monthIncome,jdbcType=DECIMAL},
            </if>
            <if test="houseType != null" >
                house_type = #{houseType,jdbcType=TINYINT},
            </if>
            <if test="houseOwner != null" >
                house_owner = #{houseOwner,jdbcType=TINYINT},
            </if>
            <if test="houseFeature != null" >
                house_feature = #{houseFeature,jdbcType=TINYINT},
            </if>
            <if test="houseAddress != null" >
                house_address = #{houseAddress,jdbcType=VARCHAR},
            </if>
            <if test="info != null" >
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="custType != null" >
                cust_type = #{custType,jdbcType=TINYINT},
            </if>
            <if test="principalCustId != null" >
                principal_cust_id = #{principalCustId,jdbcType=BIGINT},
            </if>
            <if test="custRelation != null" >
                cust_relation = #{custRelation,jdbcType=TINYINT},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null" >
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null" >
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null" >
                feature = #{feature,jdbcType=VARCHAR},
            </if>
            <if test="postcode != null" >
                postcode = #{postcode,jdbcType=VARCHAR},
            </if>
            <if test="workingYears != null" >
                working_years = #{workingYears,jdbcType=BIGINT},
            </if>
            <if test="duty != null" >
                duty = #{duty,jdbcType=VARCHAR},
            </if>
            <if test="householdNature != null" >
                household_nature = #{householdNature,jdbcType=TINYINT},
            </if>
            <if test="childrenNum != null" >
                children_num = #{childrenNum,jdbcType=VARCHAR},
            </if>
            <if test="reserveMobile != null" >
                reserve_mobile = #{reserveMobile,jdbcType=VARCHAR},
            </if>
            <if test="companyNature != null" >
                company_nature = #{companyNature,jdbcType=TINYINT},
            </if>
            <if test="industryCategory != null" >
                industry_category = #{industryCategory,jdbcType=TINYINT},
            </if>
            <if test="incomeCertificateCompanyName != null" >
                income_certificate_company_name = #{incomeCertificateCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="incomeCertificateCompanyAddress != null" >
                income_certificate_company_address = #{incomeCertificateCompanyAddress,jdbcType=VARCHAR},
            </if>
            <if test="familyAddress != null" >
                family_address = #{familyAddress,jdbcType=VARCHAR},
            </if>
            <if test="familyMobile != null" >
                family_mobile = #{familyMobile,jdbcType=BIGINT},
            </if>
            <if test="familyMonthlyIncome != null" >
                family_monthly_income = #{familyMonthlyIncome,jdbcType=DECIMAL},
            </if>
            <if test="feedingNum != null" >
                feeding_num = #{feedingNum,jdbcType=BIGINT},
            </if>
            <if test="floorSpace != null" >
                floor_space = #{floorSpace,jdbcType=BIGINT},
            </if>
            <if test="houseOwnerRelation != null" >
                house_owner_relation = #{houseOwnerRelation,jdbcType=TINYINT},
            </if>
            <if test="bankCardTransmitAddress != null" >
                bank_card_transmit_address = #{bankCardTransmitAddress,jdbcType=VARCHAR},
            </if>
            <if test="bankCardTransmitPostcode != null" >
                bank_card_transmit_postcode = #{bankCardTransmitPostcode,jdbcType=VARCHAR},
            </if>
            <if test="houseCertificateType != null" >
                house_certificate_type = #{houseCertificateType,jdbcType=TINYINT},
            </if>
            <if test="bankCardTransmitAddressType != null" >
                bank_card_transmit_address_type = #{bankCardTransmitAddressType,jdbcType=TINYINT},
            </if>
            <if test="companyPostcode != null" >
                company_postcode = #{companyPostcode,jdbcType=VARCHAR},
            </if>
            <if test="elementarySchool != null" >
                elementary_school = #{elementarySchool,jdbcType=VARCHAR},
            </if>
            <if test="professional != null" >
                professional = #{professional,jdbcType=VARCHAR},
            </if>
            <if test="familyPersonNum != null" >
                family_person_num = #{familyPersonNum,jdbcType=BIGINT},
            </if>
            <if test="debtRatio != null" >
                debt_ratio = #{debtRatio,jdbcType=DECIMAL},
            </if>
            <if test="guaranteeType != null" >
                guarantee_type = #{guaranteeType,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanCustomerDO" >
    update loan_customer
    set name = #{name,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=DATE},
      identity_validity = #{identityValidity,jdbcType=VARCHAR},
      lend_card = #{lendCard,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=CHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      age = #{age,jdbcType=TINYINT},
      sex = #{sex,jdbcType=TINYINT},
      apply_date = #{applyDate,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      marry = #{marry,jdbcType=TINYINT},
      identity_address = #{identityAddress,jdbcType=VARCHAR},
      mobile_area = #{mobileArea,jdbcType=VARCHAR},
      education = #{education,jdbcType=TINYINT},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_phone = #{companyPhone,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      month_income = #{monthIncome,jdbcType=DECIMAL},
      house_type = #{houseType,jdbcType=TINYINT},
      house_owner = #{houseOwner,jdbcType=TINYINT},
      house_feature = #{houseFeature,jdbcType=TINYINT},
      house_address = #{houseAddress,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      cust_type = #{custType,jdbcType=TINYINT},
      principal_cust_id = #{principalCustId,jdbcType=BIGINT},
      cust_relation = #{custRelation,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      feature = #{feature,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      working_years = #{workingYears,jdbcType=BIGINT},
      duty = #{duty,jdbcType=VARCHAR},
      household_nature = #{householdNature,jdbcType=TINYINT},
      children_num = #{childrenNum,jdbcType=VARCHAR},
      reserve_mobile = #{reserveMobile,jdbcType=VARCHAR},
      company_nature = #{companyNature,jdbcType=TINYINT},
      industry_category = #{industryCategory,jdbcType=TINYINT},
      income_certificate_company_name = #{incomeCertificateCompanyName,jdbcType=VARCHAR},
      income_certificate_company_address = #{incomeCertificateCompanyAddress,jdbcType=VARCHAR},
      family_address = #{familyAddress,jdbcType=VARCHAR},
      family_mobile = #{familyMobile,jdbcType=BIGINT},
      family_monthly_income = #{familyMonthlyIncome,jdbcType=DECIMAL},
      feeding_num = #{feedingNum,jdbcType=BIGINT},
      floor_space = #{floorSpace,jdbcType=BIGINT},
      house_owner_relation = #{houseOwnerRelation,jdbcType=TINYINT},
      bank_card_transmit_address = #{bankCardTransmitAddress,jdbcType=VARCHAR},
      bank_card_transmit_postcode = #{bankCardTransmitPostcode,jdbcType=VARCHAR},
      house_certificate_type = #{houseCertificateType,jdbcType=TINYINT},
      bank_card_transmit_address_type = #{bankCardTransmitAddressType,jdbcType=TINYINT},
      company_postcode = #{companyPostcode,jdbcType=VARCHAR},
      elementary_school = #{elementarySchool,jdbcType=VARCHAR},
      professional = #{professional,jdbcType=VARCHAR},
      family_person_num = #{familyPersonNum,jdbcType=BIGINT},
      debt_ratio = #{debtRatio,jdbcType=DECIMAL},
      guarantee_type = #{guaranteeType,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>