<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.LoanBankCardSendDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanBankCardSendDO">
        <id column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="cardholder_name" property="cardholderName" jdbcType="VARCHAR"/>
        <result column="cardholder_phone" property="cardholderPhone" jdbcType="VARCHAR"/>
        <result column="cardholder_address" property="cardholderAddress" jdbcType="VARCHAR"/>
        <result column="repay_card_num" property="repayCardNum" jdbcType="VARCHAR"/>
        <result column="express_send_address" property="expressSendAddress" jdbcType="VARCHAR"/>
        <result column="express_com" property="expressCom" jdbcType="TINYINT"/>
        <result column="express_send_num" property="expressSendNum" jdbcType="VARCHAR"/>
        <result column="express_send_date" property="expressSendDate" jdbcType="TIMESTAMP"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id, cardholder_name, cardholder_phone, cardholder_address, repay_card_num,
        express_send_address, express_com, express_send_num, express_send_date, gmt_create,
        gmt_modify
    </sql>

    <!--batchInsert-->
    <insert id="batchInsert">

        INSERT INTO

        loan_bank_card_send

        (
        order_id, cardholder_name, cardholder_phone,
        cardholder_address, repay_card_num, express_send_address,
        express_com, express_send_num, express_send_date, gmt_create, gmt_modify
        )

        VALUES

        <foreach collection="list" item="item" separator=",">
            (#{item.orderId,jdbcType=BIGINT}, #{item.cardholderName,jdbcType=VARCHAR},
            #{item.cardholderPhone,jdbcType=VARCHAR},
            #{item.cardholderAddress,jdbcType=VARCHAR}, #{item.repayCardNum,jdbcType=VARCHAR},
            #{item.expressSendAddress,jdbcType=VARCHAR},
            #{item.expressCom,jdbcType=TINYINT},
            #{item.expressSendNum,jdbcType=VARCHAR},
            #{item.expressSendDate,jdbcType=TIMESTAMP},
            #{item.gmtCreate,jdbcType=TIMESTAMP},
            #{item.gmtModify,jdbcType=TIMESTAMP})
        </foreach>

        ON DUPLICATE KEY UPDATE

        cardholder_name = VALUES(cardholder_name),
        cardholder_phone = VALUES(cardholder_phone),
        cardholder_address = VALUES(cardholder_address),
        repay_card_num = VALUES(repay_card_num),
        express_send_address = VALUES(express_send_address),
        express_com = VALUES(express_com),
        express_send_num = VALUES(express_send_num),
        express_send_date = VALUES(express_send_date),
        gmt_modify = VALUES(gmt_modify)

    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from loan_bank_card_send
        where order_id = #{orderId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from loan_bank_card_send
        where order_id = #{orderId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanBankCardSendDO">
        insert into loan_bank_card_send (order_id, cardholder_name, cardholder_phone,
        cardholder_address, repay_card_num, express_send_address,
        express_com, express_send_num, express_send_date,
        gmt_create, gmt_modify)
        values (#{orderId,jdbcType=BIGINT}, #{cardholderName,jdbcType=VARCHAR}, #{cardholderPhone,jdbcType=VARCHAR},
        #{cardholderAddress,jdbcType=VARCHAR}, #{repayCardNum,jdbcType=VARCHAR}, #{expressSendAddress,jdbcType=VARCHAR},
        #{expressCom,jdbcType=TINYINT}, #{expressSendNum,jdbcType=VARCHAR}, #{expressSendDate,jdbcType=TIMESTAMP},
        #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanBankCardSendDO">
        insert into loan_bank_card_send
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="cardholderName != null">
                cardholder_name,
            </if>
            <if test="cardholderPhone != null">
                cardholder_phone,
            </if>
            <if test="cardholderAddress != null">
                cardholder_address,
            </if>
            <if test="repayCardNum != null">
                repay_card_num,
            </if>
            <if test="expressSendAddress != null">
                express_send_address,
            </if>
            <if test="expressCom != null">
                express_com,
            </if>
            <if test="expressSendNum != null">
                express_send_num,
            </if>
            <if test="expressSendDate != null">
                express_send_date,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="cardholderName != null">
                #{cardholderName,jdbcType=VARCHAR},
            </if>
            <if test="cardholderPhone != null">
                #{cardholderPhone,jdbcType=VARCHAR},
            </if>
            <if test="cardholderAddress != null">
                #{cardholderAddress,jdbcType=VARCHAR},
            </if>
            <if test="repayCardNum != null">
                #{repayCardNum,jdbcType=VARCHAR},
            </if>
            <if test="expressSendAddress != null">
                #{expressSendAddress,jdbcType=VARCHAR},
            </if>
            <if test="expressCom != null">
                #{expressCom,jdbcType=TINYINT},
            </if>
            <if test="expressSendNum != null">
                #{expressSendNum,jdbcType=VARCHAR},
            </if>
            <if test="expressSendDate != null">
                #{expressSendDate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanBankCardSendDO">
        update loan_bank_card_send
        <set>
            <if test="cardholderName != null">
                cardholder_name = #{cardholderName,jdbcType=VARCHAR},
            </if>
            <if test="cardholderPhone != null">
                cardholder_phone = #{cardholderPhone,jdbcType=VARCHAR},
            </if>
            <if test="cardholderAddress != null">
                cardholder_address = #{cardholderAddress,jdbcType=VARCHAR},
            </if>
            <if test="repayCardNum != null">
                repay_card_num = #{repayCardNum,jdbcType=VARCHAR},
            </if>
            <if test="expressSendAddress != null">
                express_send_address = #{expressSendAddress,jdbcType=VARCHAR},
            </if>
            <if test="expressCom != null">
                express_com = #{expressCom,jdbcType=TINYINT},
            </if>
            <if test="expressSendNum != null">
                express_send_num = #{expressSendNum,jdbcType=VARCHAR},
            </if>
            <if test="expressSendDate != null">
                express_send_date = #{expressSendDate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </set>
        where order_id = #{orderId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanBankCardSendDO">
        update loan_bank_card_send
        set cardholder_name = #{cardholderName,jdbcType=VARCHAR},
        cardholder_phone = #{cardholderPhone,jdbcType=VARCHAR},
        cardholder_address = #{cardholderAddress,jdbcType=VARCHAR},
        repay_card_num = #{repayCardNum,jdbcType=VARCHAR},
        express_send_address = #{expressSendAddress,jdbcType=VARCHAR},
        express_com = #{expressCom,jdbcType=TINYINT},
        express_send_num = #{expressSendNum,jdbcType=VARCHAR},
        express_send_date = #{expressSendDate,jdbcType=TIMESTAMP},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
        where order_id = #{orderId,jdbcType=BIGINT}
    </update>
    <select id="loanBankCardSendExp" parameterType="com.yunche.loan.domain.param.LoanBankCardSendExpParam" resultMap="BaseResultMap">
        SELECT
        a.order_id,
        b.cardholder_name,
        b.cardholder_phone,
        b.cardholder_address,
        b.repay_card_num,
        b.express_com,
        b.express_send_num,
        b.express_send_date,
        b.express_send_address
    FROM
        loan_process a
        LEFT JOIN loan_bank_card_send b ON a.order_id = b.order_id
        LEFT JOIN loan_order c ON c.id = a.order_id
        left join loan_customer d on d.id = c.loan_customer_id
        left join loan_base_info e on e.id = c.loan_base_info_id
    WHERE
        a.bank_card_send = 2
        AND a.order_status =1
        <if test="name !=null and name !=''">
            and d.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="idCard !=null and idCard !=''">
            and d.id_card LIKE CONCAT('%',#{idCard},'%')
        </if>
        <if test="bankList != null and bankList.size() > 0">
            and
            e.bank in
            <foreach item="item" index="index" collection="bankList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="partnerList != null and partnerList.size() > 0">
            and
            e.partner_id in
            <foreach item="item" index="index" collection="partnerList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="countByorderId" resultType="java.lang.Integer">
        select count(order_id) from loan_process where order_id = #{orderId}
            and bank_card_send = 1
            AND order_status =1
    </select>
</mapper>