<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.LoanFinancialPlanDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanFinancialPlanDO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="car_price" property="carPrice" jdbcType="DECIMAL" />
        <result column="financial_product_id" property="financialProductId" jdbcType="BIGINT" />
        <result column="financial_product_name" property="financialProductName" jdbcType="VARCHAR" />
        <result column="bank" property="bank" jdbcType="VARCHAR" />
        <result column="sign_rate" property="signRate" jdbcType="DECIMAL" />
        <result column="loan_amount" property="loanAmount" jdbcType="DECIMAL" />
        <result column="loan_time" property="loanTime" jdbcType="INTEGER" />
        <result column="down_payment_ratio" property="downPaymentRatio" jdbcType="DECIMAL" />
        <result column="down_payment_money" property="downPaymentMoney" jdbcType="DECIMAL" />
        <result column="bank_period_principal" property="bankPeriodPrincipal" jdbcType="DECIMAL" />
        <result column="bank_fee" property="bankFee" jdbcType="DECIMAL" />
        <result column="principal_interest_sum" property="principalInterestSum" jdbcType="DECIMAL" />
        <result column="first_month_repay" property="firstMonthRepay" jdbcType="DECIMAL" />
        <result column="each_month_repay" property="eachMonthRepay" jdbcType="DECIMAL" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
        <result column="feature" property="feature" jdbcType="VARCHAR" />
        <result column="cash_deposit" property="cashDeposit" jdbcType="DECIMAL" />
        <result column="extra_fee" property="extraFee" jdbcType="DECIMAL" />
        <result column="appraisal" property="appraisal" jdbcType="DECIMAL" />
        <result column="padding_company" property="paddingCompany" jdbcType="VARCHAR" />
        <result column="play_company" property="playCompany" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
    id, car_price, financial_product_id, financial_product_name, bank, sign_rate, loan_amount,
    loan_time, down_payment_ratio, down_payment_money, bank_period_principal, bank_fee,
    principal_interest_sum, first_month_repay, each_month_repay, status, gmt_create,
    gmt_modify, feature, cash_deposit, extra_fee, appraisal,padding_company ,play_company
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_financial_plan
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from loan_financial_plan
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.yunche.loan.domain.entity.LoanFinancialPlanDO" >
        insert into loan_financial_plan
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="carPrice != null" >
                car_price,
            </if>
            <if test="financialProductId != null" >
                financial_product_id,
            </if>
            <if test="financialProductName != null" >
                financial_product_name,
            </if>
            <if test="bank != null" >
                bank,
            </if>
            <if test="signRate != null" >
                sign_rate,
            </if>
            <if test="loanAmount != null" >
                loan_amount,
            </if>
            <if test="loanTime != null" >
                loan_time,
            </if>
            <if test="downPaymentRatio != null" >
                down_payment_ratio,
            </if>
            <if test="downPaymentMoney != null" >
                down_payment_money,
            </if>
            <if test="bankPeriodPrincipal != null" >
                bank_period_principal,
            </if>
            <if test="bankFee != null" >
                bank_fee,
            </if>
            <if test="principalInterestSum != null" >
                principal_interest_sum,
            </if>
            <if test="firstMonthRepay != null" >
                first_month_repay,
            </if>
            <if test="eachMonthRepay != null" >
                each_month_repay,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="gmtCreate != null" >
                gmt_create,
            </if>
            <if test="gmtModify != null" >
                gmt_modify,
            </if>
            <if test="feature != null" >
                feature,
            </if>
            <if test="cashDeposit != null" >
                cash_deposit,
            </if>
            <if test="extraFee != null" >
                extra_fee,
            </if>
            <if test="appraisal != null" >
                appraisal,
            </if>
            <if test="paddingCompany != null" >
                padding_company,
            </if>
            <if test="playCompany != null" >
                play_company,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="carPrice != null" >
                #{carPrice,jdbcType=DECIMAL},
            </if>
            <if test="financialProductId != null" >
                #{financialProductId,jdbcType=BIGINT},
            </if>
            <if test="financialProductName != null" >
                #{financialProductName,jdbcType=VARCHAR},
            </if>
            <if test="bank != null" >
                #{bank,jdbcType=VARCHAR},
            </if>
            <if test="signRate != null" >
                #{signRate,jdbcType=DECIMAL},
            </if>
            <if test="loanAmount != null" >
                #{loanAmount,jdbcType=DECIMAL},
            </if>
            <if test="loanTime != null" >
                #{loanTime,jdbcType=INTEGER},
            </if>
            <if test="downPaymentRatio != null" >
                #{downPaymentRatio,jdbcType=DECIMAL},
            </if>
            <if test="downPaymentMoney != null" >
                #{downPaymentMoney,jdbcType=DECIMAL},
            </if>
            <if test="bankPeriodPrincipal != null" >
                #{bankPeriodPrincipal,jdbcType=DECIMAL},
            </if>
            <if test="bankFee != null" >
                #{bankFee,jdbcType=DECIMAL},
            </if>
            <if test="principalInterestSum != null" >
                #{principalInterestSum,jdbcType=DECIMAL},
            </if>
            <if test="firstMonthRepay != null" >
                #{firstMonthRepay,jdbcType=DECIMAL},
            </if>
            <if test="eachMonthRepay != null" >
                #{eachMonthRepay,jdbcType=DECIMAL},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null" >
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null" >
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null" >
                #{feature,jdbcType=VARCHAR},
            </if>
            <if test="cashDeposit != null" >
                #{cashDeposit,jdbcType=DECIMAL},
            </if>
            <if test="extraFee != null" >
                #{extraFee,jdbcType=DECIMAL},
            </if>
            <if test="appraisal != null" >
                #{appraisal,jdbcType=DECIMAL},
            </if>
            <if test="paddingCompany != null" >
                #{paddingCompany,jdbcType=VARCHAR},
            </if>
            <if test="playCompany != null" >
                #{playCompany,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanFinancialPlanDO" >
        update loan_financial_plan
        <set >
            <if test="carPrice != null" >
                car_price = #{carPrice,jdbcType=DECIMAL},
            </if>
            <if test="financialProductId != null" >
                financial_product_id = #{financialProductId,jdbcType=BIGINT},
            </if>
            <if test="financialProductName != null" >
                financial_product_name = #{financialProductName,jdbcType=VARCHAR},
            </if>
            <if test="bank != null" >
                bank = #{bank,jdbcType=VARCHAR},
            </if>
            <if test="signRate != null" >
                sign_rate = #{signRate,jdbcType=DECIMAL},
            </if>
            <if test="loanAmount != null" >
                loan_amount = #{loanAmount,jdbcType=DECIMAL},
            </if>
            <if test="loanTime != null" >
                loan_time = #{loanTime,jdbcType=INTEGER},
            </if>
            <if test="downPaymentRatio != null" >
                down_payment_ratio = #{downPaymentRatio,jdbcType=DECIMAL},
            </if>
            <if test="downPaymentMoney != null" >
                down_payment_money = #{downPaymentMoney,jdbcType=DECIMAL},
            </if>
            <if test="bankPeriodPrincipal != null" >
                bank_period_principal = #{bankPeriodPrincipal,jdbcType=DECIMAL},
            </if>
            <if test="bankFee != null" >
                bank_fee = #{bankFee,jdbcType=DECIMAL},
            </if>
            <if test="principalInterestSum != null" >
                principal_interest_sum = #{principalInterestSum,jdbcType=DECIMAL},
            </if>
            <if test="firstMonthRepay != null" >
                first_month_repay = #{firstMonthRepay,jdbcType=DECIMAL},
            </if>
            <if test="eachMonthRepay != null" >
                each_month_repay = #{eachMonthRepay,jdbcType=DECIMAL},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null" >
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null" >
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null" >
                feature = #{feature,jdbcType=VARCHAR},
            </if>
            <if test="cashDeposit != null" >
                cash_deposit = #{cashDeposit,jdbcType=DECIMAL},
            </if>
            <if test="extraFee != null" >
                extra_fee = #{extraFee,jdbcType=DECIMAL},
            </if>
            <if test="appraisal != null" >
                appraisal = #{appraisal,jdbcType=DECIMAL},
            </if>
            <if test="paddingCompany != null" >
                padding_company = #{paddingCompany,jdbcType=VARCHAR},
            </if>
            <if test="playCompany != null" >
                play_company = #{playCompany,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>