<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.LoanProcessLegalDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanProcessLegalDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="bank_repay_imp_record_id" property="bankRepayImpRecordId" jdbcType="BIGINT"/>
        <result column="process_inst_id" property="processInstId" jdbcType="VARCHAR"/>
        <result column="legal_review" property="legalReview" jdbcType="TINYINT"/>
        <result column="legal_record" property="legalRecord" jdbcType="TINYINT"/>
        <result column="order_status" property="orderStatus" jdbcType="TINYINT"/>
        <result column="cancel_task_def_key" property="cancelTaskDefKey" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, order_id, bank_repay_imp_record_id, process_inst_id, legal_review, legal_record,
        order_status, cancel_task_def_key, gmt_create, gmt_modify
    </sql>

    <!--getLastLoanProcessByOrderIdAndBankRepayImpRecordId-->
    <select id="getLastLoanProcessByOrderIdAndBankRepayImpRecordId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_process_legal
        where order_id = #{orderId,jdbcType=BIGINT}
        AND bank_repay_imp_record_id = #{bankRepayImpRecordId,jdbcType=BIGINT}
        ORDER BY gmt_create DESC
        LIMIT 1
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from loan_process_legal
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from loan_process_legal
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanProcessLegalDO"
            useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into loan_process_legal (id, order_id, bank_repay_imp_record_id,
        process_inst_id, legal_review, legal_record,
        order_status, cancel_task_def_key, gmt_create,
        gmt_modify)
        values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{bankRepayImpRecordId,jdbcType=BIGINT},
        #{processInstId,jdbcType=VARCHAR}, #{legalReview,jdbcType=TINYINT}, #{legalRecord,jdbcType=TINYINT},
        #{orderStatus,jdbcType=TINYINT}, #{cancelTaskDefKey,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModify,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanProcessLegalDO"
            useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into loan_process_legal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="bankRepayImpRecordId != null">
                bank_repay_imp_record_id,
            </if>
            <if test="processInstId != null">
                process_inst_id,
            </if>
            <if test="legalReview != null">
                legal_review,
            </if>
            <if test="legalRecord != null">
                legal_record,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="cancelTaskDefKey != null">
                cancel_task_def_key,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="bankRepayImpRecordId != null">
                #{bankRepayImpRecordId,jdbcType=BIGINT},
            </if>
            <if test="processInstId != null">
                #{processInstId,jdbcType=VARCHAR},
            </if>
            <if test="legalReview != null">
                #{legalReview,jdbcType=TINYINT},
            </if>
            <if test="legalRecord != null">
                #{legalRecord,jdbcType=TINYINT},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=TINYINT},
            </if>
            <if test="cancelTaskDefKey != null">
                #{cancelTaskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanProcessLegalDO">
        update loan_process_legal
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="bankRepayImpRecordId != null">
                bank_repay_imp_record_id = #{bankRepayImpRecordId,jdbcType=BIGINT},
            </if>
            <if test="processInstId != null">
                process_inst_id = #{processInstId,jdbcType=VARCHAR},
            </if>
            <if test="legalReview != null">
                legal_review = #{legalReview,jdbcType=TINYINT},
            </if>
            <if test="legalRecord != null">
                legal_record = #{legalRecord,jdbcType=TINYINT},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=TINYINT},
            </if>
            <if test="cancelTaskDefKey != null">
                cancel_task_def_key = #{cancelTaskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanProcessLegalDO">
    update loan_process_legal
    set order_id = #{orderId,jdbcType=BIGINT},
      bank_repay_imp_record_id = #{bankRepayImpRecordId,jdbcType=BIGINT},
      process_inst_id = #{processInstId,jdbcType=VARCHAR},
      legal_review = #{legalReview,jdbcType=TINYINT},
      legal_record = #{legalRecord,jdbcType=TINYINT},
      order_status = #{orderStatus,jdbcType=TINYINT},
      cancel_task_def_key = #{cancelTaskDefKey,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>