<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.LoanFileDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanFileDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="customer_id" property="customerId" jdbcType="BIGINT"/>
        <result column="info_supplement_id" property="infoSupplementId" jdbcType="BIGINT"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="upload_type" property="uploadType" jdbcType="TINYINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, customer_id, info_supplement_id, path, type, upload_type, gmt_create, gmt_modify,
        status
    </sql>

    <!--listByCustomerIdAndType-->
    <select id="listByCustomerIdAndType" resultMap="BaseResultMap">

        SELECT
                  f.id                                        AS id,
                  f.customer_id                               AS customerId,
                  f.info_supplement_id                        AS infoSupplementId,
                  f.path                                      AS path,
                  f.type                                      AS type,
                  f.upload_type                               AS uploadType,
                  f.gmt_create                                AS gmtCreate,
                  f.gmt_modify                                AS gmtModify,
                  f.status                                    AS status

        FROM
                        loan_file                             f

        LEFT JOIN       loan_info_supplement 				  s  ON s.id = f.info_supplement_id

        WHERE

        f.customer_id = #{customerId,jdbcType=BIGINT}

        <if test="type != null">
            AND f.type = #{type}
        </if>
        <if test="uploadType != null">
            AND f.upload_type = #{uploadType}
        </if>

        /*资料流转已提交*/
        AND
            CASE
                WHEN f.upload_type = 1 THEN
                    TRUE
                WHEN f.upload_type = 2 THEN
                    s.status = 1
                ELSE
                    FALSE
            END

    </select>

    <!--deleteByInfoSupplementId-->
    <delete id="deleteByInfoSupplementId" parameterType="java.lang.Long">
        DELETE FROM loan_file
        WHERE info_supplement_id = #{infoSupplementId}
    </delete>

    <!--batchInsert-->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO loan_file
        (customer_id, info_supplement_id,
        path, type, upload_type,
        gmt_create, gmt_modify, status
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.customerId,jdbcType=BIGINT}, #{item.infoSupplementId,jdbcType=BIGINT},
            #{item.path,jdbcType=VARCHAR}, #{item.type,jdbcType=TINYINT}, #{item.uploadType,jdbcType=TINYINT},
            #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModify,jdbcType=TIMESTAMP}, #{item.status,jdbcType=TINYINT}
            )
        </foreach>
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from loan_file
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from loan_file
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanFileDO"
            useGeneratedKeys="true" keyColumn="id">
        insert into loan_file (id, customer_id, info_supplement_id,
        path, type, upload_type,
        gmt_create, gmt_modify, status
        )
        values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{infoSupplementId,jdbcType=BIGINT},
        #{path,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{uploadType,jdbcType=TINYINT},
        #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanFileDO"
            useGeneratedKeys="true" keyColumn="id">
        insert into loan_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="infoSupplementId != null">
                info_supplement_id,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="uploadType != null">
                upload_type,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="infoSupplementId != null">
                #{infoSupplementId,jdbcType=BIGINT},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="uploadType != null">
                #{uploadType,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanFileDO">
        update loan_file
        <set>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="infoSupplementId != null">
                info_supplement_id = #{infoSupplementId,jdbcType=BIGINT},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="uploadType != null">
                upload_type = #{uploadType,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanFileDO">
        update loan_file
        set customer_id = #{customerId,jdbcType=BIGINT},
        info_supplement_id = #{infoSupplementId,jdbcType=BIGINT},
        path = #{path,jdbcType=VARCHAR},
        type = #{type,jdbcType=TINYINT},
        upload_type = #{uploadType,jdbcType=TINYINT},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
        status = #{status,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>