<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.LoanProcessDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanProcessDO">
        <id column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="credit_apply" property="creditApply" jdbcType="TINYINT"/>
        <result column="loan_info_record" property="loanInfoRecord" jdbcType="TINYINT"/>
        <result column="bank_credit_record" property="bankCreditRecord" jdbcType="TINYINT"/>
        <result column="social_credit_record" property="socialCreditRecord" jdbcType="TINYINT"/>
        <result column="loan_apply" property="loanApply" jdbcType="TINYINT"/>
        <result column="visit_verify" property="visitVerify" jdbcType="TINYINT"/>
        <result column="bank_open_card" property="bankOpenCard" jdbcType="TINYINT"/>
        <result column="telephone_verify" property="telephoneVerify" jdbcType="TINYINT"/>
        <result column="financial_scheme" property="financialScheme" jdbcType="TINYINT"/>
        <result column="bank_card_record" property="bankCardRecord" jdbcType="TINYINT"/>
        <result column="car_insurance" property="carInsurance" jdbcType="TINYINT"/>
        <result column="vehicle_information" property="vehicleInformation" jdbcType="TINYINT"/>
        <result column="apply_license_plate_deposit_info" property="applyLicensePlateDepositInfo" jdbcType="TINYINT"/>
        <result column="install_gps" property="installGps" jdbcType="TINYINT"/>
        <result column="commit_key" property="commitKey" jdbcType="TINYINT"/>
        <result column="material_review" property="materialReview" jdbcType="TINYINT"/>
        <result column="material_print_review" property="materialPrintReview" jdbcType="TINYINT"/>
        <result column="material_manage" property="materialManage" jdbcType="TINYINT"/>
        <result column="apply_instalment" property="applyInstalment" jdbcType="TINYINT"/>
        <result column="business_review" property="businessReview" jdbcType="TINYINT"/>
        <result column="loan_review" property="loanReview" jdbcType="TINYINT"/>
        <result column="remit_review" property="remitReview" jdbcType="TINYINT"/>
        <result column="bank_lend_record" property="bankLendRecord" jdbcType="TINYINT"/>
        <result column="bank_card_send" property="bankCardSend" jdbcType="TINYINT"/>
        <result column="customer_repay_plan" property="customerRepayPlan" jdbcType="TINYINT"/>
        <result column="business_pay" property="businessPay" jdbcType="TINYINT"/>
        <result column="cancel_task_def_key" property="cancelTaskDefKey" jdbcType="VARCHAR"/>
        <result column="loan_apply_reject_orgin_task" property="loanApplyRejectOrginTask" jdbcType="VARCHAR"/>
        <result column="order_status" property="orderStatus" jdbcType="TINYINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP"/>
        <result column="data_flow_contract_p2c" property="dataFlowContractP2c" jdbcType="TINYINT"/>
        <result column="data_flow_contract_p2c_review" property="dataFlowContractP2cReview" jdbcType="TINYINT"/>
        <result column="data_flow_contract_c2b" property="dataFlowContractC2b" jdbcType="TINYINT"/>
        <result column="data_flow_contract_c2b_review" property="dataFlowContractC2bReview" jdbcType="TINYINT"/>
        <result column="data_flow_mortgage_b2c" property="dataFlowMortgageB2c" jdbcType="TINYINT"/>
        <result column="data_flow_mortgage_b2c_review" property="dataFlowMortgageB2cReview" jdbcType="TINYINT"/>
        <result column="data_flow_mortgage_c2p" property="dataFlowMortgageC2p" jdbcType="TINYINT"/>
        <result column="data_flow_mortgage_c2p_review" property="dataFlowMortgageC2pReview" jdbcType="TINYINT"/>
        <result column="data_flow_mortgage_p2c" property="dataFlowMortgageP2c" jdbcType="TINYINT"/>
        <result column="data_flow_mortgage_p2c_review" property="dataFlowMortgageP2cReview" jdbcType="TINYINT"/>
        <result column="data_flow_mortgage_c2b" property="dataFlowMortgageC2b" jdbcType="TINYINT"/>
        <result column="data_flow_mortgage_c2b_review" property="dataFlowMortgageC2bReview" jdbcType="TINYINT"/>
        <result column="data_flow_register_p2c" property="dataFlowRegisterP2c" jdbcType="TINYINT"/>
        <result column="data_flow_register_p2c_review" property="dataFlowRegisterP2cReview" jdbcType="TINYINT"/>
        <result column="data_flow_register_c2b" property="dataFlowRegisterC2b" jdbcType="TINYINT"/>
        <result column="data_flow_register_c2b_review" property="dataFlowRegisterC2bReview" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        order_id, credit_apply, loan_info_record, bank_credit_record, social_credit_record,
        loan_apply, visit_verify, bank_open_card, telephone_verify, financial_scheme, bank_card_record,
        car_insurance, vehicle_information, apply_license_plate_deposit_info, install_gps,
        commit_key, material_review, material_print_review, material_manage, apply_instalment,
        business_review, loan_review, remit_review, bank_lend_record, bank_card_send, customer_repay_plan,
        business_pay, cancel_task_def_key, loan_apply_reject_orgin_task, order_status, gmt_create,
        gmt_modify, data_flow_contract_p2c, data_flow_contract_p2c_review, data_flow_contract_c2b,
        data_flow_contract_c2b_review, data_flow_mortgage_b2c, data_flow_mortgage_b2c_review,
        data_flow_mortgage_c2p, data_flow_mortgage_c2p_review, data_flow_mortgage_p2c, data_flow_mortgage_p2c_review,
        data_flow_mortgage_c2b, data_flow_mortgage_c2b_review, data_flow_register_p2c, data_flow_register_p2c_review,
        data_flow_register_c2b, data_flow_register_c2b_review
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from loan_process
        where order_id = #{orderId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from loan_process
        where order_id = #{orderId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanProcessDO">
        insert into loan_process (order_id, credit_apply, loan_info_record,
        bank_credit_record, social_credit_record, loan_apply,
        visit_verify, bank_open_card, telephone_verify,
        financial_scheme, bank_card_record, car_insurance,
        vehicle_information, apply_license_plate_deposit_info,
        install_gps, commit_key, material_review,
        material_print_review, material_manage, apply_instalment,
        business_review, loan_review, remit_review,
        bank_lend_record, bank_card_send, customer_repay_plan,
        business_pay, cancel_task_def_key, loan_apply_reject_orgin_task,
        order_status, gmt_create, gmt_modify,
        data_flow_contract_p2c, data_flow_contract_p2c_review,
        data_flow_contract_c2b, data_flow_contract_c2b_review,
        data_flow_mortgage_b2c, data_flow_mortgage_b2c_review,
        data_flow_mortgage_c2p, data_flow_mortgage_c2p_review,
        data_flow_mortgage_p2c, data_flow_mortgage_p2c_review,
        data_flow_mortgage_c2b, data_flow_mortgage_c2b_review,
        data_flow_register_p2c, data_flow_register_p2c_review,
        data_flow_register_c2b, data_flow_register_c2b_review
        )
        values (#{orderId,jdbcType=BIGINT}, #{creditApply,jdbcType=TINYINT}, #{loanInfoRecord,jdbcType=TINYINT},
        #{bankCreditRecord,jdbcType=TINYINT}, #{socialCreditRecord,jdbcType=TINYINT}, #{loanApply,jdbcType=TINYINT},
        #{visitVerify,jdbcType=TINYINT}, #{bankOpenCard,jdbcType=TINYINT}, #{telephoneVerify,jdbcType=TINYINT},
        #{financialScheme,jdbcType=TINYINT}, #{bankCardRecord,jdbcType=TINYINT}, #{carInsurance,jdbcType=TINYINT},
        #{vehicleInformation,jdbcType=TINYINT}, #{applyLicensePlateDepositInfo,jdbcType=TINYINT},
        #{installGps,jdbcType=TINYINT}, #{commitKey,jdbcType=TINYINT}, #{materialReview,jdbcType=TINYINT},
        #{materialPrintReview,jdbcType=TINYINT}, #{materialManage,jdbcType=TINYINT}, #{applyInstalment,jdbcType=TINYINT},
        #{businessReview,jdbcType=TINYINT}, #{loanReview,jdbcType=TINYINT}, #{remitReview,jdbcType=TINYINT},
        #{bankLendRecord,jdbcType=TINYINT}, #{bankCardSend,jdbcType=TINYINT}, #{customerRepayPlan,jdbcType=TINYINT},
        #{businessPay,jdbcType=TINYINT}, #{cancelTaskDefKey,jdbcType=VARCHAR}, #{loanApplyRejectOrginTask,jdbcType=VARCHAR},
        #{orderStatus,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP},
        #{dataFlowContractP2c,jdbcType=TINYINT}, #{dataFlowContractP2cReview,jdbcType=TINYINT},
        #{dataFlowContractC2b,jdbcType=TINYINT}, #{dataFlowContractC2bReview,jdbcType=TINYINT},
        #{dataFlowMortgageB2c,jdbcType=TINYINT}, #{dataFlowMortgageB2cReview,jdbcType=TINYINT},
        #{dataFlowMortgageC2p,jdbcType=TINYINT}, #{dataFlowMortgageC2pReview,jdbcType=TINYINT},
        #{dataFlowMortgageP2c,jdbcType=TINYINT}, #{dataFlowMortgageP2cReview,jdbcType=TINYINT},
        #{dataFlowMortgageC2b,jdbcType=TINYINT}, #{dataFlowMortgageC2bReview,jdbcType=TINYINT},
        #{dataFlowRegisterP2c,jdbcType=TINYINT}, #{dataFlowRegisterP2cReview,jdbcType=TINYINT},
        #{dataFlowRegisterC2b,jdbcType=TINYINT}, #{dataFlowRegisterC2bReview,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanProcessDO">
        insert into loan_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="creditApply != null">
                credit_apply,
            </if>
            <if test="loanInfoRecord != null">
                loan_info_record,
            </if>
            <if test="bankCreditRecord != null">
                bank_credit_record,
            </if>
            <if test="socialCreditRecord != null">
                social_credit_record,
            </if>
            <if test="loanApply != null">
                loan_apply,
            </if>
            <if test="visitVerify != null">
                visit_verify,
            </if>
            <if test="bankOpenCard != null">
                bank_open_card,
            </if>
            <if test="telephoneVerify != null">
                telephone_verify,
            </if>
            <if test="financialScheme != null">
                financial_scheme,
            </if>
            <if test="bankCardRecord != null">
                bank_card_record,
            </if>
            <if test="carInsurance != null">
                car_insurance,
            </if>
            <if test="vehicleInformation != null">
                vehicle_information,
            </if>
            <if test="applyLicensePlateDepositInfo != null">
                apply_license_plate_deposit_info,
            </if>
            <if test="installGps != null">
                install_gps,
            </if>
            <if test="commitKey != null">
                commit_key,
            </if>
            <if test="materialReview != null">
                material_review,
            </if>
            <if test="materialPrintReview != null">
                material_print_review,
            </if>
            <if test="materialManage != null">
                material_manage,
            </if>
            <if test="applyInstalment != null">
                apply_instalment,
            </if>
            <if test="businessReview != null">
                business_review,
            </if>
            <if test="loanReview != null">
                loan_review,
            </if>
            <if test="remitReview != null">
                remit_review,
            </if>
            <if test="bankLendRecord != null">
                bank_lend_record,
            </if>
            <if test="bankCardSend != null">
                bank_card_send,
            </if>
            <if test="customerRepayPlan != null">
                customer_repay_plan,
            </if>
            <if test="businessPay != null">
                business_pay,
            </if>
            <if test="cancelTaskDefKey != null">
                cancel_task_def_key,
            </if>
            <if test="loanApplyRejectOrginTask != null">
                loan_apply_reject_orgin_task,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="dataFlowContractP2c != null">
                data_flow_contract_p2c,
            </if>
            <if test="dataFlowContractP2cReview != null">
                data_flow_contract_p2c_review,
            </if>
            <if test="dataFlowContractC2b != null">
                data_flow_contract_c2b,
            </if>
            <if test="dataFlowContractC2bReview != null">
                data_flow_contract_c2b_review,
            </if>
            <if test="dataFlowMortgageB2c != null">
                data_flow_mortgage_b2c,
            </if>
            <if test="dataFlowMortgageB2cReview != null">
                data_flow_mortgage_b2c_review,
            </if>
            <if test="dataFlowMortgageC2p != null">
                data_flow_mortgage_c2p,
            </if>
            <if test="dataFlowMortgageC2pReview != null">
                data_flow_mortgage_c2p_review,
            </if>
            <if test="dataFlowMortgageP2c != null">
                data_flow_mortgage_p2c,
            </if>
            <if test="dataFlowMortgageP2cReview != null">
                data_flow_mortgage_p2c_review,
            </if>
            <if test="dataFlowMortgageC2b != null">
                data_flow_mortgage_c2b,
            </if>
            <if test="dataFlowMortgageC2bReview != null">
                data_flow_mortgage_c2b_review,
            </if>
            <if test="dataFlowRegisterP2c != null">
                data_flow_register_p2c,
            </if>
            <if test="dataFlowRegisterP2cReview != null">
                data_flow_register_p2c_review,
            </if>
            <if test="dataFlowRegisterC2b != null">
                data_flow_register_c2b,
            </if>
            <if test="dataFlowRegisterC2bReview != null">
                data_flow_register_c2b_review,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="creditApply != null">
                #{creditApply,jdbcType=TINYINT},
            </if>
            <if test="loanInfoRecord != null">
                #{loanInfoRecord,jdbcType=TINYINT},
            </if>
            <if test="bankCreditRecord != null">
                #{bankCreditRecord,jdbcType=TINYINT},
            </if>
            <if test="socialCreditRecord != null">
                #{socialCreditRecord,jdbcType=TINYINT},
            </if>
            <if test="loanApply != null">
                #{loanApply,jdbcType=TINYINT},
            </if>
            <if test="visitVerify != null">
                #{visitVerify,jdbcType=TINYINT},
            </if>
            <if test="bankOpenCard != null">
                #{bankOpenCard,jdbcType=TINYINT},
            </if>
            <if test="telephoneVerify != null">
                #{telephoneVerify,jdbcType=TINYINT},
            </if>
            <if test="financialScheme != null">
                #{financialScheme,jdbcType=TINYINT},
            </if>
            <if test="bankCardRecord != null">
                #{bankCardRecord,jdbcType=TINYINT},
            </if>
            <if test="carInsurance != null">
                #{carInsurance,jdbcType=TINYINT},
            </if>
            <if test="vehicleInformation != null">
                #{vehicleInformation,jdbcType=TINYINT},
            </if>
            <if test="applyLicensePlateDepositInfo != null">
                #{applyLicensePlateDepositInfo,jdbcType=TINYINT},
            </if>
            <if test="installGps != null">
                #{installGps,jdbcType=TINYINT},
            </if>
            <if test="commitKey != null">
                #{commitKey,jdbcType=TINYINT},
            </if>
            <if test="materialReview != null">
                #{materialReview,jdbcType=TINYINT},
            </if>
            <if test="materialPrintReview != null">
                #{materialPrintReview,jdbcType=TINYINT},
            </if>
            <if test="materialManage != null">
                #{materialManage,jdbcType=TINYINT},
            </if>
            <if test="applyInstalment != null">
                #{applyInstalment,jdbcType=TINYINT},
            </if>
            <if test="businessReview != null">
                #{businessReview,jdbcType=TINYINT},
            </if>
            <if test="loanReview != null">
                #{loanReview,jdbcType=TINYINT},
            </if>
            <if test="remitReview != null">
                #{remitReview,jdbcType=TINYINT},
            </if>
            <if test="bankLendRecord != null">
                #{bankLendRecord,jdbcType=TINYINT},
            </if>
            <if test="bankCardSend != null">
                #{bankCardSend,jdbcType=TINYINT},
            </if>
            <if test="customerRepayPlan != null">
                #{customerRepayPlan,jdbcType=TINYINT},
            </if>
            <if test="businessPay != null">
                #{businessPay,jdbcType=TINYINT},
            </if>
            <if test="cancelTaskDefKey != null">
                #{cancelTaskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="loanApplyRejectOrginTask != null">
                #{loanApplyRejectOrginTask,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFlowContractP2c != null">
                #{dataFlowContractP2c,jdbcType=TINYINT},
            </if>
            <if test="dataFlowContractP2cReview != null">
                #{dataFlowContractP2cReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowContractC2b != null">
                #{dataFlowContractC2b,jdbcType=TINYINT},
            </if>
            <if test="dataFlowContractC2bReview != null">
                #{dataFlowContractC2bReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageB2c != null">
                #{dataFlowMortgageB2c,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageB2cReview != null">
                #{dataFlowMortgageB2cReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageC2p != null">
                #{dataFlowMortgageC2p,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageC2pReview != null">
                #{dataFlowMortgageC2pReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageP2c != null">
                #{dataFlowMortgageP2c,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageP2cReview != null">
                #{dataFlowMortgageP2cReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageC2b != null">
                #{dataFlowMortgageC2b,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageC2bReview != null">
                #{dataFlowMortgageC2bReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowRegisterP2c != null">
                #{dataFlowRegisterP2c,jdbcType=TINYINT},
            </if>
            <if test="dataFlowRegisterP2cReview != null">
                #{dataFlowRegisterP2cReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowRegisterC2b != null">
                #{dataFlowRegisterC2b,jdbcType=TINYINT},
            </if>
            <if test="dataFlowRegisterC2bReview != null">
                #{dataFlowRegisterC2bReview,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanProcessDO">
        update loan_process
        <set>
            <if test="creditApply != null">
                credit_apply = #{creditApply,jdbcType=TINYINT},
            </if>
            <if test="loanInfoRecord != null">
                loan_info_record = #{loanInfoRecord,jdbcType=TINYINT},
            </if>
            <if test="bankCreditRecord != null">
                bank_credit_record = #{bankCreditRecord,jdbcType=TINYINT},
            </if>
            <if test="socialCreditRecord != null">
                social_credit_record = #{socialCreditRecord,jdbcType=TINYINT},
            </if>
            <if test="loanApply != null">
                loan_apply = #{loanApply,jdbcType=TINYINT},
            </if>
            <if test="visitVerify != null">
                visit_verify = #{visitVerify,jdbcType=TINYINT},
            </if>
            <if test="bankOpenCard != null">
                bank_open_card = #{bankOpenCard,jdbcType=TINYINT},
            </if>
            <if test="telephoneVerify != null">
                telephone_verify = #{telephoneVerify,jdbcType=TINYINT},
            </if>
            <if test="financialScheme != null">
                financial_scheme = #{financialScheme,jdbcType=TINYINT},
            </if>
            <if test="bankCardRecord != null">
                bank_card_record = #{bankCardRecord,jdbcType=TINYINT},
            </if>
            <if test="carInsurance != null">
                car_insurance = #{carInsurance,jdbcType=TINYINT},
            </if>
            <if test="vehicleInformation != null">
                vehicle_information = #{vehicleInformation,jdbcType=TINYINT},
            </if>
            <if test="applyLicensePlateDepositInfo != null">
                apply_license_plate_deposit_info = #{applyLicensePlateDepositInfo,jdbcType=TINYINT},
            </if>
            <if test="installGps != null">
                install_gps = #{installGps,jdbcType=TINYINT},
            </if>
            <if test="commitKey != null">
                commit_key = #{commitKey,jdbcType=TINYINT},
            </if>
            <if test="materialReview != null">
                material_review = #{materialReview,jdbcType=TINYINT},
            </if>
            <if test="materialPrintReview != null">
                material_print_review = #{materialPrintReview,jdbcType=TINYINT},
            </if>
            <if test="materialManage != null">
                material_manage = #{materialManage,jdbcType=TINYINT},
            </if>
            <if test="applyInstalment != null">
                apply_instalment = #{applyInstalment,jdbcType=TINYINT},
            </if>
            <if test="businessReview != null">
                business_review = #{businessReview,jdbcType=TINYINT},
            </if>
            <if test="loanReview != null">
                loan_review = #{loanReview,jdbcType=TINYINT},
            </if>
            <if test="remitReview != null">
                remit_review = #{remitReview,jdbcType=TINYINT},
            </if>
            <if test="bankLendRecord != null">
                bank_lend_record = #{bankLendRecord,jdbcType=TINYINT},
            </if>
            <if test="bankCardSend != null">
                bank_card_send = #{bankCardSend,jdbcType=TINYINT},
            </if>
            <if test="customerRepayPlan != null">
                customer_repay_plan = #{customerRepayPlan,jdbcType=TINYINT},
            </if>
            <if test="businessPay != null">
                business_pay = #{businessPay,jdbcType=TINYINT},
            </if>
            <if test="cancelTaskDefKey != null">
                cancel_task_def_key = #{cancelTaskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="loanApplyRejectOrginTask != null">
                loan_apply_reject_orgin_task = #{loanApplyRejectOrginTask,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFlowContractP2c != null">
                data_flow_contract_p2c = #{dataFlowContractP2c,jdbcType=TINYINT},
            </if>
            <if test="dataFlowContractP2cReview != null">
                data_flow_contract_p2c_review = #{dataFlowContractP2cReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowContractC2b != null">
                data_flow_contract_c2b = #{dataFlowContractC2b,jdbcType=TINYINT},
            </if>
            <if test="dataFlowContractC2bReview != null">
                data_flow_contract_c2b_review = #{dataFlowContractC2bReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageB2c != null">
                data_flow_mortgage_b2c = #{dataFlowMortgageB2c,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageB2cReview != null">
                data_flow_mortgage_b2c_review = #{dataFlowMortgageB2cReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageC2p != null">
                data_flow_mortgage_c2p = #{dataFlowMortgageC2p,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageC2pReview != null">
                data_flow_mortgage_c2p_review = #{dataFlowMortgageC2pReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageP2c != null">
                data_flow_mortgage_p2c = #{dataFlowMortgageP2c,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageP2cReview != null">
                data_flow_mortgage_p2c_review = #{dataFlowMortgageP2cReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageC2b != null">
                data_flow_mortgage_c2b = #{dataFlowMortgageC2b,jdbcType=TINYINT},
            </if>
            <if test="dataFlowMortgageC2bReview != null">
                data_flow_mortgage_c2b_review = #{dataFlowMortgageC2bReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowRegisterP2c != null">
                data_flow_register_p2c = #{dataFlowRegisterP2c,jdbcType=TINYINT},
            </if>
            <if test="dataFlowRegisterP2cReview != null">
                data_flow_register_p2c_review = #{dataFlowRegisterP2cReview,jdbcType=TINYINT},
            </if>
            <if test="dataFlowRegisterC2b != null">
                data_flow_register_c2b = #{dataFlowRegisterC2b,jdbcType=TINYINT},
            </if>
            <if test="dataFlowRegisterC2bReview != null">
                data_flow_register_c2b_review = #{dataFlowRegisterC2bReview,jdbcType=TINYINT},
            </if>
        </set>
        where order_id = #{orderId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanProcessDO">
        update loan_process
        set credit_apply = #{creditApply,jdbcType=TINYINT},
        loan_info_record = #{loanInfoRecord,jdbcType=TINYINT},
        bank_credit_record = #{bankCreditRecord,jdbcType=TINYINT},
        social_credit_record = #{socialCreditRecord,jdbcType=TINYINT},
        loan_apply = #{loanApply,jdbcType=TINYINT},
        visit_verify = #{visitVerify,jdbcType=TINYINT},
        bank_open_card = #{bankOpenCard,jdbcType=TINYINT},
        telephone_verify = #{telephoneVerify,jdbcType=TINYINT},
        financial_scheme = #{financialScheme,jdbcType=TINYINT},
        bank_card_record = #{bankCardRecord,jdbcType=TINYINT},
        car_insurance = #{carInsurance,jdbcType=TINYINT},
        vehicle_information = #{vehicleInformation,jdbcType=TINYINT},
        apply_license_plate_deposit_info = #{applyLicensePlateDepositInfo,jdbcType=TINYINT},
        install_gps = #{installGps,jdbcType=TINYINT},
        commit_key = #{commitKey,jdbcType=TINYINT},
        material_review = #{materialReview,jdbcType=TINYINT},
        material_print_review = #{materialPrintReview,jdbcType=TINYINT},
        material_manage = #{materialManage,jdbcType=TINYINT},
        apply_instalment = #{applyInstalment,jdbcType=TINYINT},
        business_review = #{businessReview,jdbcType=TINYINT},
        loan_review = #{loanReview,jdbcType=TINYINT},
        remit_review = #{remitReview,jdbcType=TINYINT},
        bank_lend_record = #{bankLendRecord,jdbcType=TINYINT},
        bank_card_send = #{bankCardSend,jdbcType=TINYINT},
        customer_repay_plan = #{customerRepayPlan,jdbcType=TINYINT},
        business_pay = #{businessPay,jdbcType=TINYINT},
        cancel_task_def_key = #{cancelTaskDefKey,jdbcType=VARCHAR},
        loan_apply_reject_orgin_task = #{loanApplyRejectOrginTask,jdbcType=VARCHAR},
        order_status = #{orderStatus,jdbcType=TINYINT},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
        data_flow_contract_p2c = #{dataFlowContractP2c,jdbcType=TINYINT},
        data_flow_contract_p2c_review = #{dataFlowContractP2cReview,jdbcType=TINYINT},
        data_flow_contract_c2b = #{dataFlowContractC2b,jdbcType=TINYINT},
        data_flow_contract_c2b_review = #{dataFlowContractC2bReview,jdbcType=TINYINT},
        data_flow_mortgage_b2c = #{dataFlowMortgageB2c,jdbcType=TINYINT},
        data_flow_mortgage_b2c_review = #{dataFlowMortgageB2cReview,jdbcType=TINYINT},
        data_flow_mortgage_c2p = #{dataFlowMortgageC2p,jdbcType=TINYINT},
        data_flow_mortgage_c2p_review = #{dataFlowMortgageC2pReview,jdbcType=TINYINT},
        data_flow_mortgage_p2c = #{dataFlowMortgageP2c,jdbcType=TINYINT},
        data_flow_mortgage_p2c_review = #{dataFlowMortgageP2cReview,jdbcType=TINYINT},
        data_flow_mortgage_c2b = #{dataFlowMortgageC2b,jdbcType=TINYINT},
        data_flow_mortgage_c2b_review = #{dataFlowMortgageC2bReview,jdbcType=TINYINT},
        data_flow_register_p2c = #{dataFlowRegisterP2c,jdbcType=TINYINT},
        data_flow_register_p2c_review = #{dataFlowRegisterP2cReview,jdbcType=TINYINT},
        data_flow_register_c2b = #{dataFlowRegisterC2b,jdbcType=TINYINT},
        data_flow_register_c2b_review = #{dataFlowRegisterC2bReview,jdbcType=TINYINT}
        where order_id = #{orderId,jdbcType=BIGINT}
    </update>
</mapper>