<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.LoanOrderDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanOrderDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="process_inst_id" jdbcType="VARCHAR" property="processInstId"/>
        <result column="loan_base_info_id" jdbcType="BIGINT" property="loanBaseInfoId"/>
        <result column="loan_customer_id" jdbcType="BIGINT" property="loanCustomerId"/>
        <result column="loan_car_info_id" jdbcType="BIGINT" property="loanCarInfoId"/>
        <result column="loan_financial_plan_id" jdbcType="BIGINT" property="loanFinancialPlanId"/>
        <result column="loan_home_visit_id" jdbcType="BIGINT" property="loanHomeVisitId"/>
        <result column="material_audit_id" jdbcType="BIGINT" property="materialAuditId"/>
        <result column="cost_details_id" jdbcType="BIGINT" property="costDetailsId"/>
        <result column="remit_details_id" jdbcType="BIGINT" property="remitDetailsId"/>
        <result column="apply_license_plate_record_id" jdbcType="BIGINT" property="applyLicensePlateRecordId"/>
        <result column="apply_license_plate_deposit_info_id" jdbcType="BIGINT" property="applyLicensePlateDepositInfoId"/>	
	      <result column="bank_lend_record_id" property="bankLendRecordId" jdbcType="BIGINT" />
	      <result column="current_task_def_key" jdbcType="VARCHAR" property="currentTaskDefKey"/>
        <result column="previous_task_def_key" jdbcType="VARCHAR" property="previousTaskDefKey"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="feature" jdbcType="VARCHAR" property="feature"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, process_inst_id, loan_base_info_id, loan_customer_id, loan_car_info_id, loan_financial_plan_id,
        loan_home_visit_id, material_audit_id, cost_details_id, remit_details_id, apply_license_plate_record_id,
        apply_license_plate_deposit_info_id, bank_lend_record_id,current_task_def_key, previous_task_def_key,
        status, gmt_create, gmt_modify, feature
    </sql>

    <!--countMultipartQuery-->
    <select id="countMultipartQuery" parameterType="com.yunche.loan.domain.query.LoanOrderQuery"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM loan_order
        WHERE current_task_def_key
        <if test="multipartType == 1">
            IN ('usertask_credit_apply','usertask_credit_apply_verify',
            'usertask_bank_credit_record','usertask_social_credit_record')
        </if>
        <if test="multipartType == 2">
            IN ('usertask_loan_apply','usertask_visit_verify',
            'usertask_telephone_verify','usertask_info_supplement',
            'usertask_business_review','usertask_loan_review',
            'usertask_remit_review','usertask_material_review',
            'usertask_material_print_review','usertask_car_insurance',
            'usertask_apply_license_plate_record','usertask_apply_license_plate_deposit_info',
            'usertask_install_gps','usertask_commit_key')
        </if>
        <if test="multipartType == 3">
            IN ('usertask_visit_verify','usertask_telephone_verify',
            'usertask_info_supplement')
        </if>
        <if test="multipartType == 4">
            IN ('usertask_business_review','usertask_loan_review',
            'usertask_remit_review','usertask_material_review',
            'usertask_material_print_review','usertask_car_insurance',
            'usertask_apply_license_plate_record','usertask_apply_license_plate_deposit_info',
            'usertask_install_gps','usertask_commit_key')
        </if>
        <if test="multipartType == 5">
            IN (
            'usertask_credit_apply_verify','usertask_bank_credit_record',
            'usertask_social_credit_record','usertask_loan_apply',
            'usertask_visit_verify','usertask_telephone_verify',
            'usertask_info_supplement','usertask_business_review',
            'usertask_loan_review','usertask_material_review',
            'usertask_material_print_review','usertask_car_insurance',
            'usertask_apply_license_plate_record','usertask_apply_license_plate_deposit_info',
            'usertask_install_gps','usertask_commit_key')
        </if>
        <if test="multipartType == 6">
            IN ('usertask_remit_review')
        </if>
        AND `status` = 0
    </select>

    <!--listMultipartQuery-->
    <select id="listMultipartQuery" parameterType="com.yunche.loan.domain.query.LoanOrderQuery"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM loan_order
        WHERE current_task_def_key
        <if test="multipartType == 1">
            IN ('usertask_credit_apply','usertask_credit_apply_verify',
            'usertask_bank_credit_record','usertask_social_credit_record')
        </if>
        <if test="multipartType == 2">
            IN ('usertask_loan_apply','usertask_visit_verify',
            'usertask_telephone_verify','usertask_info_supplement',
            'usertask_business_review','usertask_loan_review',
            'usertask_remit_review','usertask_material_review',
            'usertask_material_print_review','usertask_car_insurance',
            'usertask_apply_license_plate_record','usertask_apply_license_plate_deposit_info',
            'usertask_install_gps','usertask_commit_key')
        </if>
        <if test="multipartType == 3">
            IN ('usertask_visit_verify','usertask_telephone_verify',
            'usertask_info_supplement')
        </if>
        <if test="multipartType == 4">
            IN ('usertask_business_review','usertask_loan_review',
            'usertask_remit_review','usertask_material_review',
            'usertask_material_print_review','usertask_car_insurance',
            'usertask_apply_license_plate_record','usertask_apply_license_plate_deposit_info',
            'usertask_install_gps','usertask_commit_key')
        </if>
        <if test="multipartType == 5">
            IN (
            'usertask_credit_apply_verify','usertask_bank_credit_record',
            'usertask_social_credit_record','usertask_loan_apply',
            'usertask_visit_verify','usertask_telephone_verify',
            'usertask_info_supplement','usertask_business_review',
            'usertask_loan_review','usertask_material_review',
            'usertask_material_print_review','usertask_car_insurance',
            'usertask_apply_license_plate_record','usertask_apply_license_plate_deposit_info',
            'usertask_install_gps','usertask_commit_key')
        </if>
        <if test="multipartType == 6">
            IN ('usertask_remit_review')
        </if>
        AND `status` = 0
        ORDER BY gmt_create DESC
        LIMIT #{startRow}, #{pageSize}
    </select>

    <!--getCustIdById-->
    <select id="getCustIdById" parameterType="java.lang.Long" resultType="java.lang.Long">
        select loan_customer_id
        from loan_order
        WHERE id = #{id}
    </select>

    <!--getLoanCarInfoIdById-->
    <select id="getLoanCarInfoIdById" parameterType="java.lang.Long" resultType="java.lang.Long">
        select loan_car_info_id
        from loan_order
        WHERE id = #{id}
    </select>

    <!--getLoanFinancialPlanIdById-->
    <select id="getLoanFinancialPlanIdById" parameterType="java.lang.Long" resultType="java.lang.Long">
        select loan_financial_plan_id
        from loan_order
        WHERE id = #{id}
    </select>

    <!--getLoanHomeVisitId-->
    <select id="getLoanHomeVisitId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select loan_home_visit_id
        from loan_order
        WHERE id = #{id}
    </select>

    <!--getByProcessInstId-->
    <select id="getByProcessInstId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_order
        WHERE process_inst_id = #{processInstId}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_order
        where id = #{id,jdbcType=BIGINT}
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>
    <select id="selectByCustomerId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_order
        where loan_customer_id = #{customerId,jdbcType=BIGINT} and status = '0'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from loan_order
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanOrderDO">
        insert into loan_order (id, process_inst_id, loan_base_info_id,
        loan_customer_id, loan_car_info_id, loan_financial_plan_id,
        loan_home_visit_id, material_audit_id, cost_details_id,
        remit_details_id, apply_license_plate_record_id,
        apply_license_plate_deposit_info_id, bank_lend_record_id,
	    current_task_def_key,previous_task_def_key,
	    status, gmt_create,gmt_modify,
	    feature)
        values (#{id,jdbcType=BIGINT}, #{processInstId,jdbcType=VARCHAR}, #{loanBaseInfoId,jdbcType=BIGINT},
        #{loanCustomerId,jdbcType=BIGINT}, #{loanCarInfoId,jdbcType=BIGINT}, #{loanFinancialPlanId,jdbcType=BIGINT},
        #{loanHomeVisitId,jdbcType=BIGINT}, #{materialAuditId,jdbcType=BIGINT}, #{costDetailsId,jdbcType=BIGINT},
        #{remitDetailsId,jdbcType=BIGINT}, #{applyLicensePlateRecordId,jdbcType=BIGINT},
        #{applyLicensePlateDepositInfoId,jdbcType=BIGINT},#{bankLendRecordId,jdbcType=BIGINT}, 
        #{currentTaskDefKey,jdbcType=VARCHAR},
        #{previousTaskDefKey,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModify,jdbcType=TIMESTAMP}, #{feature,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanOrderDO">
        insert into loan_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="processInstId != null">
                process_inst_id,
            </if>
            <if test="loanBaseInfoId != null">
                loan_base_info_id,
            </if>
            <if test="loanCustomerId != null">
                loan_customer_id,
            </if>
            <if test="loanCarInfoId != null">
                loan_car_info_id,
            </if>
            <if test="loanFinancialPlanId != null">
                loan_financial_plan_id,
            </if>
            <if test="loanHomeVisitId != null">
                loan_home_visit_id,
            </if>
            <if test="materialAuditId != null">
                material_audit_id,
            </if>
            <if test="costDetailsId != null">
                cost_details_id,
            </if>
            <if test="remitDetailsId != null">
                remit_details_id,
            </if>
            <if test="applyLicensePlateRecordId != null">
                apply_license_plate_record_id,
            </if>
            <if test="applyLicensePlateDepositInfoId != null">
                apply_license_plate_deposit_info_id,
 	          </if>
      	    <if test="bankLendRecordId != null" >
        	      bank_lend_record_id,
            </if>
            <if test="currentTaskDefKey != null">
                current_task_def_key,
            </if>
            <if test="previousTaskDefKey != null">
                previous_task_def_key,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="feature != null">
                feature,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="processInstId != null">
                #{processInstId,jdbcType=VARCHAR},
            </if>
            <if test="loanBaseInfoId != null">
                #{loanBaseInfoId,jdbcType=BIGINT},
            </if>
            <if test="loanCustomerId != null">
                #{loanCustomerId,jdbcType=BIGINT},
            </if>
            <if test="loanCarInfoId != null">
                #{loanCarInfoId,jdbcType=BIGINT},
            </if>
            <if test="loanFinancialPlanId != null">
                #{loanFinancialPlanId,jdbcType=BIGINT},
            </if>
            <if test="loanHomeVisitId != null">
                #{loanHomeVisitId,jdbcType=BIGINT},
            </if>
            <if test="materialAuditId != null">
                #{materialAuditId,jdbcType=BIGINT},
            </if>
            <if test="costDetailsId != null">
                #{costDetailsId,jdbcType=BIGINT},
            </if>
            <if test="remitDetailsId != null">
                #{remitDetailsId,jdbcType=BIGINT},
            </if>
            <if test="applyLicensePlateRecordId != null">
                #{applyLicensePlateRecordId,jdbcType=BIGINT},
            </if>
            <if test="applyLicensePlateDepositInfoId != null">
                #{applyLicensePlateDepositInfoId,jdbcType=BIGINT},
            </if>
	          <if test="bankLendRecordId != null" >
                #{bankLendRecordId,jdbcType=BIGINT},
            </if>
            <if test="currentTaskDefKey != null">
                #{currentTaskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="previousTaskDefKey != null">
                #{previousTaskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanOrderDO">
        update loan_order
        <set>
            <if test="processInstId != null">
                process_inst_id = #{processInstId,jdbcType=VARCHAR},
            </if>
            <if test="loanBaseInfoId != null">
                loan_base_info_id = #{loanBaseInfoId,jdbcType=BIGINT},
            </if>
            <if test="loanCustomerId != null">
                loan_customer_id = #{loanCustomerId,jdbcType=BIGINT},
            </if>
            <if test="loanCarInfoId != null">
                loan_car_info_id = #{loanCarInfoId,jdbcType=BIGINT},
            </if>
            <if test="loanFinancialPlanId != null">
                loan_financial_plan_id = #{loanFinancialPlanId,jdbcType=BIGINT},
            </if>
            <if test="loanHomeVisitId != null">
                loan_home_visit_id = #{loanHomeVisitId,jdbcType=BIGINT},
            </if>
            <if test="materialAuditId != null">
                material_audit_id = #{materialAuditId,jdbcType=BIGINT},
            </if>
            <if test="costDetailsId != null">
                cost_details_id = #{costDetailsId,jdbcType=BIGINT},
            </if>
            <if test="remitDetailsId != null">
                remit_details_id = #{remitDetailsId,jdbcType=BIGINT},
            </if>
            <if test="applyLicensePlateRecordId != null">
                apply_license_plate_record_id = #{applyLicensePlateRecordId,jdbcType=BIGINT},
            </if>
            <if test="applyLicensePlateDepositInfoId != null">
                apply_license_plate_deposit_info_id = #{applyLicensePlateDepositInfoId,jdbcType=BIGINT},
            </if>
            <if test="bankLendRecordId != null" >
                bank_lend_record_id = #{bankLendRecordId,jdbcType=BIGINT},
            </if>
            <if test="currentTaskDefKey != null">
                current_task_def_key = #{currentTaskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="previousTaskDefKey != null">
                previous_task_def_key = #{previousTaskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanOrderDO">
        update loan_order
        set process_inst_id = #{processInstId,jdbcType=VARCHAR},
        loan_base_info_id = #{loanBaseInfoId,jdbcType=BIGINT},
        loan_customer_id = #{loanCustomerId,jdbcType=BIGINT},
        loan_car_info_id = #{loanCarInfoId,jdbcType=BIGINT},
        loan_financial_plan_id = #{loanFinancialPlanId,jdbcType=BIGINT},
        loan_home_visit_id = #{loanHomeVisitId,jdbcType=BIGINT},
        material_audit_id = #{materialAuditId,jdbcType=BIGINT},
        cost_details_id = #{costDetailsId,jdbcType=BIGINT},
        remit_details_id = #{remitDetailsId,jdbcType=BIGINT},
        apply_license_plate_record_id = #{applyLicensePlateRecordId,jdbcType=BIGINT},
        apply_license_plate_deposit_info_id = #{applyLicensePlateDepositInfoId,jdbcType=BIGINT},
        bank_lend_record_id = #{bankLendRecordId,jdbcType=BIGINT},
        current_task_def_key = #{currentTaskDefKey,jdbcType=VARCHAR},
        previous_task_def_key = #{previousTaskDefKey,jdbcType=VARCHAR},
        status = #{status,jdbcType=TINYINT},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
        feature = #{feature,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>