<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.LoanInfoSupplementDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanInfoSupplementDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="origin_task" jdbcType="VARCHAR" property="originTask"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="initiator_id" jdbcType="BIGINT" property="initiatorId"/>
        <result column="initiator_name" jdbcType="VARCHAR" property="initiatorName"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="supplementer_id" jdbcType="BIGINT" property="supplementerId"/>
        <result column="supplementer_name" jdbcType="VARCHAR" property="supplementerName"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, order_id, type, content, info, origin_task, status, initiator_id, initiator_name, 
    start_time, supplementer_id, supplementer_name, end_time
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_info_supplement
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from loan_info_supplement
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanInfoSupplementDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into loan_info_supplement (id, order_id, type,
        content, info, origin_task,
        status, initiator_id, initiator_name,
        start_time, supplementer_id, supplementer_name,
        end_time)
        values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{type,jdbcType=TINYINT},
        #{content,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{originTask,jdbcType=VARCHAR},
        #{status,jdbcType=TINYINT}, #{initiatorId,jdbcType=BIGINT}, #{initiatorName,jdbcType=VARCHAR},
        #{startTime,jdbcType=TIMESTAMP}, #{supplementerId,jdbcType=BIGINT}, #{supplementerName,jdbcType=VARCHAR},
        #{endTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanInfoSupplementDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into loan_info_supplement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="originTask != null">
                origin_task,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="initiatorId != null">
                initiator_id,
            </if>
            <if test="initiatorName != null">
                initiator_name,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="supplementerId != null">
                supplementer_id,
            </if>
            <if test="supplementerName != null">
                supplementer_name,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="originTask != null">
                #{originTask,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="initiatorId != null">
                #{initiatorId,jdbcType=BIGINT},
            </if>
            <if test="initiatorName != null">
                #{initiatorName,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="supplementerId != null">
                #{supplementerId,jdbcType=BIGINT},
            </if>
            <if test="supplementerName != null">
                #{supplementerName,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanInfoSupplementDO">
        update loan_info_supplement
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="originTask != null">
                origin_task = #{originTask,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="initiatorId != null">
                initiator_id = #{initiatorId,jdbcType=BIGINT},
            </if>
            <if test="initiatorName != null">
                initiator_name = #{initiatorName,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="supplementerId != null">
                supplementer_id = #{supplementerId,jdbcType=BIGINT},
            </if>
            <if test="supplementerName != null">
                supplementer_name = #{supplementerName,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanInfoSupplementDO">
    update loan_info_supplement
    set order_id = #{orderId,jdbcType=BIGINT},
      type = #{type,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      origin_task = #{originTask,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      initiator_id = #{initiatorId,jdbcType=BIGINT},
      initiator_name = #{initiatorName,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      supplementer_id = #{supplementerId,jdbcType=BIGINT},
      supplementer_name = #{supplementerName,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>