<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.LoanTelephoneVerifyDOMapper" >
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanTelephoneVerifyDO" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="riskSharingAddition" property="riskSharingAddition" jdbcType="DECIMAL"/>
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, info,riskSharingAddition, gmt_create, gmt_modify, user_name, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from loan_telephone_verify
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from loan_telephone_verify
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanTelephoneVerifyDO" >
    insert into loan_telephone_verify (order_id, info,riskSharingAddition, gmt_create,
      gmt_modify, user_name, user_id
      )
    values (#{orderId,jdbcType=BIGINT}, #{info,jdbcType=VARCHAR},#{riskSharingAddition,jdbcType=DECIMAL}, #{gmtCreate,jdbcType=TIMESTAMP},
      #{gmtModify,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanTelephoneVerifyDO" >
    insert into loan_telephone_verify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="riskSharingAddition != null" >
        riskSharingAddition,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="riskSharingAddition != null" >
        #{riskSharingAddition,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanTelephoneVerifyDO" >
    update loan_telephone_verify
    <set >
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="riskSharingAddition != null" >
        riskSharingAddition = #{riskSharingAddition,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanTelephoneVerifyDO" >
    update loan_telephone_verify
    set info = #{info,jdbcType=VARCHAR},
      riskSharingAddition = #{riskSharingAddition,jdbcType=DECIMAL},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      user_name = #{userName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>