<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.LoanFileDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanFileDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="upload_type" jdbcType="TINYINT" property="uploadType"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="feature" jdbcType="VARCHAR" property="feature"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, customer_id, path, type, upload_type, gmt_create, gmt_modify, status, feature
    </sql>

    <!--listByCustomerIdAndType-->
    <select id="listByCustomerIdAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_file
        where customer_id = #{customerId,jdbcType=BIGINT}
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="uploadType != null">
            AND upload_type = #{uploadType}
        </if>
    </select>

    <!--listByCustomerId-->
    <select id="listByCustomerId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_file
        where customer_id = #{customerId,jdbcType=BIGINT}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_file
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from loan_file
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanFileDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into loan_file (id, customer_id, path,
        type, upload_type, gmt_create,
        gmt_modify, status, feature
        )
        values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{path,jdbcType=VARCHAR},
        #{type,jdbcType=TINYINT}, #{uploadType,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModify,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{feature,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanFileDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into loan_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="uploadType != null">
                upload_type,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="feature != null">
                feature,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="uploadType != null">
                #{uploadType,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanFileDO">
        update loan_file
        <set>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="uploadType != null">
                upload_type = #{uploadType,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanFileDO">
        update loan_file
        set customer_id = #{customerId,jdbcType=BIGINT},
        path = #{path,jdbcType=VARCHAR},
        type = #{type,jdbcType=TINYINT},
        upload_type = #{uploadType,jdbcType=TINYINT},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
        status = #{status,jdbcType=TINYINT},
        feature = #{feature,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>