<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.LoanRejectLogDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.LoanRejectLogDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="reject_origin_task" property="rejectOriginTask" jdbcType="VARCHAR"/>
        <result column="reject_to_task" property="rejectToTask" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="opt" jdbcType="TINYINT" property="opt" />
    </resultMap>

    <sql id="Base_Column_List">
    id, order_id, reject_origin_task, reject_to_task, gmt_create, reason, opt
  </sql>

    <!--lastByOrderIdAndTaskDefinitionKey-->
    <select id="lastByOrderIdAndTaskDefinitionKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loan_reject_log
        where order_id = #{orderId,jdbcType=BIGINT}
        AND reject_to_task = #{rejectToTask}
        ORDER BY gmt_create DESC
        LIMIT 1
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from loan_reject_log
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from loan_reject_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.yunche.loan.domain.entity.LoanRejectLogDO">
    insert into loan_reject_log (id, order_id, reject_origin_task,
      reject_to_task, gmt_create, reason,
      opt)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{rejectOriginTask,jdbcType=VARCHAR},
      #{rejectToTask,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR},
      #{opt,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.LoanRejectLogDO">
        insert into loan_reject_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="rejectOriginTask != null">
                reject_origin_task,
            </if>
            <if test="rejectToTask != null">
                reject_to_task,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="reason != null">
                reason,
            </if>
            <if test="opt != null">
                opt,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="rejectOriginTask != null">
                #{rejectOriginTask,jdbcType=VARCHAR},
            </if>
            <if test="rejectToTask != null">
                #{rejectToTask,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
            <if test="opt != null">
                #{opt,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.LoanRejectLogDO">
        update loan_reject_log
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="rejectOriginTask != null">
                reject_origin_task = #{rejectOriginTask,jdbcType=VARCHAR},
            </if>
            <if test="rejectToTask != null">
                reject_to_task = #{rejectToTask,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="opt != null">
                opt = #{opt,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.LoanRejectLogDO">
    update loan_reject_log
    set order_id = #{orderId,jdbcType=BIGINT},
      reject_origin_task = #{rejectOriginTask,jdbcType=VARCHAR},
      reject_to_task = #{rejectToTask,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR},
      opt = #{opt,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>