<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.MaterialDownHisDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.MaterialDownHisDO">
        <id column="serial_no" jdbcType="VARCHAR" property="serialNo" />
        <result column="file_type" jdbcType="VARCHAR" property="fileType" />
        <result column="file_name" jdbcType="VARCHAR" property="fileName" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="info" jdbcType="VARCHAR" property="info" />
        <result column="file_key" jdbcType="VARCHAR" property="fileKey" />
    </resultMap>
    <sql id="Base_Column_List">
        serial_no, file_type, file_name, status, gmt_create, info, file_key
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from material_down_his
        where serial_no = #{serialNo,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from material_down_his
        where serial_no = #{serialNo,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.yunche.loan.domain.entity.MaterialDownHisDO">
        insert into material_down_his (serial_no, file_type, file_name,
        status, gmt_create, info,
        file_key)
        values (#{serialNo,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR},
        #{status,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{info,jdbcType=VARCHAR},
        #{fileKey,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.MaterialDownHisDO">
        insert into material_down_his
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">
                serial_no,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="fileKey != null">
                file_key,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">
                #{serialNo,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="info != null">
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="fileKey != null">
                #{fileKey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.MaterialDownHisDO">
        update material_down_his
        <set>
            <if test="fileType != null">
                file_type = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="info != null">
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="fileKey != null">
                file_key = #{fileKey,jdbcType=VARCHAR},
            </if>
        </set>
        where serial_no = #{serialNo,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.MaterialDownHisDO">
        update material_down_his
        set file_type = #{fileType,jdbcType=VARCHAR},
        file_name = #{fileName,jdbcType=VARCHAR},
        status = #{status,jdbcType=TINYINT},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        info = #{info,jdbcType=VARCHAR},
        file_key = #{fileKey,jdbcType=VARCHAR}
        where serial_no = #{serialNo,jdbcType=VARCHAR}
    </update>

    <select id="listByStatus" resultType="com.yunche.loan.domain.entity.MaterialDownHisDO">
        select
        serial_no   AS serialNo,
        file_type   AS fileType,
        file_name   AS fileName,
        status      AS status,
        gmt_create  AS gmtCreate,
        file_key    AS fileKey
        from material_down_his
        where status = #{status,jdbcType=TINYINT}
    </select>
</mapper>