<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.OptTaskSchedulingDOMapper">


    <select id="queryList" resultType="com.yunche.loan.domain.vo.QueryListVO" parameterType="com.yunche.loan.domain.param.QueryListParam">

        SELECT
        main.id AS id,
        loan_customer.`name` AS customer,
        loan_customer.id_card AS idCard,
        partner.name AS partner,
        b.bank,
        e.name as salesman,
        useGetTaskTypeText(#{taskDefinitionKey},loan_process.loan_apply,loan_process.order_status) AS taskTypeText

        FROM
        loan_order main
        LEFT JOIN loan_process ON main.id = loan_process.order_id
        LEFT JOIN loan_customer ON main.loan_customer_id = loan_customer.id
        LEFT JOIN loan_base_info b ON main.loan_base_info_id = b.id
        LEFT JOIN employee e ON b.salesman_id = e.id
        LEFT JOIN partner ON b.partner_id = partner.id
        <where>
            <if test="taskStatus !=null" >
                AND
                case when #{taskStatus} = 0 then loan_process.loan_apply in (1,2,3)
                case when #{taskStatus} = 2 then loan_process.loan_apply = 2
                case when #{taskStatus} = 3 then loan_process.loan_apply = 3
                else 1=1
                end
            </if>

            <if test="bizAreaIdList != null and bizAreaIdList.size() > 0">
                and
                partner.id in
                <foreach item="item" index="index" collection="bizAreaIdList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="bankList != null and bankList.size() > 0">
                and
                b.bank in
                <foreach item="item" index="index" collection="bankList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="customer != null and customer!= '' ">
                AND loan_customer.`name` LIKE CONCAT('%',#{customer},'%')
            </if>
            <if test="partnerId != null and partnerId != ''">
                AND partner.id = #{partnerId}
            </if>
            <if test="salesmanId != null and salesmanId !=''">
                AND e.id = #{salesmanId}
            </if>
            <if test="loanBank != null and loanBank != '' ">
                AND b.bank = #{loanBank}
            </if>
            <if test="orderId != null and orderId != '' ">
                AND main.id = #{orderId}
            </if>
            <if test="idCard != null and idCard != '' ">
                AND loan_customer.idCard = #{idCard}
            </if>
        </where>

    </select>

</mapper>