<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.OrderListQueryMapper">

    <sql id="Base_Column_List">
        orderId, custId, custName, custIdCard, partnerId, partnerName, partnerCode,
        bankId, bankName, taskId, taskReceiverId, taskReceiverName
    </sql>

    <!-- query -->
    <select id="query" parameterType="com.yunche.loan.domain.query.OrderListQuery"
            resultType="com.yunche.loan.domain.vo.OrderListVO"
            statementType="PREPARED">

        SELECT
                o.id                    AS orderId,
                p.${loanProcessFiled}   AS taskStatus,
                c.id                    AS custId,
                c.name                  AS custName,
                c.id_card               AS custIdCard,
                b.partner_id            AS partnerId,
                b.bank                  AS bankName

        FROM loan_order o

        LEFT JOIN loan_process    p   ON p.order_id = o.id

        LEFT JOIN loan_base_info  b   ON b.id = o.loan_base_info_id

        LEFT JOIN loan_customer   c   ON c.id = o.loan_customer_id

        WHERE p.order_status = 1

        <if test="taskStatus == 0">
            AND p.${loanProcessFiled} != 0
        </if>
        <if test="taskStatus == 1">
            AND p.${loanProcessFiled} = 1
        </if>
        <if test="taskStatus == 2">
            AND p.${loanProcessFiled} = 2
        </if>
        <if test="taskStatus == 3">
            AND p.${loanProcessFiled} = 3
        </if>

        <if test="orderId != null and orderId != '' ">
            AND o.`id` = #{orderId}
        </if>
        <if test="custIdCard != null and custIdCard != '' ">
            AND c.`id_card` = #{custIdCard}
        </if>
        <if test="custName != null and custName != '' ">
            AND c.`name` LIKE CONCAT('%', #{custName}, '%')
        </if>
        <if test="salesmanIdList != null and salesmanIdList.size() > 0">
            AND b.`salesman_id` IN
            <foreach collection="salesmanIdList" item="salesmanId" open="(" close=")" separator=",">
                #{salesmanId}
            </foreach>
        </if>
        <if test="bankNameList != null and bankNameList.size() > 0">
            AND b.`bank` IN
            <foreach collection="bankNameList" item="bankName" open="(" close=")" separator=",">
                #{bankName}
            </foreach>
        </if>
        <if test="partnerIdList != null and partnerIdList.size() > 0">
            AND b.`partner_id` IN
            <foreach collection="partnerIdList" item="partnerId" open="(" close=")" separator=",">
                #{partnerId}
            </foreach>
        </if>
    </select>

</mapper>