<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.ParterChartDOMapper">

    <!--=======================================按月查询征信申请查询客户数=========================================-->
    <select id="selectCreditApplyCustomerCount" parameterType="com.yunche.loan.domain.param.CreditApplyCustomerByMonthChartParam"  resultType="long" >
           SELECT COUNT(1) FROM
                  (
          SELECT id
          FROM
          loan_customer WHERE
          principal_cust_id IN
          (
          SELECT loan_customer_id
          FROM loan_order
          WHERE id IN(
                   SELECT
                   DISTINCT
                   order_id
                   FROM
                   loan_process_log
                   WHERE task_definition_key = 'usertask_credit_apply' AND action = 1 AND create_time BETWEEN '2016-10' AND '2019-01-01'
                  )
          )
          ) ids
    </select>


    <!--=======================================通用查询某时间段某节点提交状态的订单数=========================================-->
    <select id="selectUniversalOrdersByMonthAndnode"   resultType="long" >
           SELECT COUNT(1) FROM
                  (
                   SELECT
                   DISTINCT
                   order_id
                   FROM
                   loan_process_log
                   WHERE task_definition_key = #{record}
                      and
                      action in
                      <foreach item="item" index="index" collection="bytes" open="(" separator="," close=")">
                          #{item}
                      </foreach>

                   AND create_time BETWEEN #{startDate} AND #{endDate}
          ) orders
    </select>


    <select id="selectLoanApplyOrdersByMonth" parameterType="com.yunche.loan.domain.param.LoanApplyOrdersByMonthChartParam"  resultType="com.yunche.loan.domain.vo.LoanApplyOrdersVO" >
          SELECT
             order_id,task_definition_key
             FROM
             loan_process_log
             WHERE order_id in(
             SELECT DISTINCT
             order_id
             FROM
             loan_process_log
             WHERE action =1 AND task_definition_key = 'usertask_loan_apply' AND create_time BETWEEN '2016-10' AND '2019-01-01'
             )  AND create_time BETWEEN '2016-10' AND '2019-01-01' AND action =1
    </select>


    <select id="selectOrdersSuccessByMonth" parameterType="com.yunche.loan.domain.param.OrdersSuccessByMonthChartParam"  resultType="com.yunche.loan.domain.vo.CreatApplyOrders" >
          SELECT
             order_id,task_definition_key,action
             FROM
             loan_process_log
             WHERE order_id in(
             SELECT DISTINCT
             order_id
             FROM
             loan_process_log
             WHERE action =1 AND task_definition_key = 'usertask_credit_apply' AND create_time BETWEEN '2016-10' AND '2019-01-01'
             )  AND create_time BETWEEN '2016-10' AND '2019-01-01' AND action !=1
    </select>








</mapper>