<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.ParterChartDOMapper">
    <!--=======================================按月查询征信申请查询客户数=========================================-->
    <select id="selectCreditApplyCustomerCount" parameterType="com.yunche.loan.domain.param.CreditApplyCustomerByMonthChartParam"  resultType="long" >

        SELECT COUNT(1) FROM
        (
         SELECT
         DISTINCT
         order_id,task_definition_key
         FROM
         loan_process_log
         WHERE task_definition_key = 'usertask_visit_verify' AND action = 1 AND create_time >= '2018-05-04'
        ) orders
    </select>








</mapper>