<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.PartnerDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.PartnerDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="department_id" property="departmentId" jdbcType="BIGINT"/>
        <result column="leader_name" property="leaderName" jdbcType="VARCHAR"/>
        <result column="leader_mobile" property="leaderMobile" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="fax" property="fax" jdbcType="VARCHAR"/>
        <result column="area_id" property="areaId" jdbcType="BIGINT"/>
        <result column="biz_type" property="bizType" jdbcType="TINYINT"/>
        <result column="sign" property="sign" jdbcType="TINYINT"/>
        <result column="cooperation_scale" property="cooperationScale" jdbcType="VARCHAR"/>
        <result column="exec_rate" property="execRate" jdbcType="DECIMAL"/>
        <result column="cooperation_insurance_company" property="cooperationInsuranceCompany" jdbcType="VARCHAR"/>
        <result column="open_bank" property="openBank" jdbcType="VARCHAR"/>
        <result column="account_name" property="accountName" jdbcType="VARCHAR"/>
        <result column="bank_account" property="bankAccount" jdbcType="VARCHAR"/>
        <result column="open_bank_two" property="openBankTwo" jdbcType="VARCHAR"/>
        <result column="account_name_two" property="accountNameTwo" jdbcType="VARCHAR"/>
        <result column="bank_account_two" property="bankAccountTwo" jdbcType="VARCHAR"/>
        <result column="pay_month" property="payMonth" jdbcType="TINYINT"/>
        <result column="risk_bear_rate" property="riskBearRate" jdbcType="DECIMAL"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="feature" property="feature" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, department_id, leader_name, leader_mobile, tel, fax, area_id, biz_type,
        sign, cooperation_scale, exec_rate, cooperation_insurance_company, open_bank, account_name,
        bank_account, open_bank_two, account_name_two, bank_account_two, pay_month, risk_bear_rate,
        gmt_create, gmt_modify, status, feature
    </sql>

    <sql id="Base_Query_List">
        <if test="name != null and name != '' ">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="departmentId != null">
            AND department_id = #{departmentId}
        </if>
        <if test="leaderName != null and leaderName != '' ">
            AND leader_name LIKE CONCAT('%',#{leaderName},'%')
        </if>
        <if test="leaderMobile != null and leaderMobile != '' ">
            AND leader_mobile = #{leaderMobile}
        </if>
        <if test="tel != null and tel != '' ">
            AND tel = #{tel}
        </if>
        <if test="fax != null and fax != '' ">
            AND fax = #{fax}
        </if>
        <if test="areaId != null">
            AND area_id = #{areaId}
        </if>
        <if test="bizType != null">
            AND biz_type = #{bizType}
        </if>
        <if test="sign != null">
            AND sign = #{sign}
        </if>
        <if test="execRate != null">
            AND exec_rate = #{execRate}
        </if>
        <if test="cooperationInsuranceCompany != null and cooperationInsuranceCompany != '' ">
            AND cooperation_insurance_company LIKE CONCAT('%',#{cooperationInsuranceCompany},'%')
        </if>
        <if test="openBank != null and openBank != '' ">
            AND open_bank LIKE CONCAT('%',#{openBank},'%')
        </if>
        <if test="accountName != null and accountName != '' ">
            AND account_name LIKE CONCAT('%',#{accountName},'%')
        </if>
        <if test="bankAccount != null and bankAccount != '' ">
            AND bank_account = #{bankAccount}
        </if>
        <if test="bankAccount != null and bankAccount != '' ">
            AND bank_account = #{bankAccount}
        </if>
        <if test="accountNameTwo != null and accountNameTwo != '' ">
            AND account_name_two LIKE CONCAT('%',#{accountNameTwo},'%')
        </if>
        <if test="bankAccountTwo != null and bankAccountTwo != '' ">
            AND bank_account_two = #{bankAccountTwo}
        </if>
        <if test="bankAccountTwo != null and bankAccountTwo != '' ">
            AND bank_account_two = #{bankAccountTwo}
        </if>
        <if test="payMonth != null">
            AND pay_month = #{payMonth}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </sql>

    <!--  count -->
    <select id="count" parameterType="com.yunche.loan.domain.query.PartnerQuery"
            resultType="java.lang.Integer">
        select COUNT(*)
        from partner
        <where>
            <include refid="Base_Query_List"/>
        </where>
    </select>

    <!-- query -->
    <select id="query" parameterType="com.yunche.loan.domain.query.PartnerQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from partner
        <where>
            <include refid="Base_Query_List"/>
        </where>
        ORDER BY gmt_create DESC
        limit #{startRow}, #{pageSize}
    </select>

    <!--getAllName-->
    <select id="getAllName" resultType="java.lang.String">
        select name
        from partner
        <if test="status != null">
            WHERE status = #{status}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from partner
        where id = #{id,jdbcType=BIGINT}
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <select id="batchSelectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from partner
        where id IN
        <foreach item="id" index="index" collection="idList"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from partner
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.PartnerDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into partner (id, name, department_id,
        leader_name, leader_mobile, tel,
        fax, area_id, biz_type,
        sign, cooperation_scale, exec_rate,
        cooperation_insurance_company, open_bank,
        account_name, bank_account, open_bank_two,
        account_name_two, bank_account_two, pay_month,
        risk_bear_rate, gmt_create, gmt_modify,
        status, feature)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{departmentId,jdbcType=BIGINT},
        #{leaderName,jdbcType=VARCHAR}, #{leaderMobile,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},
        #{fax,jdbcType=VARCHAR}, #{areaId,jdbcType=BIGINT}, #{bizType,jdbcType=TINYINT},
        #{sign,jdbcType=TINYINT}, #{cooperationScale,jdbcType=VARCHAR}, #{execRate,jdbcType=DECIMAL},
        #{cooperationInsuranceCompany,jdbcType=VARCHAR}, #{openBank,jdbcType=VARCHAR},
        #{accountName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{openBankTwo,jdbcType=VARCHAR},
        #{accountNameTwo,jdbcType=VARCHAR}, #{bankAccountTwo,jdbcType=VARCHAR}, #{payMonth,jdbcType=TINYINT},
        #{riskBearRate,jdbcType=DECIMAL}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP},
        #{status,jdbcType=TINYINT}, #{feature,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.PartnerDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into partner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="leaderName != null">
                leader_name,
            </if>
            <if test="leaderMobile != null">
                leader_mobile,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="fax != null">
                fax,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="bizType != null">
                biz_type,
            </if>
            <if test="sign != null">
                sign,
            </if>
            <if test="cooperationScale != null">
                cooperation_scale,
            </if>
            <if test="execRate != null">
                exec_rate,
            </if>
            <if test="cooperationInsuranceCompany != null">
                cooperation_insurance_company,
            </if>
            <if test="openBank != null">
                open_bank,
            </if>
            <if test="accountName != null">
                account_name,
            </if>
            <if test="bankAccount != null">
                bank_account,
            </if>
            <if test="openBankTwo != null">
                open_bank_two,
            </if>
            <if test="accountNameTwo != null">
                account_name_two,
            </if>
            <if test="bankAccountTwo != null">
                bank_account_two,
            </if>
            <if test="payMonth != null">
                pay_month,
            </if>
            <if test="riskBearRate != null">
                risk_bear_rate,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="feature != null">
                feature,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=BIGINT},
            </if>
            <if test="leaderName != null">
                #{leaderName,jdbcType=VARCHAR},
            </if>
            <if test="leaderMobile != null">
                #{leaderMobile,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                #{fax,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=BIGINT},
            </if>
            <if test="bizType != null">
                #{bizType,jdbcType=TINYINT},
            </if>
            <if test="sign != null">
                #{sign,jdbcType=TINYINT},
            </if>
            <if test="cooperationScale != null">
                #{cooperationScale,jdbcType=VARCHAR},
            </if>
            <if test="execRate != null">
                #{execRate,jdbcType=DECIMAL},
            </if>
            <if test="cooperationInsuranceCompany != null">
                #{cooperationInsuranceCompany,jdbcType=VARCHAR},
            </if>
            <if test="openBank != null">
                #{openBank,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null">
                #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="openBankTwo != null">
                #{openBankTwo,jdbcType=VARCHAR},
            </if>
            <if test="accountNameTwo != null">
                #{accountNameTwo,jdbcType=VARCHAR},
            </if>
            <if test="bankAccountTwo != null">
                #{bankAccountTwo,jdbcType=VARCHAR},
            </if>
            <if test="payMonth != null">
                #{payMonth,jdbcType=TINYINT},
            </if>
            <if test="riskBearRate != null">
                #{riskBearRate,jdbcType=DECIMAL},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.PartnerDO">
        update partner
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId,jdbcType=BIGINT},
            </if>
            <if test="leaderName != null">
                leader_name = #{leaderName,jdbcType=VARCHAR},
            </if>
            <if test="leaderMobile != null">
                leader_mobile = #{leaderMobile,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                fax = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=BIGINT},
            </if>
            <if test="bizType != null">
                biz_type = #{bizType,jdbcType=TINYINT},
            </if>
            <if test="sign != null">
                sign = #{sign,jdbcType=TINYINT},
            </if>
            <if test="cooperationScale != null">
                cooperation_scale = #{cooperationScale,jdbcType=VARCHAR},
            </if>
            <if test="execRate != null">
                exec_rate = #{execRate,jdbcType=DECIMAL},
            </if>
            <if test="cooperationInsuranceCompany != null">
                cooperation_insurance_company = #{cooperationInsuranceCompany,jdbcType=VARCHAR},
            </if>
            <if test="openBank != null">
                open_bank = #{openBank,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null">
                account_name = #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                bank_account = #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="openBankTwo != null">
                open_bank_two = #{openBankTwo,jdbcType=VARCHAR},
            </if>
            <if test="accountNameTwo != null">
                account_name_two = #{accountNameTwo,jdbcType=VARCHAR},
            </if>
            <if test="bankAccountTwo != null">
                bank_account_two = #{bankAccountTwo,jdbcType=VARCHAR},
            </if>
            <if test="payMonth != null">
                pay_month = #{payMonth,jdbcType=TINYINT},
            </if>
            <if test="riskBearRate != null">
                risk_bear_rate = #{riskBearRate,jdbcType=DECIMAL},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.PartnerDO">
        update partner
        set name = #{name,jdbcType=VARCHAR},
        department_id = #{departmentId,jdbcType=BIGINT},
        leader_name = #{leaderName,jdbcType=VARCHAR},
        leader_mobile = #{leaderMobile,jdbcType=VARCHAR},
        tel = #{tel,jdbcType=VARCHAR},
        fax = #{fax,jdbcType=VARCHAR},
        area_id = #{areaId,jdbcType=BIGINT},
        biz_type = #{bizType,jdbcType=TINYINT},
        sign = #{sign,jdbcType=TINYINT},
        cooperation_scale = #{cooperationScale,jdbcType=VARCHAR},
        exec_rate = #{execRate,jdbcType=DECIMAL},
        cooperation_insurance_company = #{cooperationInsuranceCompany,jdbcType=VARCHAR},
        open_bank = #{openBank,jdbcType=VARCHAR},
        account_name = #{accountName,jdbcType=VARCHAR},
        bank_account = #{bankAccount,jdbcType=VARCHAR},
        open_bank_two = #{openBankTwo,jdbcType=VARCHAR},
        account_name_two = #{accountNameTwo,jdbcType=VARCHAR},
        bank_account_two = #{bankAccountTwo,jdbcType=VARCHAR},
        pay_month = #{payMonth,jdbcType=TINYINT},
        risk_bear_rate = #{riskBearRate,jdbcType=DECIMAL},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
        status = #{status,jdbcType=TINYINT},
        feature = #{feature,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>