<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.RepaymentRecordDOMapper">
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.RepaymentRecordDO">
    <id column="id_card" jdbcType="VARCHAR" property="idCard" />
    <id column="repay_card_id" jdbcType="VARCHAR" property="repayCardId" />
    <result column="biz_order" jdbcType="BIGINT" property="bizOrder" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="optimal_return" jdbcType="DECIMAL" property="optimalReturn" />
    <result column="min_payment" jdbcType="DECIMAL" property="minPayment" />
    <result column="past_due" jdbcType="DECIMAL" property="pastDue" />
    <result column="current_overdue_times" jdbcType="INTEGER" property="currentOverdueTimes" />
    <result column="cumulative_overdue_times" jdbcType="INTEGER" property="cumulativeOverdueTimes" />
    <result column="card_balance" jdbcType="DECIMAL" property="cardBalance" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id_card, repay_card_id, biz_order, user_name, optimal_return, min_payment, past_due, 
    current_overdue_times, cumulative_overdue_times, card_balance, gmt_create, gmt_modify, 
    feature, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.yunche.loan.domain.entity.RepaymentRecordDOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repayment_record
    where id_card = #{idCard,jdbcType=VARCHAR}
      and repay_card_id = #{repayCardId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.yunche.loan.domain.entity.RepaymentRecordDOKey">
    delete from repayment_record
    where id_card = #{idCard,jdbcType=VARCHAR}
      and repay_card_id = #{repayCardId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yunche.loan.domain.entity.RepaymentRecordDO">
    insert into repayment_record (id_card, repay_card_id, biz_order, 
      user_name, optimal_return, min_payment, 
      past_due, current_overdue_times, cumulative_overdue_times, 
      card_balance, gmt_create, gmt_modify, 
      feature, status)
    values (#{idCard,jdbcType=VARCHAR}, #{repayCardId,jdbcType=VARCHAR}, #{bizOrder,jdbcType=BIGINT}, 
      #{userName,jdbcType=VARCHAR}, #{optimalReturn,jdbcType=DECIMAL}, #{minPayment,jdbcType=DECIMAL}, 
      #{pastDue,jdbcType=DECIMAL}, #{currentOverdueTimes,jdbcType=INTEGER}, #{cumulativeOverdueTimes,jdbcType=INTEGER}, 
      #{cardBalance,jdbcType=DECIMAL}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{feature,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.RepaymentRecordDO">
    insert into repayment_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idCard != null">
        id_card,
      </if>
      <if test="repayCardId != null">
        repay_card_id,
      </if>
      <if test="bizOrder != null">
        biz_order,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="optimalReturn != null">
        optimal_return,
      </if>
      <if test="minPayment != null">
        min_payment,
      </if>
      <if test="pastDue != null">
        past_due,
      </if>
      <if test="currentOverdueTimes != null">
        current_overdue_times,
      </if>
      <if test="cumulativeOverdueTimes != null">
        cumulative_overdue_times,
      </if>
      <if test="cardBalance != null">
        card_balance,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="feature != null">
        feature,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="repayCardId != null">
        #{repayCardId,jdbcType=VARCHAR},
      </if>
      <if test="bizOrder != null">
        #{bizOrder,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="optimalReturn != null">
        #{optimalReturn,jdbcType=DECIMAL},
      </if>
      <if test="minPayment != null">
        #{minPayment,jdbcType=DECIMAL},
      </if>
      <if test="pastDue != null">
        #{pastDue,jdbcType=DECIMAL},
      </if>
      <if test="currentOverdueTimes != null">
        #{currentOverdueTimes,jdbcType=INTEGER},
      </if>
      <if test="cumulativeOverdueTimes != null">
        #{cumulativeOverdueTimes,jdbcType=INTEGER},
      </if>
      <if test="cardBalance != null">
        #{cardBalance,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="feature != null">
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.RepaymentRecordDO">
    update repayment_record
    <set>
      <if test="bizOrder != null">
        biz_order = #{bizOrder,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="optimalReturn != null">
        optimal_return = #{optimalReturn,jdbcType=DECIMAL},
      </if>
      <if test="minPayment != null">
        min_payment = #{minPayment,jdbcType=DECIMAL},
      </if>
      <if test="pastDue != null">
        past_due = #{pastDue,jdbcType=DECIMAL},
      </if>
      <if test="currentOverdueTimes != null">
        current_overdue_times = #{currentOverdueTimes,jdbcType=INTEGER},
      </if>
      <if test="cumulativeOverdueTimes != null">
        cumulative_overdue_times = #{cumulativeOverdueTimes,jdbcType=INTEGER},
      </if>
      <if test="cardBalance != null">
        card_balance = #{cardBalance,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="feature != null">
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id_card = #{idCard,jdbcType=VARCHAR}
      and repay_card_id = #{repayCardId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.RepaymentRecordDO">
    update repayment_record
    set biz_order = #{bizOrder,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      optimal_return = #{optimalReturn,jdbcType=DECIMAL},
      min_payment = #{minPayment,jdbcType=DECIMAL},
      past_due = #{pastDue,jdbcType=DECIMAL},
      current_overdue_times = #{currentOverdueTimes,jdbcType=INTEGER},
      cumulative_overdue_times = #{cumulativeOverdueTimes,jdbcType=INTEGER},
      card_balance = #{cardBalance,jdbcType=DECIMAL},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      feature = #{feature,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id_card = #{idCard,jdbcType=VARCHAR}
      and repay_card_id = #{repayCardId,jdbcType=VARCHAR}
  </update>

  <select id="selectCustomerOverdueRepayList" resultType="com.yunche.loan.domain.vo.RepaymentRecordVO"  >
    SELECT
        a.biz_order as bizOrder,
        a.user_name as userName,
        a.id_card   as idCard,
        d.loan_amount as loanAmount,
        a.optimal_return as optimalReturn,
        a.past_due as pastDue,
        a.cumulative_overdue_times as cumulativeOverdueTimes,
        a.gmt_create as gmtreate
    FROM
        repayment_record a
        LEFT JOIN loan_order b on a.biz_order=b.id
        LEFT JOIN loan_financial_plan d on b.loan_financial_plan_id=d.id
        LEFT JOIN loan_base_info c on b.loan_base_info_id=c.id ;

  </select>

  <select id="selectCustomerOverdueRepayDetail" resultType="com.yunche.loan.domain.param.RepaymentRecordParam"  >
    SELECT
    a.biz_order AS 	bizOrder,
    a.user_name AS  userName,
    a.id_card   AS  idCard,
    a.repay_card_id AS repayCardId,
    a.optimal_return AS optimalReturn,
    a.min_payment AS minPayment,
    a.past_due  AS  pastDue,
    a.current_overdue_times AS currentOverdueTimes,
    a.cumulative_overdue_times AS cumulativeOverdueTimes,
    a.card_balance AS cardBalance,
    a.gmt_create AS gmtCreate,
    d.loan_amount AS loanAmount,
    (select name from partner where  id=c.partner_id  ) AS partnerName,
    d.bank_period_principal AS bankPeriodPrincipal,
    d.loan_time AS loanTime,
    e.mobile AS mobile
    FROM
    repayment_record a
    LEFT JOIN loan_order b on a.biz_order=b.id
    LEFT JOIN loan_financial_plan d on b.loan_financial_plan_id=d.id
    LEFT JOIN loan_base_info c on b.loan_base_info_id=c.id
    LEFT JOIN loan_customer e on b.loan_customer_id=e.id
    where a.biz_order=#{orderId};

  </select>

</mapper>