<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.SerialNoDOMapper">
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.SerialNoDO">
    <id column="order_id" jdbcType="BIGINT" property="orderId" />
    <id column="serial_no" jdbcType="BIGINT" property="serialNo" />
    <result column="operation" jdbcType="INTEGER" property="operation" />
    <result column="ex_message" jdbcType="VARCHAR" property="exMessage" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, serial_no, operation, ex_message, status, gmt_create
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.yunche.loan.domain.entity.SerialNoDOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from serial_no
    where order_id = #{orderId,jdbcType=BIGINT}
      and serial_no = #{serialNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.yunche.loan.domain.entity.SerialNoDOKey">
    delete from serial_no
    where order_id = #{orderId,jdbcType=BIGINT}
      and serial_no = #{serialNo,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunche.loan.domain.entity.SerialNoDO">
    insert into serial_no (order_id, serial_no, operation, 
      ex_message, status, gmt_create
      )
    values (#{orderId,jdbcType=BIGINT}, #{serialNo,jdbcType=BIGINT}, #{operation,jdbcType=INTEGER}, 
      #{exMessage,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.SerialNoDO">
    insert into serial_no
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="serialNo != null">
        serial_no,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="exMessage != null">
        ex_message,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="serialNo != null">
        #{serialNo,jdbcType=BIGINT},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=INTEGER},
      </if>
      <if test="exMessage != null">
        #{exMessage,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.SerialNoDO">
    update serial_no
    <set>
      <if test="operation != null">
        operation = #{operation,jdbcType=INTEGER},
      </if>
      <if test="exMessage != null">
        ex_message = #{exMessage,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
      and serial_no = #{serialNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.SerialNoDO">
    update serial_no
    set operation = #{operation,jdbcType=INTEGER},
      ex_message = #{exMessage,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=BIGINT}
      and serial_no = #{serialNo,jdbcType=BIGINT}
  </update>
</mapper>