<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.ThirdPartyFundBusinessDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.ThirdPartyFundBusinessDO">
        <id column="bridge_procecss_id" jdbcType="BIGINT" property="bridgeProcecssId" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="lend_date" jdbcType="TIMESTAMP" property="lendDate" />
        <result column="repay_type" jdbcType="TINYINT" property="repayType" />
        <result column="repay_date" jdbcType="TIMESTAMP" property="repayDate" />
        <result column="repay_remark" jdbcType="VARCHAR" property="repayRemark" />
        <result column="interest" jdbcType="DECIMAL" property="interest" />
        <result column="poundage" jdbcType="DECIMAL" property="poundage" />
        <result column="repay_interest_date" jdbcType="TIMESTAMP" property="repayInterestDate" />
        <result column="repay_register_remark" jdbcType="VARCHAR" property="repayRegisterRemark" />
        <result column="lend_status" jdbcType="TINYINT" property="lendStatus" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
        <result column="lend_amount" jdbcType="DECIMAL" property="lendAmount" />
    </resultMap>
    <sql id="Base_Column_List">
        bridge_procecss_id, order_id, lend_date, repay_type, repay_date, repay_remark, interest,
        poundage, repay_interest_date, repay_register_remark, lend_status, gmt_create, gmt_modify,lend_amount
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from third_party_fund_business
        where bridge_procecss_id = #{bridgeProcecssId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from third_party_fund_business
        where bridge_procecss_id = #{bridgeProcecssId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yunche.loan.domain.entity.ThirdPartyFundBusinessDO">
        insert into third_party_fund_business (bridge_procecss_id, order_id, lend_date,
        repay_type, repay_date, repay_remark,
        interest, poundage, repay_interest_date,
        repay_register_remark, lend_status, gmt_create,
        gmt_modify,lend_amount)
        values (#{bridgeProcecssId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{lendDate,jdbcType=TIMESTAMP},
        #{repayType,jdbcType=TINYINT}, #{repayDate,jdbcType=TIMESTAMP}, #{repayRemark,jdbcType=VARCHAR},
        #{interest,jdbcType=DECIMAL}, #{poundage,jdbcType=DECIMAL}, #{repayInterestDate,jdbcType=TIMESTAMP},
        #{repayRegisterRemark,jdbcType=VARCHAR}, #{lendStatus,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModify,jdbcType=TIMESTAMP},#{lendAmount,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.ThirdPartyFundBusinessDO">
        insert into third_party_fund_business
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bridgeProcecssId != null">
                bridge_procecss_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="lendDate != null">
                lend_date,
            </if>
            <if test="repayType != null">
                repay_type,
            </if>
            <if test="repayDate != null">
                repay_date,
            </if>
            <if test="repayRemark != null">
                repay_remark,
            </if>
            <if test="interest != null">
                interest,
            </if>
            <if test="poundage != null">
                poundage,
            </if>
            <if test="repayInterestDate != null">
                repay_interest_date,
            </if>
            <if test="repayRegisterRemark != null">
                repay_register_remark,
            </if>
            <if test="lendStatus != null">
                lend_status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="lendAmount != null">
                lend_amount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bridgeProcecssId != null">
                #{bridgeProcecssId,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="lendDate != null">
                #{lendDate,jdbcType=TIMESTAMP},
            </if>
            <if test="repayType != null">
                #{repayType,jdbcType=TINYINT},
            </if>
            <if test="repayDate != null">
                #{repayDate,jdbcType=TIMESTAMP},
            </if>
            <if test="repayRemark != null">
                #{repayRemark,jdbcType=VARCHAR},
            </if>
            <if test="interest != null">
                #{interest,jdbcType=DECIMAL},
            </if>
            <if test="poundage != null">
                #{poundage,jdbcType=DECIMAL},
            </if>
            <if test="repayInterestDate != null">
                #{repayInterestDate,jdbcType=TIMESTAMP},
            </if>
            <if test="repayRegisterRemark != null">
                #{repayRegisterRemark,jdbcType=VARCHAR},
            </if>
            <if test="lendStatus != null">
                #{lendStatus,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="lendAmount != null">
                #{lendAmount,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.ThirdPartyFundBusinessDO">
        update third_party_fund_business
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="lendDate != null">
                lend_date = #{lendDate,jdbcType=TIMESTAMP},
            </if>
            <if test="repayType != null">
                repay_type = #{repayType,jdbcType=TINYINT},
            </if>
            <if test="repayDate != null">
                repay_date = #{repayDate,jdbcType=TIMESTAMP},
            </if>
            <if test="repayRemark != null">
                repay_remark = #{repayRemark,jdbcType=VARCHAR},
            </if>
            <if test="interest != null">
                interest = #{interest,jdbcType=DECIMAL},
            </if>
            <if test="poundage != null">
                poundage = #{poundage,jdbcType=DECIMAL},
            </if>
            <if test="repayInterestDate != null">
                repay_interest_date = #{repayInterestDate,jdbcType=TIMESTAMP},
            </if>
            <if test="repayRegisterRemark != null">
                repay_register_remark = #{repayRegisterRemark,jdbcType=VARCHAR},
            </if>
            <if test="lendStatus != null">
                lend_status = #{lendStatus,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="lendAmount != null">
                lend_amount = #{lendAmount,jdbcType=DECIMAL},
            </if>
        </set>
        where bridge_procecss_id = #{bridgeProcecssId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.ThirdPartyFundBusinessDO">
        update third_party_fund_business
        set order_id = #{orderId,jdbcType=BIGINT},
        lend_date = #{lendDate,jdbcType=TIMESTAMP},
        repay_type = #{repayType,jdbcType=TINYINT},
        repay_date = #{repayDate,jdbcType=TIMESTAMP},
        repay_remark = #{repayRemark,jdbcType=VARCHAR},
        interest = #{interest,jdbcType=DECIMAL},
        poundage = #{poundage,jdbcType=DECIMAL},
        repay_interest_date = #{repayInterestDate,jdbcType=TIMESTAMP},
        repay_register_remark = #{repayRegisterRemark,jdbcType=VARCHAR},
        lend_status = #{lendStatus,jdbcType=TINYINT},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
        lend_amount = #{lendAmount,jdbcType=DECIMAL}
        where bridge_procecss_id = #{bridgeProcecssId,jdbcType=BIGINT}
    </update>

    <update id="updateInfo">
        UPDATE third_party_fund_business
        SET  repay_date = #{repayDate},
              interest = #{interest},
              poundage = #{poundage},
              repay_type = 1
        WHERE
	order_id = #{orderId}
    </update>


    <!-- batchInsert -->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into third_party_fund_business (bridge_procecss_id, order_id, lend_date, repay_type,
        repay_date, repay_remark, interest,
        poundage, repay_interest_date, repay_register_remark,lend_status,
        gmt_create, gmt_modify,lend_amount)
        values
        <foreach collection="list" item="item" index="index">
            (#{item.bridgeProcecssId,jdbcType=BIGINT},
            #{item.orderId,jdbcType=BIGINT}, #{item.lendDate,jdbcType=TIMESTAMP},
            #{item.repayType,jdbcType=TINYINT},
            #{item.repayDate,jdbcType=TIMESTAMP},#{item.repayRemark,jdbcType=VARCHAR},
            #{item.interest,jdbcType=DECIMAL},
            #{item.poundage,jdbcType=DECIMAL},#{item.repayInterestDate,jdbcType=TIMESTAMP},
            #{item.repayRegisterRemark,jdbcType=VARCHAR}, #{lendStatus,jdbcType=TINYINT},
            #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModify,jdbcType=TIMESTAMP},
            #{item.lendAmount,jdbcType=DECIMAL})
        </foreach>
    </insert>


    <select id="exportLoanButNotRepay" >
        select * from loan_process_bridge process
        left join third_party_fund_business third on third.bridge_procecss_id = process.id
        where process.bridge_handle = 1 and process.bridge_repay_record != 1
        <if test="startDate != null and startDate != ''">
            <![CDATA[ AND third.lend_date >= #{startDate}]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[ AND third.lend_date <= #{endDate} ]]>
        </if>
    </select>
</mapper>