<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.VideoFaceLogDOMapper">
    <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.VideoFaceLogDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="guarantee_company_id" property="guaranteeCompanyId" jdbcType="BIGINT"/>
        <result column="guarantee_company_name" property="guaranteeCompanyName" jdbcType="VARCHAR"/>
        <result column="customer_id" property="customerId" jdbcType="BIGINT"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <result column="customer_id_card" property="customerIdCard" jdbcType="CHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="auditor_id" property="auditorId" jdbcType="BIGINT"/>
        <result column="auditor_name" property="auditorName" jdbcType="VARCHAR"/>
        <result column="action" property="action" jdbcType="TINYINT"/>
        <result column="latlon" property="latlon" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="car_detail_id" property="carDetailId" jdbcType="BIGINT"/>
        <result column="car_name" property="carName" jdbcType="VARCHAR"/>
        <result column="car_price" property="carPrice" jdbcType="DECIMAL"/>
        <result column="expect_loan_amount" property="expectLoanAmount" jdbcType="DECIMAL"/>
        <result column="photo_similarity_degree" property="photoSimilarityDegree" jdbcType="DECIMAL"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP"/>
        <result column="bank_id" property="bankId" jdbcType="BIGINT"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ResultMapWithBLOBs" type="com.yunche.loan.domain.entity.VideoFaceLogDO" extends="BaseResultMap">
        <result column="info" property="info" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, order_id, guarantee_company_id, guarantee_company_name, customer_id, customer_name,
        customer_id_card, path, type, auditor_id, auditor_name, action, latlon, address,
        car_detail_id, car_name, car_price, expect_loan_amount, photo_similarity_degree,
        gmt_create, gmt_modify, bank_id, bank_name
    </sql>

    <sql id="Blob_Column_List">
        info
    </sql>

    <sql id="Base_Query_List">
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="orderId != null">
            AND order_id = #{orderId}
        </if>
        <if test="guaranteeCompanyId != null">
            AND guarantee_company_id = #{guaranteeCompanyId}
        </if>
        <if test="guaranteeCompanyName != null and guaranteeCompanyName != '' ">
            AND guarantee_company_name LIKE CONCAT('%',#{guaranteeCompanyName},'%')
        </if>
        <if test="customerId != null">
            AND customer_id = #{customerId}
        </if>
        <if test="customerName != null and customerName != '' ">
            AND customer_name = #{customerName}
        </if>
        <if test="customerIdCard != null and customerIdCard != '' ">
            AND customer_id_card = #{customerIdCard}
        </if>
        <if test="path != null">
            AND path = #{path}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="auditorId != null">
            AND auditor_id = #{auditorId}
        </if>
        <if test="auditorName != null and auditorName != '' ">
            AND auditor_name = #{auditorName}
        </if>
        <if test="action != null">
            AND action = #{action}
        </if>
        <if test="latlon != null and latlon != '' ">
            AND latlon = #{latlon}
        </if>
        <if test="address != null and address != '' ">
            AND address = #{address}
        </if>
        <if test="carDetailId != null">
            AND car_detail_id = #{carDetailId}
        </if>
        <if test="carName != null and carName != '' ">
            AND car_name = #{carName}
        </if>
        <if test="bankId != null">
            AND bank_id = #{bankId}
        </if>
        <if test="bankName != null and bankName != '' ">
            AND bank_name = #{bankName}
        </if>
        <if test="carPrice != null and carPrice != '' ">
            AND car_price = #{carPrice}
        </if>
        <if test="expectLoanAmount != null and expectLoanAmount != '' ">
            AND expect_loan_amount = #{expectLoanAmount}
        </if>
        <if test="photoSimilarityDegree != null">
            AND photo_similarity_degree = #{photoSimilarityDegree}
        </if>
        <if test="gmtCreateStart != null">
            <![CDATA[ AND gmt_create >= #{gmtCreateStart} ]]>
        </if>
        <if test="gmtCreateEnd != null">
            <![CDATA[ AND gmt_create <= #{gmtCreateEnd} ]]>
        </if>
        <if test="gmtModifyStart != null">
            <![CDATA[ AND gmt_modify >= #{gmtModifyStart} ]]>
        </if>
        <if test="gmtModifyEnd != null">
            <![CDATA[ AND gmt_modify <= #{gmtModifyEnd} ]]>
        </if>
    </sql>

    <!--query-->
    <select id="query" parameterType="com.yunche.loan.domain.query.VideoFaceQuery" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from video_face_log
        <where>
            <include refid="Base_Query_List"/>
        </where>
        ORDER BY gmt_create DESC
    </select>

    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from video_face_log
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from video_face_log
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.yunche.loan.domain.entity.VideoFaceLogDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into video_face_log (id, order_id, guarantee_company_id,
        guarantee_company_name, customer_id, customer_name,
        customer_id_card, path, type,
        auditor_id, auditor_name, action,
        latlon, address, car_detail_id,
        car_name, car_price, expect_loan_amount,
        photo_similarity_degree, gmt_create, gmt_modify,
        bank_id, bank_name, info
        )
        values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{guaranteeCompanyId,jdbcType=BIGINT},
        #{guaranteeCompanyName,jdbcType=VARCHAR}, #{customerId,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR},
        #{customerIdCard,jdbcType=CHAR}, #{path,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
        #{auditorId,jdbcType=BIGINT}, #{auditorName,jdbcType=VARCHAR}, #{action,jdbcType=TINYINT},
        #{latlon,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{carDetailId,jdbcType=BIGINT},
        #{carName,jdbcType=VARCHAR}, #{carPrice,jdbcType=DECIMAL}, #{expectLoanAmount,jdbcType=DECIMAL},
        #{photoSimilarityDegree,jdbcType=DECIMAL}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP},
        #{bankId,jdbcType=BIGINT}, #{bankName,jdbcType=VARCHAR}, #{info,jdbcType=LONGVARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.VideoFaceLogDO">
        <selectKey resultType="java.lang.Long" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into video_face_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="guaranteeCompanyId != null">
                guarantee_company_id,
            </if>
            <if test="guaranteeCompanyName != null">
                guarantee_company_name,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="customerName != null">
                customer_name,
            </if>
            <if test="customerIdCard != null">
                customer_id_card,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="auditorId != null">
                auditor_id,
            </if>
            <if test="auditorName != null">
                auditor_name,
            </if>
            <if test="action != null">
                action,
            </if>
            <if test="latlon != null">
                latlon,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="carDetailId != null">
                car_detail_id,
            </if>
            <if test="carName != null">
                car_name,
            </if>
            <if test="carPrice != null">
                car_price,
            </if>
            <if test="expectLoanAmount != null">
                expect_loan_amount,
            </if>
            <if test="photoSimilarityDegree != null">
                photo_similarity_degree,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="bankId != null">
                bank_id,
            </if>
            <if test="bankName != null">
                bank_name,
            </if>
            <if test="info != null">
                info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="guaranteeCompanyId != null">
                #{guaranteeCompanyId,jdbcType=BIGINT},
            </if>
            <if test="guaranteeCompanyName != null">
                #{guaranteeCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customerName != null">
                #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="customerIdCard != null">
                #{customerIdCard,jdbcType=CHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="auditorId != null">
                #{auditorId,jdbcType=BIGINT},
            </if>
            <if test="auditorName != null">
                #{auditorName,jdbcType=VARCHAR},
            </if>
            <if test="action != null">
                #{action,jdbcType=TINYINT},
            </if>
            <if test="latlon != null">
                #{latlon,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="carDetailId != null">
                #{carDetailId,jdbcType=BIGINT},
            </if>
            <if test="carName != null">
                #{carName,jdbcType=VARCHAR},
            </if>
            <if test="carPrice != null">
                #{carPrice,jdbcType=DECIMAL},
            </if>
            <if test="expectLoanAmount != null">
                #{expectLoanAmount,jdbcType=DECIMAL},
            </if>
            <if test="photoSimilarityDegree != null">
                #{photoSimilarityDegree,jdbcType=DECIMAL},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="bankId != null">
                #{bankId,jdbcType=BIGINT},
            </if>
            <if test="bankName != null">
                #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                #{info,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.VideoFaceLogDO">
        update video_face_log
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="guaranteeCompanyId != null">
                guarantee_company_id = #{guaranteeCompanyId,jdbcType=BIGINT},
            </if>
            <if test="guaranteeCompanyName != null">
                guarantee_company_name = #{guaranteeCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customerName != null">
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="customerIdCard != null">
                customer_id_card = #{customerIdCard,jdbcType=CHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="auditorId != null">
                auditor_id = #{auditorId,jdbcType=BIGINT},
            </if>
            <if test="auditorName != null">
                auditor_name = #{auditorName,jdbcType=VARCHAR},
            </if>
            <if test="action != null">
                action = #{action,jdbcType=TINYINT},
            </if>
            <if test="latlon != null">
                latlon = #{latlon,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="carDetailId != null">
                car_detail_id = #{carDetailId,jdbcType=BIGINT},
            </if>
            <if test="carName != null">
                car_name = #{carName,jdbcType=VARCHAR},
            </if>
            <if test="carPrice != null">
                car_price = #{carPrice,jdbcType=DECIMAL},
            </if>
            <if test="expectLoanAmount != null">
                expect_loan_amount = #{expectLoanAmount,jdbcType=DECIMAL},
            </if>
            <if test="photoSimilarityDegree != null">
                photo_similarity_degree = #{photoSimilarityDegree,jdbcType=DECIMAL},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="bankId != null">
                bank_id = #{bankId,jdbcType=BIGINT},
            </if>
            <if test="bankName != null">
                bank_name = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                info = #{info,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yunche.loan.domain.entity.VideoFaceLogDO">
        update video_face_log
        set order_id = #{orderId,jdbcType=BIGINT},
        guarantee_company_id = #{guaranteeCompanyId,jdbcType=BIGINT},
        guarantee_company_name = #{guaranteeCompanyName,jdbcType=VARCHAR},
        customer_id = #{customerId,jdbcType=BIGINT},
        customer_name = #{customerName,jdbcType=VARCHAR},
        customer_id_card = #{customerIdCard,jdbcType=CHAR},
        path = #{path,jdbcType=VARCHAR},
        type = #{type,jdbcType=TINYINT},
        auditor_id = #{auditorId,jdbcType=BIGINT},
        auditor_name = #{auditorName,jdbcType=VARCHAR},
        action = #{action,jdbcType=TINYINT},
        latlon = #{latlon,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        car_detail_id = #{carDetailId,jdbcType=BIGINT},
        car_name = #{carName,jdbcType=VARCHAR},
        car_price = #{carPrice,jdbcType=DECIMAL},
        expect_loan_amount = #{expectLoanAmount,jdbcType=DECIMAL},
        photo_similarity_degree = #{photoSimilarityDegree,jdbcType=DECIMAL},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
        bank_id = #{bankId,jdbcType=BIGINT},
        bank_name = #{bankName,jdbcType=VARCHAR},
        info = #{info,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.VideoFaceLogDO">
    update video_face_log
    set order_id = #{orderId,jdbcType=BIGINT},
      guarantee_company_id = #{guaranteeCompanyId,jdbcType=BIGINT},
      guarantee_company_name = #{guaranteeCompanyName,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=BIGINT},
      customer_name = #{customerName,jdbcType=VARCHAR},
      customer_id_card = #{customerIdCard,jdbcType=CHAR},
      path = #{path,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      auditor_id = #{auditorId,jdbcType=BIGINT},
      auditor_name = #{auditorName,jdbcType=VARCHAR},
      action = #{action,jdbcType=TINYINT},
      latlon = #{latlon,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      car_detail_id = #{carDetailId,jdbcType=BIGINT},
      car_name = #{carName,jdbcType=VARCHAR},
      car_price = #{carPrice,jdbcType=DECIMAL},
      expect_loan_amount = #{expectLoanAmount,jdbcType=DECIMAL},
      photo_similarity_degree = #{photoSimilarityDegree,jdbcType=DECIMAL},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      bank_id = #{bankId,jdbcType=BIGINT},
      bank_name = #{bankName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>