<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunche.loan.mapper.VoucherErrRecordDOMapper">
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.VoucherErrRecordDO">
    <id column="serial_no" jdbcType="VARCHAR" property="serialNo" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="task_definition_key" jdbcType="VARCHAR" property="taskDefinitionKey" />
    <result column="ret_status" jdbcType="VARCHAR" property="retStatus" />
    <result column="ret_message" jdbcType="VARCHAR" property="retMessage" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    serial_no, order_id, process_id, task_definition_key, ret_status, ret_message, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from voucher_err_record
    where serial_no = #{serialNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from voucher_err_record
    where serial_no = #{serialNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yunche.loan.domain.entity.VoucherErrRecordDO">
    insert into voucher_err_record (serial_no, order_id, process_id, task_definition_key,
      ret_status, ret_message, create_time
      )
    values (#{serialNo,jdbcType=VARCHAR}, #{orderId,jdbcType=BIGINT}, #{processId,jdbcType=BIGINT}, #{taskDefinitionKey,jdbcType=VARCHAR},
      #{retStatus,jdbcType=VARCHAR}, #{retMessage,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.VoucherErrRecordDO">
    insert into voucher_err_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serialNo != null">
        serial_no,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="processId != null">
        process_id,
      </if>

      <if test="taskDefinitionKey != null">
        task_definition_key,
      </if>
      <if test="retStatus != null">
        ret_status,
      </if>
      <if test="retMessage != null">
        ret_message,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serialNo != null">
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=BIGINT},
      </if>
      <if test="taskDefinitionKey != null">
        #{taskDefinitionKey,jdbcType=VARCHAR},
      </if>
      <if test="retStatus != null">
        #{retStatus,jdbcType=VARCHAR},
      </if>
      <if test="retMessage != null">
        #{retMessage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunche.loan.domain.entity.VoucherErrRecordDO">
    update voucher_err_record
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="processId != null">
        process_id = #{processId,jdbcType=BIGINT},
      </if>

      <if test="taskDefinitionKey != null">
        task_definition_key = #{taskDefinitionKey,jdbcType=VARCHAR},
      </if>
      <if test="retStatus != null">
        ret_status = #{retStatus,jdbcType=VARCHAR},
      </if>
      <if test="retMessage != null">
        ret_message = #{retMessage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where serial_no = #{serialNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunche.loan.domain.entity.VoucherErrRecordDO">
    update voucher_err_record
    set order_id = #{orderId,jdbcType=BIGINT},
    process_id = #{processId,jdbcType=BIGINT},
      task_definition_key = #{taskDefinitionKey,jdbcType=VARCHAR},
      ret_status = #{retStatus,jdbcType=VARCHAR},
      ret_message = #{retMessage,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where serial_no = #{serialNo,jdbcType=VARCHAR}
  </update>
</mapper>