<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunche.loan.mapper.ZhonganShixinDOMapper" >
  <resultMap id="BaseResultMap" type="com.yunche.loan.domain.entity.ZhonganShixinDO" >
    <result column="zhongan_id" property="zhongan_id" jdbcType="BIGINT" />
    <result column="keyid" property="keyid" jdbcType="VARCHAR" />
    <result column="typet" property="typet" jdbcType="VARCHAR" />
    <result column="typetname" property="typetname" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sslong" property="sslong" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="casenum" property="casenum" jdbcType="VARCHAR" />
    <result column="court" property="court" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="timetype" property="timetype" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sx_sf" property="sx_sf" jdbcType="VARCHAR" />
    <result column="sx_lx" property="sx_lx" jdbcType="VARCHAR" />
    <result column="sx_jt" property="sx_jt" jdbcType="VARCHAR" />
    <result column="sx_fb" property="sx_fb" jdbcType="VARCHAR" />
    <result column="sx_wh" property="sx_wh" jdbcType="VARCHAR" />
    <result column="sx_dw" property="sx_dw" jdbcType="VARCHAR" />
    <result column="wlmoney" property="wlmoney" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.yunche.loan.domain.entity.ZhonganShixinDO" >
    insert into zhongan_shixin (zhongan_id, keyid, typet, 
      typetname, title, sslong, 
      name, id, casenum, 
      court, content, timetype, 
      state, remark, sx_sf, 
      sx_lx, sx_jt, sx_fb, 
      sx_wh, sx_dw, wlmoney
      )
    values (#{zhongan_id,jdbcType=BIGINT}, #{keyid,jdbcType=VARCHAR}, #{typet,jdbcType=VARCHAR}, 
      #{typetname,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{sslong,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{casenum,jdbcType=VARCHAR}, 
      #{court,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{timetype,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{sx_sf,jdbcType=VARCHAR}, 
      #{sx_lx,jdbcType=VARCHAR}, #{sx_jt,jdbcType=VARCHAR}, #{sx_fb,jdbcType=VARCHAR}, 
      #{sx_wh,jdbcType=VARCHAR}, #{sx_dw,jdbcType=VARCHAR}, #{wlmoney,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunche.loan.domain.entity.ZhonganShixinDO" >
    insert into zhongan_shixin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zhongan_id != null" >
        zhongan_id,
      </if>
      <if test="keyid != null" >
        keyid,
      </if>
      <if test="typet != null" >
        typet,
      </if>
      <if test="typetname != null" >
        typetname,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="sslong != null" >
        sslong,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="casenum != null" >
        casenum,
      </if>
      <if test="court != null" >
        court,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="timetype != null" >
        timetype,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="sx_sf != null" >
        sx_sf,
      </if>
      <if test="sx_lx != null" >
        sx_lx,
      </if>
      <if test="sx_jt != null" >
        sx_jt,
      </if>
      <if test="sx_fb != null" >
        sx_fb,
      </if>
      <if test="sx_wh != null" >
        sx_wh,
      </if>
      <if test="sx_dw != null" >
        sx_dw,
      </if>
      <if test="wlmoney != null" >
        wlmoney,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zhongan_id != null" >
        #{zhongan_id,jdbcType=BIGINT},
      </if>
      <if test="keyid != null" >
        #{keyid,jdbcType=VARCHAR},
      </if>
      <if test="typet != null" >
        #{typet,jdbcType=VARCHAR},
      </if>
      <if test="typetname != null" >
        #{typetname,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sslong != null" >
        #{sslong,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="casenum != null" >
        #{casenum,jdbcType=VARCHAR},
      </if>
      <if test="court != null" >
        #{court,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="timetype != null" >
        #{timetype,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sx_sf != null" >
        #{sx_sf,jdbcType=VARCHAR},
      </if>
      <if test="sx_lx != null" >
        #{sx_lx,jdbcType=VARCHAR},
      </if>
      <if test="sx_jt != null" >
        #{sx_jt,jdbcType=VARCHAR},
      </if>
      <if test="sx_fb != null" >
        #{sx_fb,jdbcType=VARCHAR},
      </if>
      <if test="sx_wh != null" >
        #{sx_wh,jdbcType=VARCHAR},
      </if>
      <if test="sx_dw != null" >
        #{sx_dw,jdbcType=VARCHAR},
      </if>
      <if test="wlmoney != null" >
        #{wlmoney,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByZhonganId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select * from zhongan_shixin where zhongan_id = #{zhonganId,jdbcType=BIGINT}
  </select>
</mapper>